.ff-el-group {
  font-size: 15px;

  input[type=email], input[type=number], input[type=password], input[type=text], input[type=tel], input[type=url], textarea {
    background: white;
    color: $inputColor;
    border-radius: $boderRadius;
    border: $primaryBorderWidth solid $primaryColor;
    padding: 10px;
    &:focus {
      border-color: $borderFocus;
      outline: 0;
    }
  }


  .iti--allow-dropdown input {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
  }

  input[readonly] {
    background: $offBg !important;
    cursor: pointer;
  }

  .ff-el-input--content {
    select, .choices__list--single, .choices[data-type*='select-multiple'] {
      border: $primaryBorderWidth solid $primaryColor;
      border-radius: $boderRadius;
      background: white;
      color: $inputColor;

      &:focus {
        border-color: $borderFocus;
        outline: 0;
      }
    }
    .choices__list--dropdown {
      border: $primaryBorderWidth solid $primaryColor;
      color: $inputColor;
    }
    .choices__inner {
      border-radius: 0;
      border: 0;
    }
  }

  .ff-el-input--label {
    label {
      color: $primaryColor;
    }
  }

  .ff-el-form-check-label {
    color: $inputColor;
  }

  &.ff-el-is-error .ff-el-form-control {
    border-color: $errorColor;
  }
  input[type=checkbox], input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transform: scale(1.1);
    margin-top: -4px;
    width: 23px;
    height: 10px;
    margin-right: 0px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    text-align: left;
    border: none;
    box-shadow: none;

    &:before {
      content: none;
    }

    &:after {
      content: " ";
      background-color: $checkBg;
      display: inline-block;
      margin-left: 3px;
      padding-bottom: 3px;
      color: $primaryColor;
      width: 15px;
      height: 15px;
      visibility: visible;
      border: $chekableBorderWidth solid $primaryColor;
      padding-left: 1px;
      border-radius: 0px;
      padding-top: 1px;
      transition: all .1s ease;
      background-size: 9px;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      box-sizing: border-box;
    }

    &:checked:after {
      border-width: 1px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
      font-weight: bold;
      background-color: $activeColor;
      transition: all 0.3s ease-out;
      color: $checkBg;
      border-color: $activeColor;
    }
  }

  input[type=radio] {
    &:after {
      border-radius: 50%;
      font-size: 10px;
      padding-top: 1px;
      padding-left: 2px;
    }
  }

}

.ff-el-image-holder {
  text-align: center;

  .ff-el-image-input-src {
    border-radius: 50%;
  }

  &.ff_item_selected {
    .ff-el-image-input-src {
      border: 4px solid $activeColor;
    }
  }
}

.fluent-address > .ff-el-input--label {
  display: block;
  line-height: 30px;
  font-size: 18px;
  border-bottom: $secondaryBorderWidth solid $primaryColor;
  color: $primaryColor;
  margin-bottom: 15px;
}

.ff_net_table {
  tbody {
    tr {
      td:first-of-type {
        border-left: $primaryBorderWidth solid $primaryColor;
      }

      td {
        border: $primaryBorderWidth solid $primaryColor;
        border-right-width: 0px;

        input[type=radio]:checked + label {
          background-color: $activeColor;
          color: $checkBg;
        }

        label:hover:after {
          border: $primaryBorderWidth solid $activeColor;
        }
      }

      td:last-of-type {
        border-right-width: $primaryBorderWidth;
      }
    }
  }

  thead {
    tr span {
      color: $inputColor;
    }
  }
}

.ff-el-progress-bar {
  background-color: $activeColor;
}

button.ff-btn-next {
  background: $activeColor;
  color: white;
  padding: 6px 20px;
  font-weight: bold;
  border-color: $activeColor;

  &:hover {
    background: white;
    color: $activeColor;
  }
}

button.ff-btn-prev {
  background: white;
  color: $primaryColor;
  border-color: $primaryColor;
}