.ffp_table {
  empty-cells: show;
  font-size: 14px;
  border-collapse: collapse;
  border: 1px solid #cbcbcb;
  width: 100%;

  td, th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
  }

  td:first-child, th:first-child {
    border-left-width: 0;
  }

  thead {
    background-color: #e3e8ee;
    color: #000;
    text-align: left;
    vertical-align: bottom;
  }

  td {
    background-color: transparent;
  }

  tfoot {
    border-top: 1px solid #cbcbcb;

    .item_right {
      text-align: right;
    }
  }
}

.ffp_table_wrapper {
  position: relative;
}

.ffp_table_close {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 1;
}

.ffp_close_icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #66666A;
  border-radius: 50%;
  background: #F1F1F1;
  box-shadow: 0 0 2px 4px #E1E1E1;
  opacity: 0.8;
  transition: 0.3s;
}

.ffp_close_icon:hover {
  opacity: 1;
  color: #33333A;
}

table.input_items_table {
  border-collapse: collapse;
  margin-bottom: 0;

  tr {
    td {
      border: 1px solid #cbcbcb;
      text-align: left;
      width: auto;
      word-break: normal;
    }

    th {
      border: 1px solid #cbcbcb;
      text-align: left;
      width: auto;
      word-break: normal;
      min-width: 20%;
    }
  }
}

ul.ff_sub_items {
  list-style: disc;
  margin-left: 0;
  padding-left: 25px;
  margin-bottom: 0;
}

.ff_sub_smart_ui {
  .ff-el-form-check-label {
    .ff_plan_title {
      font-size: 120%;
      display: block;
      margin-bottom: 5px;
    }
  }
  .ff_sub_desc {
    .ff_summary_container {
      display: block !important;
    }
  }
}