@import "~element-ui/lib/theme-chalk/form.css";
@import "~element-ui/lib/theme-chalk/form-item.css";
@import "~element-ui/lib/theme-chalk/color-picker.css";
@import "~element-ui/lib/theme-chalk/slider.css";
@import "~element-ui/lib/theme-chalk/button.css";
@import "~element-ui/lib/theme-chalk/input.css";
@import "~element-ui/lib/theme-chalk/row.css";
@import "~element-ui/lib/theme-chalk/col.css";
@import "~element-ui/lib/theme-chalk/switch.css";
@import "./browser_frame";

.fcc_conversational_design {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 80vh;
  background: rgb(250, 250, 250);
  .ffc_design_sidebar {
    width: 300px;
    background-color: white;
    border: 1px solid #e2e4e7;
    .ffc_sidebar_header {
      width: 300px;
    }
    .ffc_sidebar_body {
      padding: 10px 15px 10px 15px;
      .el-form-item__content {
        text-align: right;
      }
      .el-form-item {
        margin-bottom: 5px;
      }
      .ffc_design_submit {
        margin-top: 30px;
        text-align: center;
      }
    }
  }
  .ffc_design_container {
    width: 100%;
    padding: 10px 20px;
  }

  .ffc_sidebar_header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #e2e4e7;
    li {
      padding: 10px 5px;
      cursor: pointer;
      &.ffc_active {
        color: #409eff;
        font-weight: bold;
      }
    }
  }

  .ffc_design_elements {
    .fcc_eq_line .el-form-item__label {
      line-height: 120%;
    }
    .el-form-item.fcc_label_top .el-form-item__label {
      width: 100% !important;
      display: block;
      line-height: 100%;
      float: none;
    }

    .el-form-item.fcc_label_top .el-form-item__content {
      width: 100%;
      margin-left: 0 !important;
      display: block;
    }
  }

}

div#ff_conversation_form_design_app {
  display: block;
  overflow: hidden;
}

#fcc_iframe_holder {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
  iframe {
    border-radius: 8px;
  }
}

.ffc_meta_settings {
  max-width: 900px;
  padding: 0px 20px 20px;
  background: white;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
  .el-form-item .el-form-item__label {
    font-weight: bold;
    margin-bottom: 0;
    line-height: 100%;
  }
  .el-form-item .ffc_help {
    font-size: 80%;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

ul.fcc_inline_social {
  margin: 20px 0;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 10px;
    a {
      text-decoration: none;
    }
  }
}

.fcc_card {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.copy_share.fc_copy_success {
  background: #409eff !important;
  color: white !important;
  padding: 8px 20px;
}

.fcc_pro_message {
  margin: 10px 0;
  background: #fef6f1;
  padding: 15px;
  text-align: center;
  font-size: 13px;
  a {
    display: block;
    margin-top: 10px;
  }
}