@import "./browser_frame";
@import "../styles/element_ui_var";
@import "../styles/variables";
@import "../styles/tab";

.fcc_conversational_design{
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 80vh;
}

// design setting
.ffc {
  &_design{
    &_sidebar {
      width: 350px;
      background-color: $--color-white;
      border-radius: $border-radius;
      flex-shrink: 0;
    }
    &_container {
      width: 100%;
      padding: 0 0 24px 24px;
    }
    &_elements {
      .el-form-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::before,
        &::after{
          display: none;
        }
        &__label{
          float: none;
          padding-right: 0;
          line-height: inherit;
        }
        &__content{
          line-height: inherit;
          &::before,
          &::after{
            display: none;
          }
        }
        &.fcc_label_top {
          flex-direction: column;
          .el-form-item{
            &__label {
              width: 100%;
              padding-bottom: 15px;
            }
            &__content{
              width: 100%;
            }
          }
        }
      }
      .el-select{
        width: 100%;
        margin-bottom: 10px;
      }
      .ff_file_upload_wrap{
        margin-bottom: 15px;
      }
    }
  }
  &_sidebar{
    &_header{
      padding-bottom: 24px;
    }
    &_body {
      .el-form-item {
        margin-bottom: 10px;
      }
      .ffc_design_submit {
        margin-top: 35px;
        text-align: center;
      }
    }
  }
  &_meta_settings {
    max-width: 900px;
    &_form{
      h5 {
        margin-top: 40px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid $border-color;
      }
    }
  }
  &_sharing_settings{
    .ff_card{
      margin-bottom: 24px;
    }
  }
}


div#ff_conversation_form_design_app {
  display: block;
  overflow: hidden;
}

#fcc_iframe_holder {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
  iframe {
    border-radius: 8px;
  }
}

.fcc_pro_message {
  margin: 10px 0;
  background: #fef6f1;
  padding: 15px;
  text-align: center;
  font-size: 13px;
  a {
    display: block;
    margin-top: 10px;
  }
}