
@import "../admin/styles/element_ui_var";
@import "~element-ui/packages/theme-chalk/src/index";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
ol{
  padding: 0;
  margin: 0;
  list-style: none;
}

// form name
.ff_form_name {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 18px;
  border-right: 1px solid #ececec;
  text-overflow: ellipsis;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
}

.ff_preview_menu {
  display: flex;
  align-items: center;
  &_link{
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    color: #1E1F21;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    border-radius: 6px;
    line-height: 1.6;
    transition: 0.2s;
    &:focus{
      outline: none;
    }
    &:hover{
      color: #1A7EFB;
    }
  }
}

.ff_preview_only_label_wrap{
  margin-left: auto;
  label{
    display: inline-flex;
    align-items: center;
    background: #F2F2F2;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 15px;
    padding: 10px 14px;
    font-size: 15px;
    line-height: 1.2;
    cursor: pointer;
  }
}
#ff_preview_only{
  width: 16px;
  height: 16px;
  margin-right: 10px;
  &:checked{
    background-color: #1A7EFB;
  }
}
.ff_preview_action {
  border-radius: 6px;
  margin: 0;
  background-color: #F2F2F2;
  border: 0;
  color: #1E1F21;
  padding: 10px 14px;
  font-size: 15px;
  line-height: 1.2;
  max-width: 188px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-left: 15px;
}

#copy {
  cursor: context-menu;
}

#ff_preview_header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}


.ff_preview_text {
  position: absolute;
  display: block;
  padding: 4px 20px;
  background: #673AB7;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  transform: rotate(-45deg);
  z-index: 99999999;
  top: 20px;
  width: 193px;
  left: -59px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  display: none;
}

// preview body
.ff_preview_body {
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 40px;
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 60px;
}

.ff_form{
  &_preview{
    padding: 20px;
    &_wrapper {
      overflow-y: scroll;
      width: 60%;
      background: #fff;
      border-radius: 10px;
      max-height: calc(100vh - 90px);
      overflow-y: scroll;
      box-shadow: 0px 1px 3px rgba(30, 31, 33, 0.08);
    }
    &_header{
      background-color: #F8F9FA;
      padding: 10px 20px;
      .dot{
        width: 13px;
        height: 13px;
        display: inline-block;
        border-radius: 100%;
        &:not(:last-child){
          margin-right: 4px;
        }
        &-red{
          background-color: #F26C6F;
        }
        &-yellow{
          background-color: #FFC554;
        }
        &-success{
          background-color: #5DCE91;
        }
      }
    }
  }
  &_styler_wrapper {
    width: 37%;
    max-height: calc(100vh - 90px);
    overflow-y: scroll;
    margin-left: 3%;
  }
}

// preview only
.ff_preview_only {
  .ff_form_preview_wrapper {
    max-height: 100%;
    margin: 0 auto;
    width: 78%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .ff_form_styler_wrapper {
    display: none;
  }
}

.ff_notice {
  padding: 20px;
  font-size: 14px;
  background-color: #f4f4f5;
  color: #727272;
  .el-icon{
    font-size: 20px;
    margin-right: 10px;
    margin-top: 5px;
    color: #909399;
  }
  &_inner {
    width: 890px;
    margin: 0 auto;
    display: flex;
  }
}

// styler promo
.ff_styler_promo {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(30, 31, 33, 0.08);
  padding: 20px;
  border-radius: 10px;
  h5 {
    border-bottom: 1px solid #ececec;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: capitalize;
  }
}

.ff_promo{
  &_header {
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
    padding-bottom: 16px;
    line-height: 1;
    font-weight: 600;
  }
  &_body{
    p{
      font-size: 16px;
      a{
        color: #1A7EFB;
        text-decoration: none;
      }
    }
  }
}

.ff_feature_list{
  li {
    font-size: 15px;
    color: #626262;
    margin-bottom: 10px;
    .el-icon{
      margin-right: 6px;
      color: #5DCE91;
    }
  }
}

.ff_addons {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 31%;
    padding: 20px;
    background: #f2f2f2;
    margin: 5px;
    border-radius: 8px;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 40px;
    }
  }
}

.ff_upgrade_btn {
  padding: 12px 22px;
  background: #1A7EFB;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  &:hover {
    background: #2e8afa;
  }
}

@media (max-width: 425px) {
  .ff_form_styler_wrapper {
    display: none;
  }

  #ff_preview_top .ff_preview_body .ff_form_preview_wrapper {
    width: 97%;
    height: 100%;
    float: none;
    max-height: 100% !important;
  }

  #ff_preview_top #ff_preview_header label {
    display: none !important;
  }

  .ff_preview_action {
    display: none !important;
  }

  #ff_preview_top .ff_preview_body {
    margin-top: 80px;
  }
}
