#ff_preview_top {
  #ff_preview_header {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0px;
    padding: 0px 20px 0px 0px;
    background-color: #ebedee;
    color: black;
    label {
      display: inline-block !important;
    }
    .ff_preview_title {
      display: inline-block;
      font-weight: bold;
      color: black !important;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          padding: 15px 20px 15px 20px;
          margin: 0;
          a {
            color: #24282e;
            &:hover {
              color: #409eff;
            }
          }
          &.ff_form_name {
            display: inline-block;
            padding: 15px;
            background: #667584;
            color: white;
            text-overflow: ellipsis;
            max-width: 290px;
            white-space: nowrap;
            float: left;
            overflow-x: hidden;
            padding-left: 90px;
          }
        }
      }

    }
    .ff_preview_action {
      display: inline-block;
      float: right;
      background:#dedede;
      color:#545454;
      border-radius: 4px;
      padding:5px;
      margin: 10px 0px;
    }
    input#ff_preview_only {
      -webkit-appearance: checkbox;
    }
  }

  .ff_preview_text {
    position: absolute;
    display: block;
    padding: 4px 20px;
    background: #673AB7;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    transform: rotate(-45deg);
    z-index: 99999999;
    top: 20px;
    width: 193px;
    left: -59px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
  }

  .ff_preview_body {
    margin-top: 29px;
    padding-top: 20px;
    width: 100%;
    background-color: #dedede;
    overflow: hidden;
    padding-bottom: 40px;

    min-height: 85vh;

    * {
      box-sizing: border-box;
      overflow-wrap: break-word;
    }

    .ff_form_preview_wrapper {
      overflow-y: scroll;
      max-height: 100vh;
      padding: 30px;
      border-bottom: 4px solid #D3D3D3;
      border-right: 4px solid #D3D3D3;
      width: 60%;
      background: white;
      margin: 1% 2% 2%;
      float: left;
      max-height: calc(100vh - 57px);
      overflow-y: scroll;
    }


    &.ff_preview_only {
      .ff_form_preview_wrapper {
        height: auto;
        max-height: 100%;
        margin: 20px auto 50px;
        float: none;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      .ff_form_styler_wrapper {
        display: none !important;
      }
    }

    .ff_form_styler_wrapper {
      width: 35%;
      float: left;
      margin-top: 1%;
      max-height: calc(100vh - 57px);
      overflow-y: scroll;
    }
  }

  div#ff_preview_top {
    padding: 0 0 20px;
    background-color: #F1F1F1;
    overflow: hidden;
  }

  .ff_preview_footer {
    display: block;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0px;
  }

  .ff_styler_promo {
    background: #FFF;
    border: 1px solid #DCDFE6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    .ff_promo_header {
      padding: 10px 15px;
      background: #f6f7fa;
      font-size: 16px;
      font-weight: bold;
    }
    .ff_promo_body {
      padding: 15px;
    }

    .ff_upgrade_btn {
      padding: 10px 25px;
      border: 1px solid #2196F3;
      background: #2196F3;
      color: white;
      text-transform: none;
      border-radius: 5px;
      &:hover {
        border: 1px solid #2196F3;
        color: #2196F3;
        background: white;
      }
    }

    ul.ff_addons {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        width: 32%;
        display: inline-block;
        padding: 20px;
        margin: 0px;
        img {
          max-width: 100%;
          max-height: 40px;
        }
      }
    }
    h4 {
      font-size: 20px;
      color: #4b4b4b;
      border-bottom: 1px solid lightgrey;
      line-height: 32px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

  }
}

@media (max-width: 425px) {
  .ff_form_styler_wrapper {
    display: none;
  }

  #ff_preview_top .ff_preview_body .ff_form_preview_wrapper {
    width: 97%;
    height: 100%;
    float: none;
    max-height: 100% !important;
  }

  #ff_preview_top #ff_preview_header label {
    display: none !important;
  }

  .ff_preview_action {
    display: none !important;
  }

  #ff_preview_top .ff_preview_body {
    margin-top: 80px;
  }
}
