.ff_card{
    background-color: $ff-card-bg;
    box-shadow: $ff-card-box-shadow;
    border-radius: $ff-card-border-radius;
    padding: $ff-card-padding;
    &_img{
        img{
            width: 100%;
            height: 228px;
            object-fit: unset;
        }
    }
    &_text{
        font-size: 0.938rem;
    }
    &_form_action{
        cursor: pointer;
    }
    &_head{
        border-bottom: $ff-card-head-border;
        margin-bottom: $ff-card-head-padding-y + .5;
        padding-bottom: $ff-card-head-padding-y;
        .title + .text{
            margin-top: 0.75rem;
        }
        &_title_group{
            display: flex;
            align-items: center;
            .ff-icon{
                font-size: 15px;
            }
        }
    }
}
