.ff_card{
    background-color: $ff-card-bg;
    box-shadow: $ff-card-box-shadow;
    border-radius: $ff-card-border-radius;
    padding: $ff-card-padding;
    &_img{
        img{
            width: 100%;
            height: 228px;
            object-fit: unset;
        }
    }
    &_text{
        font-size: 0.938rem;
    }
}
