$editorBg: #fafafa;

.ff_conv_section_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 50%;


  &.ff_conv_layout_default {
    padding: 10px 0;

    .ff_conv_media_preview {
      display: none !important;
    }

    .ff_conv_input {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }
  }

  .ff_conv_input {
    width: 100%;
    padding: 0 20px 0 10px;
    justify-content: center;

    label.el-form-item__label {
      font-size: 18px;
      margin-bottom: 5px;
    }

    display: flex;
    flex-direction: column-reverse;

    .help-text {
      margin-bottom: 8px;
      font-style: normal !important;
    }
  }

  .ff_conv_media_preview {
    width: 100%;

    img {
      max-width: 100%;
      // max-height: 300px;
    }
  }

  &.ff_conv_layout_media_right {
    .ff_conv_media_preview {
      text-align: center;
    }
  }

  &.ff_conv_layout_media_left {
    flex-direction: row-reverse;

    .ff_conv_media_preview {
      text-align: center;
    }

    .ff_conv_input {
      width: 100%;
      // padding: 30px 0 30px 30px;
      padding: 0 10px 0 20px;
    }
  }

  &.ff_conv_layout_media_right_full {
    align-items: initial;

    .ff_conv_media_preview {
      margin: -10px -10px -10px 0px;

      .fc_i_layout_media_right_full {
        height: 100%;

        .fc_image_holder {
          height: 100%;
        }
      }
    }

    img {
      display: block;
      margin: 0px auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &.ff_conv_layout_media_left_full {
    align-items: initial;
    flex-direction: row-reverse;

    .ff_conv_media_preview {
      margin: -10px 0px -10px -10px;

      .fc_i_layout_media_left_full {
        height: 100%;

        .fc_image_holder {
          height: 100%;
        }
      }
    }

    .ff_conv_input {
      width: 100%;
      padding: 0 10px 0 20px;
    }

    img {
      display: block;
      margin: 0px auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}

.ff_conv_section {
  color: rgb(38, 38, 39);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
  animation: 1s cubic-bezier(0.22, 1, 0.36, 1) 0s 1 normal none running expand;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 20px;
  cursor: pointer;

  .hover-action-middle {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .panel__body--item {
    border-radius: 10px;
  }

  .panel__body--item.selected {
    background: white;
    box-shadow: 0 0 5px 1px #409eff;
  }
}

.ff_iconed_radios {
  >label {
    border: 1px solid rgb(115, 115, 115);
    padding: 5px 10px;
    color: rgb(115, 115, 115);
    margin-right: 20px;

    span.el-radio__input {
      display: none;
    }

    .el-radio__label {
      padding-left: 0;
    }

    i {
      font-size: 30px;
      width: 30px;
      height: 30px;
    }

    &.is-checked {
      border: 1px solid rgb(64, 158, 255);
      background: rgb(64, 158, 255);

      i {
        color: white;
        display: block;
      }
    }
  }
}

.ff_conversion_editor {
  background: $editorBg;

  .form-editor--body,
  .form-editor__body-content,
  .panel__body--list {
    background-color: $editorBg !important;
  }

  .ffc_btn_wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .fcc_btn_help {
      padding-left: 15px;
    }
  }

  .welcome_screen {
    &.text-center {
      .ffc_btn_wrapper {
        justify-content: center;
      }
    }

    &.text-right {
      .ffc_btn_wrapper {
        justify-content: flex-end;
      }
    }
  }

  .ff_default_submit_button_wrapper {
    display: block !important;
  }

  .fcc_pro_message {
    margin: 10px 0;
    background: #fef6f1;
    padding: 15px;
    text-align: center;
    font-size: 13px;

    a {
      display: block;
      margin-top: 10px;
    }
  }

  .ffc_raw_content {
    max-height: 250px;
    max-width: 60%;
    margin: 0 auto;
    overflow: hidden;
  }
}