
.error.error_notice_ff_fluentform_pro_license{
  display: none;
}

body{
  background-color: $body-bg;
  font-family: $plugin-font-family;
}
#wpcontent{
  padding-left: 0;
}
#wpbody-content {
  box-sizing: border-box;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $--color-text-regular;
  * {
    box-sizing: border-box;
  }
}

h2,h3,h4,h5,h6{
  margin: 0;
  color: $h-color;
  font-weight: 700;
}
ul,
ol{
  padding: 0;
  margin: 0;
  list-style: none;
}

h1{
  font-size: 1.625rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.375rem;
}
h4{
  font-size: 1.25rem;
}
h5{
  font-size: 1.125rem;
}
h6{
  font-size: 1rem;
}
p{
  font-size: 0.875rem;
  &:last-child{
    margin: 0;
  }
}
a{
  color: $--color-primary;
  text-decoration: none;
  &:hover{
    color: $--color-primary;
  }
  &:focus{
    box-shadow: none;
  }
}
b, strong{
  font-weight: bolder;
  color: $base-color;
}
input[type=text], 
input[type=search], 
input[type=tel], 
input[type=time], 
input[type=url], 
input[type=week], 
input[type=password],
input[type=color], 
input[type=date], 
input[type=datetime], 
input[type=datetime-local], 
input[type=email], 
input[type=month], 
input[type=number], 
textarea {
    background-color: $--input-background-color;
    border-radius: $--input-border-radius;
    border: $--input-border;
    color: $--input-font-color;
    padding: 0 15px;
    &:focus {
      box-shadow: none;
      border-color: $--input-focus-border;
    }
}

.icon {
  font: normal normal normal 14px/1 ultimateform;
  display: inline-block;
}

.el-icon + span,
span + .el-icon{
  margin-left: 0.375rem;
}
/* HELPER CLASSES */
.w-100{
  width: 100%;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.text-base{
  font-size: 1rem;
}
.img-thumb{
  border-radius: $border-radius;
  border: 1px solid $border-color;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.el-icon-clickable {
  cursor: pointer;
}

.help-text {
  margin: 0;
  font-style: italic;
  font-size: 0.9em;
}
.remove-btn{
  cursor: pointer;
}
.is-sticky {
  position: fixed;
  top: 40px;
  z-index: 1020;
}

// align items
.items-center{
  align-items: center;
}
.justify-end{
  justify-content: flex-end;
}

.ff_backdrop {
  background: rgba(0,0,0,.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}
/*===============================
  Element ui
================================*/
.el{
  &-row{
    display: flex;
    flex-wrap: wrap;
  }
  &-button{
    line-height: 1.2;
    &--info{
      background-color: $button-info-bg;
      border-color: $button-info-border-color;
      &.is-plain{
          color: $button-info-plain-color;
          background-color: $button-info-plain-bg;
          border-color: $button-info-plain-border-color;
      }
    }
  }
  &-input__prefix{
    left: 14px;
  }
  &-input--prefix .el-input__inner{
    padding-left: 38px;
  }
  &-radio-group-column{
    display: flex;
    flex-direction: column;
    .el-radio{
        margin-right: 0;
        margin-bottom: 1.25rem;
    }
  }
  &-input-gray{
    .el-input__prefix{
      color: $--color-text-regular;
    }
    .el-input__inner{
      background-color: $input-bg-gray;
      border-color: $input-bg-gray;
      &::-webkit-input-placeholder{
        color: $--color-text-regular;
      }
    }
  }
  &-pagination__total{
    font-weight: 500;
    color: $--color-text-regular;
  }
  &-popover,
  &-dialog{
    border-radius: $--border-radius-base;
  }
  &-dialog{
    padding: $el-dialog-gap-y $el-dialog-gap-x;
    &-no-header{
      .el-dialog__header{
        display: none;
      }
    }
    &__header {
      padding: 0 0 1.5rem 0;
      border-bottom: $el-dialog-header-border;
    }
    &__headerbtn{
      top: 18px;
      right: 22px;
      font-size: $el-dialog-header-btn-fontsize;
      width: $el-dialog-header-btn-width;
      height: $el-dialog-header-btn-height;
      border-radius: $el-dialog-header-btn-border-radius;
      background-color: $el-dialog-header-btn-bg;
      transition: 0.2s;
      .el-dialog__close{
        color: $el-dialog-header-btn-color;
      }
      &:hover{
        background-color: $gray-50;
        .el-dialog__close{
            color: $el-dialog-header-btn-color;
        }
      }
    }
    &__body{
      padding: 0;
    }
  }
  &-loading-mask{
    background-color: $white;
  }
  &-form-item__label{
    color: $base-color;
    line-height: 30px;
    font-weight: 600;
  }
  &-select-block{
    display: block;
    width: 100%;
  }
  &-form-item__content{
    line-height: inherit;
  }
  &-checkbox__label{
    font-weight: 600;
  }
}

.el-pagination.is-background .btn-prev, 
.el-pagination.is-background .btn-next, 
.el-pagination.is-background .el-pager li {
  background-color: transparent;
  border-radius: 0.25rem;
}

// fluentform classes
.ff{
  &_section{
    &_head{
      margin-bottom: 2.5rem;
      &.sm{
        margin-bottom: 1.5rem;
      }
    }
    &_block{
      margin-bottom: 4rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &_title {
      font-size: $ff-section-title-font-size;
      font-weight: $ff-section-title-font-weight;
      color: $ff-section-title-color;
    }
    &_desc{
      font-size: $ff-section-desc-font-size;
    }
  }
  &_pagination{
    background: #fff;
    display: inline-flex;
    border-radius: 8px;
    padding: 12px 20px;
    box-shadow: 0px 1px 3px rgba(30, 31, 33, 0.08);
    .el-input__inner{
      background: #f2f2f2;
      border-color: #f2f2f2;
      border-radius: 4px !important;
      color: $--color-text-regular;
      font-weight: 500;
      &:focus,
      &:hover{
        border-color: #f2f2f2 !important;
      }
    }
    .el-select .el-input .el-select__caret{
      color: $--color-text-regular;
    }
  }
  &_radio_wrap{
    &:not(:last-child){
      margin-bottom: 0.75rem;
    }
  }
  &_form_note{
    font-size: 0.875rem;
    font-weight: 600;
  }
}


code{
  padding: 5px 5px 5px 8px;
}
.copy_btn{
  background-color: #E7E6E6;
  border-radius: 4px;
  padding: 1px 10px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    background-color: #d8d7d7;
  }
}

// shortcode btn
.shortcode_btn {
  padding: $shortcode-btn-padding;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  font-size: $shortcode-btn-font-size;
  border-radius: $shortcode-btn-border-radius;
  margin: 0;
  background-color: $shortcode-btn-bg;
  border: 0;
  color: $shortcode-btn-color;
  code{
    background-color: transparent;
    padding: 0;
    font-size: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    text-overflow: ellipsis;
  }
  + .shortcode_btn{
    margin-top: 0.5rem;
  }
  &_md{
    padding: $shortcode-btn-md-padding-y $shortcode-btn-md-padding-x;
    font-size: $shortcode-btn-md-font-size;
    border-radius: $shortcode-btn-md-border-radius;
  }
}

// icon btn
.ff_icon_btn{
  font-size:28px;
  width: 58px;
  height: 58px;
  background-color: rgba($--color-primary, 0.1);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $--color-primary;
  &.warning{
    background-color: rgba($--color-warning, 0.1);
    color: $--color-warning;
  }
  &.md{
    font-size: 36px;
    width: 72px;
    height: 72px;
  }
}

// element card
.element-card{
  background-color: $element-card-bg;
  color: $element-card-color;
  cursor: move;
  text-align: center;
  display: block;
  font-size: $element-card-font-size;
  overflow: hidden;
  padding: $element-card-padding-y $element-card-padding-x;
  text-align: center;
  text-overflow: ellipsis;
  transition: 0.2s;
  white-space: nowrap;
  border-radius: $element-card-border-radius;
  box-shadow: $element-card-box-shadow;
  position: relative;
  font-weight: 500;
  .ff-icon{
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
  }
  &[draggable=false] {
    cursor: pointer;
    opacity: 0.45;
  }
  &:hover{
    background-color: $bg-dark;
    color: $white;
  }
  &-s1{
    box-shadow: none;
    cursor: pointer;
    padding: 0.75rem;
    &:hover{
      background-color: $white;
      color: $base-color;
      box-shadow: 0 1px 4px rgba($base-color, 0.1);
    }
  }
}

// icon group
.icon-group{
  display: inline-flex;
  background-color: $base-color;
  border-radius: 0.375rem;
  overflow: hidden;
  &-btn{
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    color: $white;
    cursor: pointer;
    &:hover{
      background-color: $--color-primary;
    }
  }
}

.panel-body-column-container .splitpanes__pane{
  overflow: inherit;
}
/* BUTTONS */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    &-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;

        &:hover {
            color: #fff;
            background-color: #286090;
            border-color: #204d74;
        }
    }

    &-block {
        width: 100%;
    }
}

/* CLEARFIX */
.clearfix,
.form-editor {
    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

.el-notification__content p {
    text-align: left;
}

.label-lh-1-5 {
    label {
        line-height: 1.5;
    }
}


// create new form modal
.create_new_form_modal{
  .el-dialog{
    height: 420px;
    width: 64%;
  }
}


.ff_nav_top {
  overflow: hidden;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  .ff_nav_title {
    float: left;
    width: 50%;
    h3 {
      float: left;
      margin: 0;
      padding: 0;
      line-height: 28px;
    }
    .ff_nav_sub_actions {
      display: inline-block;
      margin-left: 20px;
    }
  }

  .ff_nav_action {
    float: left;
    width: 50%;
    text-align: right;
  }

  .ff_search_inline {
    width: 200px;
    text-align: right;
    display: inline-block;
  }

}


.ff_global_notices {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  box-sizing: border-box;
  .ff_global_notice {
    background: white;
    margin-right: 20px;
    display: block;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    &.ff_notice_error {
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba;
    }
    &.ff_notice_success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }
  }
}


.el-select-dropdown.el-popper {
  z-index: 99999999999 !important;
}

ul.ff_entry_list {
  list-style: disc;
  margin-left: 20px;
}
span.ff_new_badge {
  background: #ff4747;
  padding: 0 5px 3px;
  border-radius: 4px;
  font-size: 11px;
  vertical-align: super;
  color: white;
  line-height: 100%;
  margin-left: 5px;
}

label.el-radio, label.el-checkbox {
  display: inline-block;
}

.el-time-spinner__list {
  .el-time-spinner__item {
    margin-bottom: 0px !important;
  }
}

.ff_card_block {
  padding: 15px 20px;
  background: #f1f1f1;
  border-radius: 5px;
  h3 {
    padding: 0;
    margin: 0px 0 15px;
  }
}

.ff_video_wrapper {
  iframe {
    width: 100%;
  }
}

.ff-left-spaced {
  margin-left: 10px !important;
}

.doc_video_wrapper {
  text-align: center;
  background: white;
  padding: 20px 0 0 0;
  max-width: 800px;
  margin: 0 auto;
}

.el-big-items {
  .el-select-dropdown__wrap {
    max-height: 350px;
  }
}

.ff_email_resend_inline {
  display: inline-block;
}

.ff_settings_off {
  background-color: #f7fafc;
  padding: 10px 15px;
  margin: -15px -35px;
  .ff_settings_block {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 0 0 35px 0 rgba(16,64,112,.15);
  }
}

.ff_settings_header {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -10px;
  padding: 10px 20px 10px;
  border-bottom: 1px solid #e0dbdb;
  h2 {
    margin: 0;
    line-height: 30px;
  }
}