.ff{
    &_header {
        display: flex;
        align-items: center;
        border-bottom: $header-border;
        background: $header-bg;
        padding: $header-padding-y $header-padding-x;
        &_setting{
            padding-top: 0;
            padding-bottom: 0;
            justify-content: space-between;
            .ff_menu{
                padding: 0.75rem 1.25rem;
            }
            .shortcode_btn{
                font-weight: 500;
                cursor: context-menu;
            }
            .shortcode_btn,
            .el-button--info,
            #saveFormData,
            #switchScreen{
                margin-right: 0.875rem;
            }
            .el-button{
                margin-left: 0;
            }
        }
        .plugin-name {
            margin-right: $header-logo-gap-x;
            height: $header-logo-height;
            img {
                height: 100%;
            }
        }
        &_col{
            display: flex;

        }
    }
    &_menu{
        display: flex;
        align-items: center;
        li{
            margin: 0;
        }
        .menu-link {
            padding: $header-menu-link-gap-y $header-menu-link-gap-x;
            display: inline-block;
            text-decoration: none;
            color: $header-menu-link-color;
            font-size: $header-menu-link-font-size;
            font-weight: $header-menu-link-font-weight;
            background-color: transparent;
            border-radius: $header-menu-link-border-radius;
            &:focus {
                box-shadow: none;
            }
            &:hover{
                color: $header-menu-link-hover-color;
            }
            &.menu-link-active {
                background-color: $header-menu-link-active-bg;
                color: $header-menu-link-active-color;
            }
            &.buy_pro_tab {
                background-color: $--color-danger;
                color: $buy-pro-link-color;
            }
        }
    }
}


