/.idea
.DS_Store
/node_modules
/.phpintel
svn
svn.php
/public/*
!/public/js
/public/js/*
!/public/js/fluent_gutenblock.js
package-lock.json
/assets/*
!/assets/js
/assets/js/*
!/assets/js/fluent_gutenblock.js
