/.idea
.DS_Store
/node_modules
/storage/logs/error.log
/vendor
/.phpintel
/vite/node_modules
fluentform
fluentform.zip
svn
svn.php
/public/*
!/public/js
/public/js/*
!/public/js/fluent_gutenblock.js
package-lock.json
public_build
/assets/*
!/assets/js
/assets/js/*
!/assets/js/fluent_gutenblock.js
/config/vite_config.php
!vite/package-lock.json
vendor/composer/autoload_static.php
vendor/composer/autoload_real.php
vendor/composer/autoload_classmap.php
builds/*
