/.idea
.DS_Store
/node_modules
/storage/logs/error.log
/vendor
/.phpintel
fluentform
fluentform.zip
svn
svn.php
/public/*
!/public/js
/public/js/*
!/public/js/fluent_gutenblock.js
package-lock.json
public_build
/assets/*
!/assets/js
/assets/js/*
!/assets/js/fluent_gutenblock.js
CLAUDE.md
.claude/
