{
    "overrides": [
        {
            "files": ["*.js", "*.vue", ".prettierrc"],
            "options": {
                "printWidth": 120,
                "tabWidth": 4,
                "semi": true,
                "vueIndentScriptAndStyle": false,
                "arrowParens": "avoid",
                "singleQuote": true,
                "bracketSameLine": false,
                "singleAttributePerLine": false
            }
        }
    ]
}
