{
    "overrides": [
        {
            "files": ["*.js", "*.vue", ".prettierrc"],
            "options": {
                "printWidth": 80,
                "tabWidth": 4,
                "vueIndentScriptAndStyle": true,
                "arrowParens": "avoid"
            }
        }
    ]
}
