{
    "overrides": [
        {
            "files": ["*.js", "*.vue", ".prettierrc"],
            "options": {
                "printWidth": 80,
                "tabWidth": 4,
                "semi": true,
                "vueIndentScriptAndStyle": false,
                "arrowParens": "avoid",
                "parser": "typescript",
                "singleQuote": true,
                "bracketSameLine": false,
                "bracketSpacing": true,
                "singleAttributePerLine": true,
                "--vue-indent-script-and-style": true
            }
        }
    ]
}
