@import "./partials/variables";
@import "./partials/spacing";
@import "./partials/tabs";
@import "./partials/splitpanes";
@import "../assets/editor-icons/editor_icons.css";


// fullscreen
.fullscreen_exit{
  display: none;
}
body.ff_full_screen{
  .el-popper,
  .v-modal{
    z-index: 99999 !important;
  }
  .el-dialog__wrapper{
    z-index: 999999 !important;
  }
  .fullscreen_enter{
    display: none;
  }
  .fullscreen_exit{
    display: block;
  }
  .ff_screen_editor {
    z-index: 99999 !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

// editor
.ff_editor{
  &_row{
    display: flex;
    flex-wrap: wrap;
  }
  &_main{
    background-color: $ff-editor-main-bg;
    padding: $ff-editor-main-padding-y $ff-editor-main-padding-x;
    width: $ff-editor-main-width;
    border-right: 1px solid $border-color;
    height: 100vh;
    overflow-y: auto;
  }
  &_user_guide{
    margin-top: -$ff-editor-user-guide-gap;
    position: relative;
    text-align: center;
    padding: $ff-editor-user-guide-padding;
  }
  &_play_video_btn {
    position: absolute;
    left: 50%;
    top: 416px;
    transform: translateX(-50%);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    border-color: $base-color;
    color: $base-color;
    border-radius: 0.625rem;
    box-shadow: 2px 2px $base-color;
    &:hover{
      background-color: $base-color;
      border-color: $base-color;
      color: $white;
      box-shadow: none;
      .el-icon path{
        fill: $white;
      }
    }
    .el-icon{
      margin-right: 0.5rem;
      path{
        fill: $base-color;
      }
    }
    span{
      display: flex;
      align-items: center;
    }
  }
  &_sidebar{
    width: 30%;
    height: 100vh;
    &_navtabs{
      background-color: $white;
    }
    &_element_wrap{
      padding-top: 0.5rem;
    }
  }
  &_inserter{
    &_search{
      padding-left: $ff-editor-inserter-search-padding-x;
      padding-right: $ff-editor-inserter-search-padding-x;
      padding-bottom: $ff-editor-inserter-search-padding-y;
    }
    &_popup {
      background-color: $ff-editor-inserter-popup-bg;
      box-shadow: $ff-editor-inserter-popup-box-shadow;
      position: fixed;
      z-index: 3;
      border-radius: $ff-editor-inserter-popup-border-radius;
      padding-top: $ff-editor-inserter-popup-padding-y;
      padding-bottom: $ff-editor-inserter-popup-padding-y;
      margin-top: 0.75rem;
      .ff_navtabs_button{
        padding: 0 1.25rem 0.75rem 1.25rem;
      }
      &::after{
        width: 14px; 
        height: 14px;
        top: -7px;
        content: "";
        left: 50%;
        position: absolute;
        transform: translateX(-50%) rotate(45deg);
        box-shadow: -4px -4px 8px rgba($base-color, 0.05);
        background-color: $white;
      }
      &.is-top{
        &::after{
          top: auto;
          bottom: -7px;
          box-shadow: 4px 4px 8px rgba($base-color, 0.05);
        }
      }
    }
    &_element{
      &_wrap{
        height: 236px;
        overflow: scroll;
        padding: 0.25rem 1.25rem 0 1.25rem;
        .element-card{
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

// search-element
.search-element{
  padding: $search-element-padding-y $search-element-padding-x;
  .element-card{
    margin-top: 0.625rem;
  }
}

// option fields
.option-fields-section {
  padding: $option-fields-section-padding-y $option-fields-section-padding-x;
  &-content{
    margin-top: 3px;
  }
  .element-card{
    margin-top: 0.625rem;
  }
  &-title{
    padding: $option-fields-section-title-padding-y $option-fields-section-title-padding-x;
    font-size: $option-fields-section-title-font-size;
    cursor: pointer;
    background-color: $option-fields-section-title-bg;
    border-radius: $option-fields-section-title-border-radius;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    box-shadow: $option-fields-section-title-box-shadow;
    .el-icon{
      font-size: 1rem;
      font-weight: 600;
      transition: 0.2s;
    }
    &.active{
      font-weight: 600;
      .el-icon{
        transform: rotate(-180deg);
      }
    }
  }
  &-content{
    max-height: 354px;
    overflow-y: auto;
  }
}

// dropzone
.empty-dropzone {
  height: $empty-dropzone-height;
  border: $empty-dropzone-border;
  border-radius: $empty-dropzone-border-radius;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.75rem;
  &-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .popup-search-element{
      background-color: $popup-search-element-bg-dark;
      position: relative;
      z-index: 2;
      &:hover{
        background-color: $popup-search-element-hover-bg;
      }
    }
  }
}

// popup search element
.popup-search-element{
  background-color: $popup-search-element-bg;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: $popup-search-element-width;
  width: $popup-search-element-height;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

// panel body
.panel{
  &-body-item {
    max-width: 100%;
    position: relative;
    padding: $panel-body-item-padding-y $panel-body-item-padding-x;
    >.popup-search-element {
      bottom: -14px;
      left: 50%;
      opacity: 0;
      position: absolute;
      transform: translateX(-50%);
      visibility: hidden;
      z-index: 3;
    }
    &.selected{
      .panel-item-hover-action{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-item{
   &-hover-action {
      background-color: $panel-item-hover-action-bg;
      border-left: $panel-item-hover-action-border;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $panel-item-hover-action-border-radius;
      transition: .3s;
      z-index: 3;
      opacity: 0;
      visibility: hidden;
      .icon-group{
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
      }
      &-container{
        position: absolute;
        top: -0.5rem;
        left: 2rem;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        z-index: 7;
      }
    }
  }
  &-body-column-container{
    min-height: $column-container-min-height;
    border: $column-container-border;
    border-radius: $column-container-border-radius;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.panel-body-item.is-editor-inserter>.item-actions-wrapper, 
.panel-body-item.is-editor-inserter>.popup-search-element, 
.panel-body-item:hover>.panel-item-hover-action,
.panel-body-item:hover>.panel-item-hover-action-container,
.panel-body-item:hover>.popup-search-element {
  opacity: 1;
  visibility: visible;
}

.video-content{
  .title{
    font-weight: 700;
  }
  .text{
    font-size: 1rem;
  }
}

// disabled info
.disabled-info {
  .el-dialog{
    &__header {
      border: 0;
      padding: 0;
    }
    &__headerbtn{
      z-index: 1024;
    }
  }
}

.label-block{
  font-size: 1.25rem;
  color: $base-color;
  font-weight: 600;
  display: block;
  margin-bottom: 0.875rem;
}

// section block
.ff_section_break{
  &_title{
    margin-bottom: 0.75rem;
  }
  &_desc{
    font-size: 0.938rem;
    + hr{
      margin-top: 1.25rem;
    }
  }
}

// for step wrapper
.ff_step{
  &_wrapper{
    border: 1px dashed #ddd;
    border-radius: 8px;
    background: #fafafa;
    padding: 1rem;
  }
  &_indicator{
    padding: 5px 0;
    position: relative;
    text-align: center;
    &_title{
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 700;
      color: $base-color;
      + .ff_step_indicator_text{
        margin-top: 0.75rem;
      }
    }
    &_text{
      font-size: 0.875rem;
      + .ff_step_indicator_title{
        margin-top: 0.75rem;
      }
    }
  }
}

// title separetor
.ff_title_separetor{
  position: relative;
  span{
    background-color: #ebeaea;
    padding: 4px 16px;
    display: inline-block;
    position: relative;
    z-index: 2;
    min-width: 124px;
  }
  &::before,
  &::after{
    width: 50%;
    position: absolute;
    content: "";
    top: 50%;
    background-color: rgba($base-color, 0.07);
    height: 1px;
  }
  &::before{
    left: 0;
  }
  &::after{
    right: 0;
  }
}

// checkable grid
.checkable-grids {
  border-collapse: collapse;
  thead>tr>th {
    background-color: $bg-light;
    padding: 0.625rem 0.75rem;
    font-weight: 600;
    color: $base-color;
  }
  td{
    padding: 0.75rem;
    font-weight: 600;
  }
  tbody>tr>td:not(:first-of-type) {
    text-align: center;
  }
}

// net promoter tag
.ff_net_promoter{
  &_wrap{
    display: inline-block;
  }
  &_tags {
    display: flex;
    justify-content: space-between;
    p{
      margin-top: 0;
      font-size: 12px;
    }
  }
  &_group{
    border: 1px solid $--button-default-border-color;
    border-radius: $--button-border-radius;
    background-color: $--button-default-background-color;
    display: inline-flex;
  }
  &_button{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    background-color: transparent;
    + .ff_net_promoter_button{
      margin-left: -1px !important;
    }
    &:first-child{
      border-top-left-radius: $--button-border-radius;
      border-bottom-left-radius: $--button-border-radius;
    }
    &:last-child{
      border-right: 0;
      border-top-right-radius: $--button-border-radius;
      border-bottom-right-radius: $--button-border-radius;
    }
    &:hover,
    &:focus{
      background-color: $bg-light;
      color: $base-color;
      border-color: $bg-light;

    }
  }
}


