@import "./partials/variables";
@import "./partials/spacing";
@import "./partials/tabs";
@import "../assets/editor-icons/editor_icons.css";


// fullscreen
.fullscreen_exit{
  display: none;
}
body.ff_full_screen{
  .el-popper,
  .v-modal{
    z-index: 99999 !important;
  }
  .el-dialog__wrapper{
    z-index: 999999 !important;
  }
  .fullscreen_enter{
    display: none;
  }
  .fullscreen_exit{
    display: block;
  }
  .ff_screen_editor {
    background: #fff;
    z-index: 99999 !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

// editor
.ff_editor{
  &_row{
    display: flex;
    flex-wrap: wrap;
  }
  &_main{
    background-color: $ff-editor-main-bg;
    height: 100%;
    overflow-y: scroll;
    padding: $ff-editor-main-padding-y $ff-editor-main-padding-x;
    width: $ff-editor-main-width;
    border-right: 1px solid $border-color;
  }
  &_user_guide{
    margin-top: -$ff-editor-user-guide-gap;
    position: relative;
    text-align: center;
    z-index: 1;
    padding: $ff-editor-user-guide-padding;
  }
  &_play_video_btn {
    position: absolute;
    left: 50%;
    top: 416px;
    transform: translateX(-50%);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    border-color: $base-color;
    color: $base-color;
    border-radius: 0.625rem;
    box-shadow: 2px 2px $base-color;
    &:hover{
      background-color: $base-color;
      border-color: $base-color;
      color: $white;
      box-shadow: none;
      .el-icon path{
        fill: $white;
      }
    }
    .el-icon{
      margin-right: 0.5rem;
      path{
        fill: $base-color;
      }
    }
    span{
      display: flex;
      align-items: center;
    }
  }
  &_sidebar{
    width: 30%;
    &_navtabs{
      background-color: $white;
    }
    &_element_wrap{
      padding-top: 0.5rem;
    }
  }
}

// search-element
.search-element{
  padding: $search-element-padding-y $search-element-padding-x;
  input{
    height: 44px;
  }
}

// option fields
.option-fields-section {
  padding: $option-fields-section-padding-y $option-fields-section-padding-x;
  .element-card{
    margin-top: 0.625rem;
  }
  &-title{
    padding: $option-fields-section-title-padding-y $option-fields-section-title-padding-x;
    font-size: $option-fields-section-title-font-size;
    cursor: pointer;
    background-color: $option-fields-section-title-bg;
    border-radius: $option-fields-section-title-border-radius;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    box-shadow: $option-fields-section-title-box-shadow;
    .el-icon{
      font-size: 1rem;
      font-weight: 600;
      transition: 0.2s;
    }
    &.active{
      font-weight: 600;
      .el-icon{
        transform: rotate(-180deg);
      }
    }
  }
}

// element card
.element-card{
  background-color: $element-card-bg;
  color: $element-card-color;
  cursor: move;
  text-align: center;
  display: block;
  font-size: $element-card-font-size;
  overflow: hidden;
  padding: $element-card-padding-y $element-card-padding-x;
  text-align: center;
  text-overflow: ellipsis;
  transition: 0.2s;
  white-space: nowrap;
  border-radius: $element-card-border-radius;
  box-shadow: $element-card-box-shadow;
  position: relative;
  .ff-icon{
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
  }
  &[draggable=false] {
    cursor: pointer;
    opacity: 0.45;
  }
  &:hover{
    background-color: $bg-dark;
    color: $white;
  }
}

// dropzone
.empty-dropzone {
  height: $empty-dropzone-height;
  border: $empty-dropzone-border;
  border-radius: $empty-dropzone-border-radius;
  &-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .popup-search-element{
      background-color: $popup-search-element-bg-dark;
      position: relative;
      z-index: 2;
      &:hover{
        background-color: $popup-search-element-hover-bg;
      }
    }
  }
}

// popup search element
.popup-search-element{
  background-color: $popup-search-element-bg;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: $popup-search-element-width;
  width: $popup-search-element-height;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.form-editor-elements{
  padding-left: 1rem;
  padding-right: 1rem;
}
// panel body
.panel__body--item {
  max-width: 100%;
  position: relative;
  padding: 1rem;
}
// .panel__body .panel__placeholder, 
// .panel__body--item {
//   background: $white;
//   box-sizing: border-box;
//   min-height: 70px;
//   padding: 10px;
//   width: 100%;
// }

.hover-action-middle {
  align-items: center;
  background-color: hsla(0,0%,87%,.376);
  border: 1px solid #e3e5e8;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  width: 100%;
}
.item-actions-wrapper {
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all .3s;
  visibility: hidden;
  z-index: 3;
}
.panel__body--item.is-editor-inserter>.item-actions-wrapper, .panel__body--item.is-editor-inserter>.popup-search-element, .panel__body--item:hover>.item-actions-wrapper, .panel__body--item:hover>.popup-search-element {
  //opacity: 1;
  //visibility: visible;
}

.video-content{
  .title{
    font-weight: 700;
  }
  .text{
    font-size: 1rem;
  }
}

// disabled info
.disabled-info {
  .el-dialog{
    &__header {
      border: 0;
      padding: 0;
    }
    &__headerbtn{
      z-index: 1024;
    }
  }

}

