/**
 * Styles for FluentTypography component
 */

.ffblock-control-typography-wrap {
    margin-bottom: 16px;
}

.fluent-typography-popover .components-popover__content {
    min-width: 270px;
}

.fluent-typography-control-section {
    margin-bottom: 12px;
}

.fluent-typography-control-section label {
    display: block;
    margin-bottom: 4px;
    font-size: 11px;
    font-weight: 500;
}

.fluent-typography-edit-btn {
    padding: 2px !important;
}

.ffblock-label {
    font-weight: 500;
}
