@import "../scss/partials/variables";
@import "../scss/partials/spacing";
@import "../scss/partials/globals";
@import "../scss/partials/fonts";
@import "../scss/partials/navbar";
@import "../scss/partials/card";


.ff_app {
    padding: 1.5rem;
}
.ff-add-ons {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.ff-add-on {
    width: 33.33%;
    float: left;
    padding-right: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
    @media (max-width: 768px) {
        width: 100%;
        float: none;
        padding-right: 0px;
        margin-bottom: 30px;
    }
    &.ff-featured-addon {
        width: 100%;
        a.button.button-primary {
            background: #0084ff;
            font-size: 18px;
            padding: 5px 20px;
            height: auto;
        }
        p.ff-add-on-active {
            position: initial;
            max-width: 250px;
        }
        .ff-plugin_info {
            float: left;
            max-width: 250px;
            padding-right: 20px;
            border-right: 1px solid #dcd8d8;
            > img {
                max-width: 200px;
                width: 100%;
                height: auto !important;
                max-height: none;
            }
        }
        .ff-add-on-description {
            margin-bottom: 20px;
            font-size: 16px;
        }
        .ff-featured_content {
            float: left;
            padding-left: 20px;
            display: block;
            .ff-integration {
                max-width: 300px;
                height: auto;
            }
            .ff-feature-lists {
                text-align: left;
                float: left;
                margin-right: 150px;
                &:last-child {
                    margin-right: 0;
                }
                ul li {
                    font-size: 17px;
                    margin-bottom: 10px;
                    span {
                        color: green;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.ff-add-on-box {
    padding: 15px;
    background: white;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    min-height: 280px;
    position: relative;
    overflow: hidden;
}

.ff-add-on-box img {
    max-width: 100px;
    max-height: 100px;
}

.text-center {
    text-align: center;
}

.ff-add-on-active {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.ff-add-on-inactive {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.ff-add-on-active,
.ff-add-on-inactive {
    font-weight: bold;
    padding: 6px;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.ff-add-on-description {
    margin-bottom: 56px;
}

.ff_add_on_navigation li {
    display: inline-block;
    margin-bottom: 0px;
}

// ff tab
.ff_tab{
    display: flex;
    border-bottom: 1px solid $border-color;
    &_item{
        margin-bottom: 0;
        &:not(:last-child){
            margin-right: 30px;
        }
        &.active{
            .ff_tab_link{
                color: $--color-primary;
                &::after{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    &_link{
        padding-bottom: 16px;
        display: block;
        font-weight: 700;
        font-size: 16px;
        color: $base-color;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $--color-primary;
            transition: 0.2s;
            opacity: 0;
            visibility: hidden;
        }
    }
}


.fluent_activation_wrapper {
    background: #fbf8f8;
    padding: 45px 20px;
    display: block;
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.fluent_activate_now {
    display: none;
}
label.fluentform_label {
    display: block;
    padding: 10px;
    margin-top: 30px;
}

label.fluentform_label span {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

label.fluentform_label input {
    height: 45px;
    font-size: 22px;
    padding: 5px 15px;
    border-radius: 5px;
}
p.contact_us_line {
    margin-top: 75px;
    font-size: 13px;
    color: #777575;
}
.fluent_activation_wrapper .button-primary.button_activate {
    font-size: 19px !important;
    padding: 5px 25px !important;
    height: auto !important;
}
.license_activated_sucess {
    padding: 20px 0px;
    font-size: 20px;
    color: #525556;
}
.fluent_activation_wrapper .fluent_plugin_activated_hide {
    display: none !important;
}

// addon modules
.add_on_modules {
    .el-col{
        margin-bottom: 22px;
    }
}

@import "../styles/responsive";