.fluentform-admin-notice {

  display: block;
  .ff_logo_holder {
    max-width: 90px;
    display: inline-block;
    margin-right: 20px;
    img {
      max-width: 100%;
    }
  }
  .ff_notice_container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 40px;
    max-width: 67%;
    > h3 {
      margin: 0px;
    }
    .ff_temp_hide_nag {
      position: absolute;
      right: 5px;
      top: 50%;
      .nag_cross_btn {
        cursor: pointer;
        &:hover {
          color: gray;
        }
      }
    }
  }
}
#ff_notice_review_query {
  background: #fff;
  margin: 15px;
  border: 1px solid #c3c4c7;
  border-left: 4px solid #70aee5;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(30, 31, 33, 0.08);
  .ff_notice_container{
    width: 100%;
    max-width: 100%;
    .ff_temp_hide_nag{
      top:35%;
    }
  }
}
