@import "../assets/icons/fluentform-icon.css";
@import "../scss/partials/variables";
@import "../scss/partials/spacing";
@import "../scss/partials/globals";
@import "../scss/partials/fonts";
@import "../scss/partials/navbar";
@import "../scss/partials/card";

.ff_app{
  padding: 30px;
}
.ff_documentaion_wrapper{
  width: 970px;
  margin: 0 auto;
  .el-col{
    margin-bottom: 24px;
  }
}

.ff_addon_wrapper {
  margin: 45px auto;
  max-width: 950px;
  .ff_addon_header {
    p {
      font-size: 16px;
    }
  }

  .ff_addon_banner {
    max-width: 100%;
    border-radius: 8px;
  }
  .ff_addon_btn {
    text-decoration: none;
    border: 2px solid #c716c1;
    background: white;
    color: #c716c1;
    padding: 14px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    &.ff_invert {
      background: #c716c1;
      color: white;
      &:hover {
        color: #c716c1;
        background: white;
      }
    }
    &:hover {
      background: #c716c1;
      color: white;
    }
  }
}


@import "../styles/responsive";