@import "../styles/var";
@import "_element_icons.css";
@import "../styles/element_ui_var";
// inclue element ui scss
@import "~element-ui/packages/theme-chalk/src/index";

.el-dropdown-list-wrapper {
  padding: 0;

  .group-title {
    display: block;
    padding: 5px 10px;
    background-color: $info;
    color: #fff;
  }
}

.input-textarea-value {
  position: relative;

  .icon {
    position: absolute;
    right: 0;
    top: -18px;
    cursor: pointer;
  }
}

.remove-btn {
  cursor: pointer;
}

.el-text-danger {
  color: #FF4949;
}


.el-dropdown-list-wrapper {
  padding: 0;

  .group-title {
    display: block;
    padding: 5px 10px;
    background-color: $info;
    color: #fff;
  }
}

.input-textarea-value {
  position: relative;
  .icon {
    position: absolute;
    right: 0;
    top: -18px;
    cursor: pointer;
  }
}

.ff_condition_icon {
  position: absolute;
  right: 8px;
  top:8px;
  color: #9ca1a7;
  z-index: 1;
}

.ff_conv_section, .item-container {
  &> .ff_condition_icon {
    top: 12px;
    right: 17px;
    z-index: 2;
  }
}

.search-element {
  padding: 0;
  margin: 10px 0;
}

.ff_filter_wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.ff_inline {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.fluent_form_intro {
  max-width: 700px;
  margin: 0 auto;
  background: white;
  padding: 20px 30px 30px;
}

.ff_forms_table .el-loading-mask {
  z-index: 100;
}

.copy {
  cursor: context-menu;
}

.fluent_form_intro_video {
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  padding: 20px 0 0;
}
.wpns_preview_mce {
  .el-form-item{
    margin-bottom: 20px !important;
  }
}
.wpns_button_preview {
  border: 1px solid #dde6ed !important;
  border-radius: .3rem !important;
  display: flex;
  height: 100% !important;
  flex-direction: column !important;
  text-align: center;

  .preview_header {
    background-color: #f2f5f9 !important;
    color: #53657a !important;
    padding: 6px 0;
  }

  .preview_body {
    align-items: center !important;
    height: 100%;
    padding: 150px 0px;
  }
}

.ff_photo_small {
  .wpf_photo_holder {
    width: 64px;
    position: relative;
    cursor: pointer;
    text-align: center;
    background: gray;
    color: white;
    border-radius: 3px;

    &:hover img {
      display: none;
    }
  }
}

.ff_photo_horizontal {
  .wpf_photo_holder {
    position: relative;
    cursor: pointer;
    text-align: left;
    color: white;
    border-radius: 3px;

    img {
      width: 64px;
      display: inline-block;
    }

    .photo_widget_btn {
      display: inline-block;
      vertical-align: top;
      color: black;

      span {
        font-size: 40px;
      }
    }
  }
}

.photo_widget_btn_clear {
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.wpf_photo_holder:hover {
  .photo_widget_btn_clear {
    display: block;
  }
}

.wp_vue_editor {
  width: 100%;
  min-height: 100px;
}
.wp_vue_editor_wrapper {
  position: relative;

  .popover-wrapper {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;

    &-plaintext {
      left: auto;
      right: 0;
      top: -32px;
    }
  }
  .wp-editor-tabs {
    float: left;
  }
}
.mce-wpns_editor_btn {
  button {
    font-size: 14px !important;
    border: 1px solid gray;
    margin-top: -1px;
    padding: 3px 8px !important;
    border-radius: 3px;
  }
  &:hover {
    border: 1px solid transparent !important;
  }
}
.wp-core-ui .button, 
.wp-core-ui .button-secondary{
  border-color: gray;
  color: #595959;
}

.is-error .el-input__inner {
  border-color: #ff4949;
}

.el-form-item__error {
  /*position: unset;*/
}

.el-form-item__error {
  position: relative !important;
  p {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.el-dropdown-list-wrapper {
  padding: 0;
  .group-title {
    display: block;
    padding: 5px 10px;
    background-color: gray;
    color: #fff;
  }
  &.el-popover {
    z-index: 9999999999999 !important;
  }
}

.input-textarea-value {
  position: relative;
  .icon {
    position: absolute;
    right: 0;
    top: -18px;
    cursor: pointer;
  }
}
// el_pop_data_group
.el_pop_data {
  &_group{
    background: #fff;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    padding: 12px;
  }
  &_headings {
    width: 175px;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 12px;
    ul {
      padding: 0;
      margin: 10px 0px;
      li {
        &.active_item_selected {
          background: whitesmoke;
          color: #6c757d;
          border-left: 2px solid #6c757d;
        }
      }
    }
  }
  &_body {
    margin-left: 20px;
    max-height: 388px;
    overflow: auto;
    width: 280px;
  }
}

.el-dropdown-list-wrapper {
  padding: 0;

  .group-title {
    display: block;
    padding: 5px 10px;
    background-color: $info;
    color: #fff;
  }
}

// input textarea value
.input-textarea-value {
  position: relative;
  .icon {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    display: inline-block;
    background-color: #F2F2F2;
    display: grid;
    place-items: center;
    border-radius: 4px;
    &:hover{
      background-color: #e0e0e0;
    }
  }
}

