.flueform-guten-wrapper {
  .ff_guten_block{
    pointer-events: none;
  }
  
  .fluentform-logo img{
    margin: 0px auto;
    max-width: 48px;
    display: block;
  }
  .fluentform-logo {
    margin-bottom: 30px;
  }
  .conv-demo{
    text-align: center;
    margin: 0 auto;
    img {
      max-height: 400px;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }

 .components-base-control__label {
   padding-right: 15px;
  }
  .ff-btn-submit{
    pointer-events:none;
  }
  .fluentform-step.active {
    width: 100%;
  }
}
