@import "../styles/_var.scss";
@import "../styles/globals";
@import "../styles/_el_customize.scss";
@import "../styles/entries.scss";

.dashboard-wrapper {
  .el-table__header-wrapper table.el-table__header tr th {
    background-color: #ffffff !important;
  }
  .card_header h6 {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px 10px 0;
    display: inline;
  }
  .dashboard-radio-group {
    display: flex;
    flex-wrap: wrap;
    .dashboard-radio-input{
        min-width: 180px;
    }
    div{
      width: 100%;
    }
    p{
      margin: 15px 0;
      padding-bottom: 5px;
      font-weight: 500;
      border-bottom: 1px solid #dddddd;
    }
    div:first-child {
     p{
       margin-top: 0px;
     }
    }
  }

  canvas#line-chart, canvas#pie-chart {
    padding: 20px;
  }

  .dashboard-row {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 7px 14px 0 rgb(60 66 87 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
    border-radius: 4px;

    .row-header {
      display: flex;
      //margin-bottom: 20px;
      align-items: center;
      gap: 25px;

      span:first-child {
        margin-right: 10px;
      }
    }
    .el-row {
      width: 100%;
    }

    display: flex;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    gap: 15px;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
      gap: 10px;
    }

    .dashboard-card-wrapper {
      flex-direction: row;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }

    .dashboard-card {
      flex: 3 1 32%;
      position: relative;
      .card_header {
        margin-bottom: 10px;
        min-height: 30px;
      }

      .ff_card_body {
        .el-table__expanded-cell {
          padding: 10px 20px;
        }
      }

      .dashboard-card-info {
        display: flex;
        align-items: center;
        gap: 20px;
        border: 1px solid rgb(131 145 165 / 20%);
        padding: 20px;
        height: 150px;

        .dashboard-card-icon {
          width: 35px;
          height: 35px;
          text-align: center;
          line-height: 36px;
          font-size: 18px;
          background: $primary-color;
          color: #fff;
          border-radius: 50%;
        }

        .dashboard-card-content {
          flex: 1;
          text-align: left;

          h1 {
            margin: 0 0 10px 0;
            font-size: 17px;
          }

          h6 {
            font-size: 15px;
            margin: 0 0 10px;
            font-weight: 500;
          }

        }

        .card-content-list li {
          display: flex;
          margin: 0;
          padding-bottom: 10px;
          font-size: 13px;

          .content-list-label {
            flex: 1;
            display: flex;
          }

          .content-list-info {
            text-align: right;
            flex: 1;
            font-weight: 500;
          }
        }

      }

      .demo-graph {
        position: relative;
        border-radius: 4px;

        span {
          position: absolute;
          top: 50%;
          left: 65%;
          transform: translate(-50%, -50%);
          width: 50%;
        }

        img {
          width: 100%;
          filter: blur(2px);
        }
      }

      .chart-card {
        height: 300px;
      }

      .dashboard-card-settings{
        position: absolute;
        top: 6px;
        right: 6px;
        span{
          font-size: small;
          color: #363b419c;
        }
      }

    }

    .dashboard-card-table {
      overflow: auto;
      width: 100%;
    }

    &-chart {
      .dashboard-card {
        @media (min-width: 1024px) {
          width: 49%;
        }
      }
    }
  }


  .form-link {
    display: flex;
    gap: 5px;

    .form-url {
      max-width: 150px;

      .elispse {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}



