@import "../styles/globals";
@import "../styles/el_customize";
@import "../styles/responsive";
.ff_all_forms {
    .pull-right {
        float: right;
    }
    .form_navigation {
        margin-bottom: 20px;
    }
    .inactive_form{
        opacity: .6;
    }
}

.v-modal {
    display: none !important;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.predefinedModal .el-dialog {
    overflow-y: scroll;
    height: 600px;
    .el-dialog__body {
        height: 484px;
        overflow: scroll;
    }
}

.ff_form_group {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.form_item_group {
    display: inline-block;
    label {
        display: inline-block;
    }
}

.form_item_group.form_item_group_search {
    float: right;
}

.form_action_navigations {
    margin: -20px -20px 0px;
    padding: 10px 20px 10px;
    background: whitesmoke;
    border-bottom: 1px solid #dddddd;
}

.ff-el-banner {
    padding: 0px !important;
    word-break: break-word;
    &:hover {
        background: #009cff;
        -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: background-color 100ms linear;
    }
}

.item_has_image {
    .ff-el-banner-text-inside.ff-el-banner-text-inside-hoverable {
        opacity: 0;
        visibility: hidden;
    }
    &:hover {
        .ff-el-banner-text-inside-hoverable {
            display: flex;
            background: #009cff;
            -webkit-transition: background-color 100ms linear;
            -ms-transition: background-color 100ms linear;
            transition: background-color 100ms linear;
        }
    }
}

.item_no_image {
    .ff-el-banner-header {
        position: absolute;
        z-index: 999999;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: 110px;
        font-size: 15px;
        font-weight: bold;
        background: transparent;
        word-break: break-word;
    }
    &:hover {
        .ff-el-banner-header {
            display: none;
            visibility: hidden;
        }
        .ff-el-banner-text-inside-hoverable {
            display: flex;
        }
    }
    .ff-el-banner-text-inside-hoverable {
        display: none;
    }
}

.ff-el-banner-text-inside {
    cursor: pointer;
}

.item_education {
    background-color: #4B77BE;
}

.item_government {
    background-color: #8E44AD;
}

.item_healthcare {
    background-color: #26A587;
}

.item_hr {
    background-color: #C3272B;
}

.item_it {
    background-color: #1F97C1;
}

.item_finance {
    background-color: #083A82;
}

.item_technology {
    background-color: #EA7F13;
}

.item_website {
    background-color: #C93756;
}

.item_product {
    background-color: #9574A8;
}

.item_marketing {
    background-color: #F1828D;
}

.item_newsletter {
    background-color: #D64C84;
}

.item_nonprofit {
    background-color: #CE9138;
}

.item_social {
    background-color: #4CAF50;
}

.el-notification.right {
    z-index: 9999999999 !important;
}
button.el-button.ff_create_post_form.el-button--info.el-button--mini {
    float: left !important;
}

.el-dialog.el-dialog.post-type-selection {
    height: 165px !important;
}

.el-dialog.el-dialog.post-type-selection .el-dialog__body {
    height: 118px !important;
    overflow: hidden;
}
small {
    font-weight: normal;
    font-size: 13px;
    margin-left: 15px;
}

.shortcode_btn {
    width: 250px;
    overflow: hidden;
    display: block;
    height: 26px;
    font-size: 11px;
    border-radius: 4px;
}

.classic_shortcode {
    margin-bottom: 7px;
}