.flueform-guten-wrapper {
  background: rgba(139, 139, 150, 0.1);
  text-align: center;
  padding: 20px;
  .fluentform-logo {
    margin-bottom: 30px;
    img {
      max-width: 64px;
    }
  }
 .components-base-control__label {
   padding-right: 15px;
  }
}
