@import "../assets/icons/fluentform-icon.css";
@import "../styles/variables";
@import "../styles/globals";
@import "../styles/navbar";
@import "../styles/table";
@import "../styles/card";
@import "../styles/layouts";
@import "../styles/el_customize";
@import "../styles/responsive";

.v-modal {
    display: none !important;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ff-el-banner-text-inside {
    cursor: pointer;
}

.el-notification.right {
    z-index: 9999999999 !important;
}

small {
    font-weight: normal;
    font-size: 13px;
    margin-left: 15px;
}

.classic_shortcode {
    margin-bottom: 7px;
}
.form-locations {
    margin-top: 5px;
    .ff_inline_list{
        display: inline-flex;
        li{
            margin: 0px 5px;
        }
    }
}

.ff_form{
    &_group {
        margin-bottom: 32px;
    }
    &_item{
        &_group {
            display: flex;
            flex-wrap: wrap;
            margin-left: -12px;
            margin-right: -12px;
        }
        &_col {
            width: 25%;
            padding-right: 12px;
            padding-left: 12px;
            margin-bottom: 24px;
        }
    }
    &_card {
        background-color: $--color-white;
        border-radius: $border-radius;
        border: 1px solid #EDEAE9;
        position: relative;
        height: 258px;
        img {
            border-radius: inherit;
            width: 100%;
            height: 100%;
            display: block;
        }
        &:hover {
            .ff_form_card_overlap {
                opacity: 1;
                visibility: visible;
            }
        }
        &_overlap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(10, 16, 26, 0.08) 0%, rgba(27, 29, 32, 0.851348) 69.85%, #1E1F21 85.67%);
            border-radius: $border-radius;
            cursor: pointer;
            padding: 24px;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            p {
                color: $--color-white;
                padding-top: 32px;
                word-break: break-word;
            }
        }
    }
}

.import-forms-section{
    .ff_card{
        background-color: #f2f2f2;
        box-shadow: none;
    }
}

.ff_all_forms .inactive_form {
    opacity: .6;
}
.ff_forms_table {
    .el-table__row:hover {
        .row-actions {
            position: relative;
            opacity: 1;

            &-item a {
                cursor: pointer;
            }
        }
    }
    .row-actions {
        transition: 0.2s all;
        left: 0;
        opacity: 0;
        .el-loading-spinner .circular {
            height: 17px;
            width: 17px;
            margin-top: 14px;
        }
    }
}
