@import "../styles/var";
@import "~normalize.css/normalize.css";
@import "../styles/globals.scss";
@import "../styles/nav.scss";
@import "../styles/vddl-base.scss";
@import "../styles/app.scss";
@import "../styles/editor.scss";
@import "../styles/panel.scss";
@import "../styles/form-elements.scss";
@import "../styles/settings.scss";
@import "_element_icons.css";
@import "../assets/icons/styles.css";
@import "../assets/editor-icons/editor_icons.css";
@import "../styles/el_customize.scss";
@import "../styles/components.scss";
@import "../styles/entries.scss";
@import "../styles/input-text";
@import "../styles/responsive";
