/*
* Element CSS
 */
@import "~element-ui/lib/theme-chalk/row.css";
@import "~element-ui/lib/theme-chalk/col.css";
@import "~element-ui/lib/theme-chalk/button.css";
@import "~element-ui/lib/theme-chalk/button-group.css";
@import "~element-ui/lib/theme-chalk/input.css";
@import "~element-ui/lib/theme-chalk/dialog.css";
@import "~element-ui/lib/theme-chalk/form.css";
@import "~element-ui/lib/theme-chalk/form-item.css";
@import "~element-ui/lib/theme-chalk/select.css";
@import "~element-ui/lib/theme-chalk/option.css";
@import "~element-ui/lib/theme-chalk/radio-group.css";
@import "~element-ui/lib/theme-chalk/radio.css";
@import "~element-ui/lib/theme-chalk/popover.css";
@import "~element-ui/lib/theme-chalk/tooltip.css";
@import "~element-ui/lib/theme-chalk/loading.css";
@import "~element-ui/lib/theme-chalk/message.css";
@import "~element-ui/lib/theme-chalk/notification.css";
@import "~element-ui/lib/theme-chalk/table.css";
@import "~element-ui/lib/theme-chalk/table-column.css";
@import "~element-ui/lib/theme-chalk/tag.css";
@import "~element-ui/lib/theme-chalk/pagination.css";
@import "~element-ui/lib/theme-chalk/dropdown.css";
@import "~element-ui/lib/theme-chalk/dropdown-menu.css";
@import "~element-ui/lib/theme-chalk/dropdown-item.css";

@import "_element_icons.css";
@import "../styles/globals";
@import "../styles/el_customize";
@import "../styles/responsive";
.ff_all_forms {
    .pull-right {
        float: right;
    }
    .form_navigation {
        margin-bottom: 20px;
    }
}

.v-modal {
    display: none !important;
}