.fluentform {
  font-family: inherit;

  * {
    box-sizing: border-box;
  }

  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    margin: 0;
  }

  .iti {
    width: 100%;
  }

  .iti__selected-flag {
    background: rgba(0, 0, 0, .1);
  }

  label {
    font-weight: 400;
  }

  .text-danger {
    color: $danger;
  }

  .ff_gdpr_field {
    margin-right: 5px;
  }

  form.ff-form-has-steps {
    .ff-btn-submit {
      display: none;
    }

    .ff_submit_btn_wrapper {
      text-align: right;
    }
  }

  textarea {
    max-width: 100%;
  }

  .ff-el-form-check-label {
    .ff-el-form-check-input {
      position: relative;
      vertical-align: middle;
      top: -3px;
    }
  }

  .ff_input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;

    > .ff-el-form-control:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: inline-block;
      width: auto;
    }

    > .ff-el-form-control:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .ff-el-form-control {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 1%;
      margin-bottom: 0;
    }
  }

  .ff_input-group-prepend {
    margin-right: -1px;
  }

  .input-group-append {
    margin-left: -1px;
  }

  .ff_input-group-append, .ff_input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .ff_input-group > .ff_input-group-prepend > .ff_input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .ff_input-group > .ff_input-group-append > .ff_input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .ff_input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border-radius: .25rem;
  }

  input[type=checkbox] {
    -webkit-appearance: checkbox;
  }

  input[type=radio] {
    -webkit-appearance: radio;
  }
}

.ff_coupon_wrapper {
  .ff_input-group-append {
    cursor: pointer;
    &:hover {
      .ff_input-group-text {
        background: #e3e8ed;
      }
    }
  }
}

ul.ff_coupon_responses {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding-top: 5px;
  }

  span.error-clear {
    font-weight: bold;
    color: #ff5050;
    margin-right: 10px;
  }

  .ff_error {
    color: #f56c6c;
    cursor: pointer;
  }

  .ff_success {
    color: #28a745;
  }
}