@media (min-width: 768px) {
    .frm-fluent-form {
        .ff-t-container {
            display: flex;
            width: 100%;
            &.ff_cond_v {
                display: flex !important;
            }
        }

        .ff-t-cell {
            padding: 0 10px;
            vertical-align: inherit;
            width: 100%;
            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .ff-t-cell {
        margin-left: 0 !important;
    }
}