.fluentform {
  .hidden_field {
    display: none !important;
  }

  .ff_force_hide {
    display: none !important;
    visibility: hidden !important;
  }

  .ff_scrolled_text {
    height: 200px;
    overflow: scroll;
    padding: 10px 15px;
    background: #e9ebed;
  }

  @media only screen and (min-width: 641px) {
    .ff-el-group {
      &.ff_list_3col {
        .ff-el-form-check {
          width: 33.3%;
          display: -moz-inline-stack;
          display: inline-block;
          margin: 0 0 2px;
          padding-right: 16px;
          min-height: 28px;
          vertical-align: top;
        }
      }

      &.ff_list_2col {
        .ff-el-form-check {
          width: 50%;
          display: -moz-inline-stack;
          display: inline-block;
          margin: 0;
          padding-right: 16px;
          min-height: 28px;
          vertical-align: top;
        }
      }

      &.ff_list_4col {
        .ff-el-form-check {
          width: 25%;
          display: -moz-inline-stack;
          display: inline-block;
          margin: 0;
          padding-right: 16px;
          min-height: 28px;
          vertical-align: top;
        }
      }

      &.ff_list_5col {
        .ff-el-form-check {
          width: 20%;
          display: -moz-inline-stack;
          display: inline-block;
          margin: 0;
          padding-right: 16px;
          min-height: 28px;
          vertical-align: top;
        }
      }

      &.ff_list_inline {
        .ff-el-form-check {
          width: auto !important;
          float: none !important;
          margin: 0 15px 10px 0;
          display: -moz-inline-stack;
          display: inline-block;
        }
      }
    }
  }

  .ff-el-group {
    &.ff_list_buttons {
      .ff-el-form-check {
        label {
          margin: 0;
        }
        width: auto !important;
        float: none !important;
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        margin: 0 0 10px 0;

        input {
          opacity: 0;
          outline: none;
          position: absolute;
          margin: 0;
          z-index: -1;
          display: none;
        }

        label > span {
          line-height: 1;
          font-weight: 500;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          background: #fff;
          border: 1px solid #dcdfe6;
          border-left: 0;
          color: #606266;
          -webkit-appearance: none;
          text-align: center;
          box-sizing: border-box;
          outline: none;
          margin: 0;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          padding: 12px 20px;
          font-size: 14px;
          border-radius: 0;
          position: relative;
          display: inline-block;

          &:hover {
            color: #409eff;
          }
        }

        &.ff-el-image-holder {
          border: 1px solid #dcdfe5;
          overflow: hidden;
          span {
            width: 100%;
            border: none !important;
            margin-left: -1px;
            border-radius: 0 !important;
          }
          &.ff_item_selected {
            border-color: #409eff;
          }
        }

        &:first-child label > span {
          border-left: 1px solid #dcdfe6;
          border-radius: 4px 0 0 4px;
          box-shadow: none !important;
        }

        &:last-child label > span {
          border-radius: 0 4px 4px 0;
        }

        &.ff_item_selected label > span {
          color: #fff;
          background-color: #409eff;
          border-color: #409eff;
          box-shadow: -1px 0 0 0 #8cc5ff;
        }

        &.ff_item_selected:first-child label > span {
          border-left-color: #409eff;
        }

        @media only screen and (max-width: 768px) {
          width: 100%;
          display: block;
          label > span {
            display: block;
            width: 100%;
            border: 1px solid !important;
            border-radius: 4px !important;
            box-shadow: none !important;
          }
        }
      }
    }
  }

  div.ff-el-form-hide_label > .ff-el-input--label {
    display: none;
    visibility: hidden;
  }

  .ff_file_upload_holder {
    margin-bottom: 0px;
  }

  .ff_center {
    text-align: center;
  }

  .ff_right {
    text-align: right;
  }

  .ff_left {
    text-align: left;
  }

  .ff-form-inline {
    > .ff-el-group, > .ff-name-field-wrapper, .ff-t-container {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;

      > .ff-el-input--label, .ff-t-cell .ff-el-input--label {
        display: none;
      }

      .ff-el-input--content {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .ff-t-container .ff-name-title{
    width: 40%;
  }

  .ff_hide_label .ff-el-input--label {
    display: none;
  }

  .field-value {
    white-space: pre-line;
  }

  .ff-el-group .ff-read-only {
    background-color: #e9ecef !important;
    opacity: 1;
    pointer-events: none;
  }

  label.ff-el-image-input-src {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    display: block;
  }

  .ff-el-image-holder {
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    .ff-el-form-check-label {
      padding-left: 1px;
    }
  }

  .ff_el_checkable_photo_holders {
    display: block;
    margin-bottom: -20px;
    overflow: hidden;
  }

  .select2-container {
    width: 100% !important;

    .select2-selection__rendered li {
      margin: 0;
    }

    .select2-search--inline > input {
      margin-top: 0px;
      height: calc(2.25rem + 2px);
      padding: .375rem 1.75rem .375rem .75rem;
      line-height: 1.5;
    }
  }

  .ff-el-form-bottom {
    display: flex;
    flex-direction: column-reverse;
    .ff-el-input--label {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
}

.ff_modal_container {
  max-width: 900px;
  background: white;
  padding: 30px;
  overflow: auto;
  max-height: 90vh !important;
  @media only screen and (min-width: 1000px) {
    width: 900px;
  }

}

@media only screen and (max-width: 768px) {
  .lity-container {
    width: 96%;
  }
  .fluentform .ff-t-container .ff-name-title{
    width: 100%;
  }

}

.select2-results__option {
  margin: 0;
}

.fluentform span.select2.select2-container:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 5px solid #495057;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.ff_pointer {
  cursor: pointer;
}

.ff_net_table {
  width: 100%;
  line-height: 1.4;
  border-collapse: separate;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  border-spacing: 0;
  border: 0;

  th {
    font-size: 13px;
    font-weight: 400;
    padding: 8px 0;
    text-align: center;
    vertical-align: bottom;
    border: none;

    .ff_not-likely {
      float: left;
      text-align: left;
    }

    .ff_extremely-likely {
      float: right;
      text-align: right;
    }
  }

  tbody {
    tr {
      background: none;
      border: 0 none;

      td {
        background-color: #fff;
        padding: 0;
        vertical-align: middle;
        text-align: center;
        border: 1px solid #ddd;
        border-left: 0;

        input[type=radio] {
          &:checked + label {
            background-color: #4CAF50;
            color: #fff;
          }
        }

        &:first-of-type {
          border-radius: 5px 0 0 5px;
          border-left: 1px solid #ddd;
        }

        &:last-child {
          border-radius: 0 5px 5px 0;
        }

        label {
          display: block;
          width: 100%;
          height: 40px;
          font-weight: 700;
          font-size: 16px;
          line-height: 40px;
          position: relative;
          cursor: pointer;
          color: #444;
          border: 0;
          margin: 0;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
          }

          &:hover:after {
            border: 2px solid #4CAF50;
          }
        }
      }
    }
  }
}

.ff-el-pop-content {
  transform-origin: center bottom;
  z-index: 9999;
  position: absolute;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 11px;
  line-height: 1.2;
  padding: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}