$prefix: '.ff';
$el-prefix: $prefix + '-el';
$danger: var(--ff-danger);
$geenishGray: #ced4da;

$primary:         var(--ff-primary);
$border:          var(--ff-border);

$title-color:     var(--ff-emphasis);
$text-color:      var(--ff-secondary);
