$prefix: '.ff';
$el-prefix: $prefix + '-el';
$danger: #F56C6C;
//$font-color: #000;
$geenishGray: #ced4da;

$primary:         var(--primary);
$border:          var(--border);

$title-color:     var(--emphasis);
$text-color:      var(--secondary);
