$prefix: '.ff';
$el-prefix: $prefix + '-el';
$danger: var(--fluentform-danger);
$geenish-gray: #ced4da;

$primary:         var(--fluentform-primary);
$border-color:          var(--fluentform-border-color);
$border-radius:    var(--fluentform-border-radius);
$text-color:      var(--fluentform-secondary);
