/*===============================
=            Choices            =
===============================*/

$choices-selector: 'choices' !default;
$choices-font-size-lg: 16px !default;
$choices-font-size-md: 14px !default;
$choices-font-size-sm: 12px !default;
$choices-guttering: 24px !default;
$choices-border-radius: 0.25rem !default;
$choices-border-radius-item: 20px !default;
$choices-bg-color: #f9f9f9 !default;
$choices-bg-color-disabled: #eaeaea !default;
$choices-bg-color-dropdown: #ffffff !default;
$choices-text-color: #495057 !default;
$choices-keyline-color: #dddddd !default;
$choices-primary-color: #00bcd4 !default;
$choices-disabled-color: #eaeaea !default;
$choices-highlight-color: $choices-primary-color !default;
$choices-button-dimension: 8px !default;
$choices-button-offset: 8px !default;
$choices-icon-cross: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==) !default;
$choices-icon-cross-inverse: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==) !default;
$choices-z-index: 1;
$focus-border-color: #80bdff;
$inner-border-color: #ced4da;

.frm-fluent-form {
  .#{$choices-selector} {
    position: relative;
    overflow: hidden;
    margin-bottom: $choices-guttering;
    font-size: $choices-font-size-lg;
    &:focus {
      outline: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.is-open {
      overflow: initial;
    }
    &.is-disabled {
      .#{$choices-selector}__inner,
      .#{$choices-selector}__input {
        cursor: not-allowed;
        user-select: none;
      }
      .#{$choices-selector}__item {
        cursor: not-allowed;
      }
    }

    [hidden] {
      display: none !important;
    }
  }

  .#{$choices-selector}[data-type*='select-one'] {
    cursor: pointer;
    .#{$choices-selector}__input {
      border: 1px solid $inner-border-color !important;
      outline: none !important;
      display: block;
      width: calc(100% - 20px) !important;
      margin: 10px 0 10px 10px !important;
      box-sizing: border-box !important;
      background-color: #fff;
      line-height: 1.6;
      font-size: 16px;
      padding: 6px 10px;
      &:focus {
        border: 1px solid $choices-highlight-color;
      }
    }
    .#{$choices-selector}__button {
      background-image: $choices-icon-cross-inverse;
      padding: 0;
      background-size: 8px;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -10px;
      margin-right: 25px;
      height: 20px;
      width: 20px;
      border-radius: 10em;
      opacity: 0.25;
      &:hover,
      &:focus {
        opacity: 1;
      }
      &:focus {
        box-shadow: 0px 0px 0px 2px $choices-highlight-color;
      }
    }
    .#{$choices-selector}__item[data-value=''] .#{$choices-selector}__button {
      display: none;
    }
    &:after {
      content: '';
      height: 0;
      width: 0;
      border-style: solid;
      border-color: $choices-text-color transparent transparent transparent;
      border-width: 5px;
      position: absolute;
      right: 11.5px;
      top: 50%;
      margin-top: -2.5px;
      pointer-events: none;
    }
    &.is-open:after {
      border-color: transparent transparent $choices-text-color transparent;
      margin-top: -7.5px;
    }
    &[dir='rtl'] {
      &:after {
        left: 11.5px;
        right: auto;
      }
      .#{$choices-selector}__button {
        right: auto;
        left: 0;
        margin-left: 25px;
        margin-right: 0;
      }
    }
  }

  .#{$choices-selector}[data-type*='select-multiple'] {
    .#{$choices-selector}__inner {
      cursor: text;
      padding: 0px 10px;
    }
    .#{$choices-selector}__button {
      position: relative;
      display: inline-block;
      margin-top: 0;
      margin-right: -$choices-button-offset/2;
      margin-bottom: 0;
      margin-left: $choices-button-offset;
      padding: 0px 20px 0px 10px;
      border-left: 1px solid #ffffff;
      background-image: $choices-icon-cross;
      background-size: $choices-button-dimension;
      width: $choices-button-dimension;
      line-height: 1;
      opacity: 0.5;
      border-radius: 0;
      &:hover,
      &:focus {
        opacity: 1;
        background-color: transparent;
      }
    }
    .#{$choices-selector}__input {
      border: none;
      font-size: 16px;
      line-height: 1.6;
      background: transparent;
      padding: 6px 0;
      margin: 0;
      box-shadow: none;
      border-radius: 0;
      display: inline-block;
      &:focus {
        box-shadow: none;
        border: none;
        outline: none;
      }
    }
    &:after {
      content: '';
      height: 0;
      width: 0;
      border-style: solid;
      border-color: $choices-text-color transparent transparent transparent;
      border-width: 5px;
      position: absolute;
      right: 11.5px;
      top: 50%;
      margin-top: -2.5px;
      pointer-events: none;
    }
    &.is-open:after {
      border-color: transparent transparent $choices-text-color transparent;
      margin-top: -7.5px;
    }
  }

  .#{$choices-selector}__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border: 1px solid $choices-keyline-color;
    border-radius: $choices-border-radius;
    font-size: $choices-font-size-md;
    min-height: auto;
    overflow: hidden;
    background: white;
    .is-focused &,
    .is-open & {
      border-color: $focus-border-color;
    }
    .is-open & {
      border-radius: $choices-border-radius $choices-border-radius 0 0;
    }
    .is-flipped.is-open & {
      border-radius: 0 0 $choices-border-radius $choices-border-radius;
    }
  }

  .#{$choices-selector}__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  .#{$choices-selector}__list--single {
    display: inline-block;
    padding: 6px 24px 6px 12px;
    width: 100%;
    [dir='rtl'] & {
      padding-right: 12px;
      padding-left: 24px;
    }
    .#{$choices-selector}__item {
      width: 100%;
      line-height: 1.65;
      font-size: 16px;
    }
  }

  .#{$choices-selector}__list--multiple {
    display: inline;
    .#{$choices-selector}__item {
      display: inline-block;
      vertical-align: middle;
      border-radius: $choices-border-radius-item;
      padding: 4px 10px;
      font-size: $choices-font-size-sm;
      font-weight: 500;
      margin-right: 5px;
      margin-bottom: 3px;
      background-color: #4a4e50;
      border: 1px solid #3e3e3e;
      color: #ffffff;
      word-break: break-all;
      box-sizing: border-box;
      &[data-deletable] {
        padding-right: 5px;
      }
      [dir='rtl'] & {
        margin-right: 0;
        margin-left: 5px;
      }
      &.is-highlighted {
        background-color: darken($choices-primary-color, 5%);
        border: 1px solid darken($choices-primary-color, 10%);
      }
      .is-disabled & {
        background-color: darken($choices-disabled-color, 25%);
        border: 1px solid darken($choices-disabled-color, 35%);
      }
    }
  }

  .#{$choices-selector}__list--dropdown {
    visibility: hidden;
    z-index: $choices-z-index;
    position: absolute;
    min-width: 100%;
    width: max-content;
    background-color: $choices-bg-color-dropdown;
    border: 1px solid $focus-border-color;
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: $choices-border-radius;
    border-bottom-right-radius: $choices-border-radius;
    overflow: hidden;
    word-break: break-all;
    will-change: visibility;
    &.is-active {
      visibility: visible;
    }
    .is-open & {
      border-color: $focus-border-color;
    }
    .is-flipped & {
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: -1px;
      border-radius: 0.25rem 0.25rem 0 0;
    }
    .#{$choices-selector}__list {
      position: relative;
      max-height: 300px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;
    }
    .#{$choices-selector}__item {
      position: relative;
      padding: 10px;
      font-size: $choices-font-size-md;
      [dir='rtl'] & {
        text-align: right;
      }
    }
    .#{$choices-selector}__item--selectable {
      @media (min-width: 640px) {
        padding-right: 100px;
        &:after {
          content: attr(data-select-text);
          font-size: $choices-font-size-sm;
          opacity: 0;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
        [dir='rtl'] & {
          text-align: right;
          padding-left: 100px;
          padding-right: 10px;
          &:after {
            right: auto;
            left: 10px;
          }
        }
      }
      &.is-highlighted {
        background-color: mix(#000000, #ffffff, 5%);
        &:after {
          opacity: 0.5;
        }
      }
    }
  }

  .#{$choices-selector}__item {
    cursor: default;
  }

  .#{$choices-selector}__item--selectable {
    cursor: pointer;
  }

  .#{$choices-selector}__item--disabled {
    cursor: not-allowed;
    user-select: none;
    opacity: 0.5;
  }

  .#{$choices-selector}__heading {
    font-weight: 600;
    font-size: $choices-font-size-sm;
    padding: 10px;
    border-bottom: 1px solid lighten($choices-keyline-color, 10%);
    color: lighten(#333, 30%);
  }

  .#{$choices-selector}__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }


  .#{$choices-selector}__placeholder {
    //opacity: 0.5;
    color: $choices-text-color;
    font-size: 16px;
    line-height: 1.65;
  }
}
.choices__list {
  &.choices__list--dropdown.is-active {
    display: block !important;
  }
  &.choices__list--dropdown {
    display: none;
  }
}

/*=====  End of Choices  ======*/