.fluentform {
  * {
    box-sizing: border-box;
  }
  .clearfix {
    &:before,
    &:after {
      display: table;
      content: " ";
    }
    &:after {
      clear: both;
    }
  }
}
@import "_var";
@import "public/_grid";
@import "public/components";
@import "public/public_helpers";
@import "public/responsive";