.ff_frameless_page_body {
  .ff_frameless_wrapper {
    padding-top: 80px;
    padding-bottom: 100px;
    min-height: 100vh;
    background: #eee;

    .ff_frameless_item {
      box-shadow: 0 30px 40px 0 rgba(0,0,0,.25),inset 0 4px 0 0#a1c5e5;
      box-sizing: border-box;
      max-width: 800px;
      margin: 0 auto;
      border-radius: 8.5px;
      padding: 30px 40px 30px;
      background-color: white;
      color: #444;
      .ff_frameless_header {
        border-bottom: 1px solid #e6e6e6;
        margin: 0px -40px 20px;
        text-align: center;
        padding: 0 40px 10px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

