.ff-default {
  #{$prefix} {
    /*
    |----------------------------------------------------------------------------
    | BUTTON
    |----------------------------------------------------------------------------
    */
    &_btn_style {
      cursor: pointer;
      display: inline-block;
      font-weight: 500;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: 8px 20px;
      font-size: 16px;
      line-height: 1.5;
      border-radius: 7px;
      position: relative;
      transition: background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
      &:focus,
      &:hover {
        outline: 0;
        text-decoration: none;
        opacity: 0.8;
      }
    }

    &-btn {
      // button types
      &-primary:not(.ff_btn_no_style) {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;

        &:hover {
          color: #fff;
          background-color: #0069d9;
          border-color: #0062cc;
        }

        &:focus {
          color: #fff;
          background-color: #0069d9;
          border-color: #0062cc;
        }
      }

      &-secondary:not(.ff_btn_no_style) {
        color: #fff;
        background-color: #606266;
        border-color: #606266;

        &:hover {
          color: #fff;
          background-color: #727b84;
          border-color: #6c757d;
        }

        &:focus {
          color: #fff;
          background-color: #727b84;
          border-color: #6c757d;
        }
      }

      // button sizes
      &-lg {
        padding: 8px 16px;
        font-size: 18px;
        line-height: 1.5;
        border-radius: 6px;
      }

      &-sm {
        padding: 4px 8px;
        font-size: 13px;
        line-height: 1.5;
        border-radius: 3px;
      }
    }
  }

  #{$el-prefix} {
    /*
    |----------------------------------------------------------------------------
    | FORM ELEMENTS
    |----------------------------------------------------------------------------
    */
    &-form-control {
      padding: 11px 15px;
      line-height: 1;
      color: $text-color;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      margin-bottom: 0;
      max-width: 100%;
      font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      &:focus {
        color: $text-color;
        background-color: #fff;
        border-color: $primary;
        outline: none;
      }
    }

    &-form-check {
      label.ff-el-form-check-label {
        margin-bottom: 7px;
        cursor: pointer;
        > span:before, > span:after {
          content: none;
        }
      }

      &:last-child {
        label.ff-el-form-check-label {
          margin-bottom: 0;
        }
      }
    }
  }

  textarea{
    min-height: 90px;
  }
}

/*
|----------------------------------------------------------------------------
| INPUT ELEMENT
|----------------------------------------------------------------------------
*/
select#{$el-prefix}-form-control {
  &:not([size]) {
    &:not([multiple]) {
      height: 42px;
    }
  }
}

.elementor-editor-active {
  .ff-form-loading {
    .ff-step-container {
      .fluentform-step:first-child {
        height: auto;
      }
    }
  }
}

.ff-upload-preview.ff_uploading {
  opacity: 0.8;
}

@keyframes ff_move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.ff_uploading {
  .ff-el-progress {
    .ff-el-progress-bar {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(
                      -45deg,
                      rgba(255, 255, 255, .2) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(255, 255, 255, .2) 50%,
                      rgba(255, 255, 255, .2) 75%,
                      transparent 75%,
                      transparent
      );
      z-index: 1;
      background-size: 50px 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
      animation: ff_move 2s linear infinite;
    }
  }
}

.ff_payment_summary {
  overflow-x: scroll;
}

.pac-container {
  z-index: 99999 !important;
}