.ff_conv_section_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 50%;

  &.ff_conv_layout_default {
    padding: 30px 0;
    .ff_conv_media_preview {
      display: none !important;
    }
    .ff_conv_input {
      width: 100%;
      display: block;
    }
  }

  .ff_conv_input {
    width: 100%;
    padding: 30px 20px 30px 0;
  }

  .ff_conv_media_preview {
    width: 100%;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 300px;
    }
  }
}

.ff_conv_section {
  padding-bottom: 30px;
}
.ff_iconed_radios {
  > label {
    border: 1px solid rgb(115, 115, 115);
    padding: 5px 10px;
    color: rgb(115, 115, 115);
    margin-right: 20px;

    span.el-radio__input {
      display: none;
    }

    .el-radio__label {
      padding-left: 0;
    }

    i {
      font-size: 30px;
      width: 30px;
      height: 30px;
    }

    &.is-checked {
      border: 1px solid rgb(64, 158, 255);
      background: rgb(64, 158, 255);

      i {
        color: white;
        display: block;
      }
    }
  }
}
