@import "./var";

.el-notification__content {
    text-align: left;
}

.action-buttons {
    .el-button+.el-button {
        margin-left: 0;
    }
}

.el-box {
    &-card {
        box-shadow: none;
    }

    &-header,
    &-footer {
        background-color: #EDF1F6;
        padding: 15px;
    }

    &-body {
        padding: 15px;
    }
}

.el-form-item {
    &__force-inline {
        &.el-form-item__label {
            float: left;
            padding: 11px 12px 11px 0;
        }
    }

    .el-form-item {
        margin-bottom: 10px;
    }

    &__content {
        .line {
            text-align: center;
        }
    }
}

.el-basic-collapse {
    border: 0;
    margin-bottom: 15px;

    .el-collapse-item__header {
        padding-left: 0;
        display: inline-block;
        border: 0;
    }

    .el-collapse-item__wrap {
        border: 0;
    }

    .el-collapse-item__content {
        padding: 0;
        background-color: #fff;
    }
}

.el-collapse-settings {
    border: 0;
    .el-collapse-item__header {
        background: #F5F5F3;
        padding-left: 20px;
        padding-right: 10px;
        border-radius: $border-radius;
        border: 0;
        font-size: 16px;
        .el-collapse-item__arrow{
            font-weight: 500;
            font-size: 16px;
        }
    }

    .el-collapse-item__content {
        padding-bottom: 0;
        margin-top: 15px;
    }

    .el-collapse-item__arrow {
        line-height: 48px;
    }
    .el-collapse-item__wrap{
        overflow: inherit;
        background-color: transparent;
        border-bottom: 0;
    }
}

.el-popover {
    text-align: left;
}

// SIDEBAR OPTIONS
.option-fields-section--content {
    .el-form-item__label {
        padding-bottom: 10px;
        line-height: 1;
        color:#1e1f21;
    }

    .el-form-item__content {
        line-height: 1.5;
        margin-bottom: 5px;
    }

    .el-input-number--mini {
        line-height: 28px;
    }
    strong{
        font-weight: 600;
        color: #1e1f21;
    }
}

.el-dropdown-list {
    border: 0;
    margin: 0;
    box-shadow: none;
    padding: 0;
    z-index: 10;
    position: static;
    min-width: auto;
    max-height: 280px;
    overflow-y: scroll;

    .el-dropdown-menu__item {
        font-size: 13px;
        line-height: 18px;
        padding: 4px 10px;
        border-bottom: 1px solid #f1f1f1;

        &:last-of-type {
            border-bottom: 0;
        }
    }
}

.el-popper[x-placement^=bottom] .popper__arrow{
    top: -7px;
}
.el-form-nested {
    &.el-form--label-left {
        .el-form-item__label {
            float: left;
            padding: 10px 5px 10px 0;
        }
    }
}

.el-message {
    top: 40px;
}

// el tabs border card
.el-tabs--border-card{
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    border-color: $border-color;
    .el-tabs__header{
        padding: 10px 14px;
        background-color: transparent;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        .el-tabs__item{
            margin-top: 0;
            border: 0;
            border-radius: 6px;
            line-height: 34px;
            height: 34px;
            font-size: 13px;
            padding-right: 16px;
            padding-left: 16px;
            &:first-child{
                margin-left: 0;
            }
            &.is-active{
                background-color: $--color-primary-light-8;
                color: $--color-primary;
                &:hover{
                    color: $--color-primary;
                }
            }
        }
    }
}

// el button
.el-button {
    display: inline-flex;
    align-items: center;
    span{
        display: inline-flex;
        align-items: center;
    }
    &-group{
        .el-button{
            span{
                display: inline-block;
            }
        }
    }
    &--small{
        .ff-icon{
            font-size: 14px;
        }
    }
    &--soft {
        &.el-button{
            &--primary {
                background-color: $--color-primary-light-9;
                border-color: $--color-primary-light-9;
                color: $--color-primary;
                &:hover{
                    background-color: $--color-primary;
                    border-color: $--color-primary;
                    color: $--color-white;
                }
            }
            &--danger {
                background-color: $--color-danger-lighter;
                border-color: $--color-danger-lighter;
                color: $--color-danger;
                &:hover{
                    background-color: $--color-danger;
                    border-color: $--color-danger;
                    color: $--color-white;
                }
            }
            &--success{
                background-color: $--color-success-lighter;
                border-color: $--color-success-lighter;
                color: $--color-success;
                &:hover{
                  background-color: $--color-success;
                  border-color: $--color-success;
                  color: $--color-white;
                }
              }
              &--warning{
                background-color: $--color-warning-lighter;
                border-color: $--color-warning-lighter;
                color: $--color-warning;
                &:hover{
                  background-color: $--color-warning;
                  border-color: $--color-warning;
                  color: $--color-white;
                }
              }
              &--info{
                background-color: $--color-info-lighter;
                border-color: $--color-info-lighter;
                color: $--color-info;
                &:hover{
                  background-color: $--color-info;
                  border-color: $--color-info;
                  color: $--color-white;
                }
            }
            &--cyan{
                background-color: $--color-cyan-lighter;
                border-color: $--color-cyan-lighter;
                color: $--color-cyan;
                &:hover{
                  background-color: $--color-cyan;
                  border-color: $--color-cyan;
                  color: $--color-white;
                }
            }
            &--dark{
                background-color: $--color-dark-lighter;
                border-color: $--color-dark-lighter;
                color: $--color-dark;
                &:hover{
                  background-color: $--color-dark;
                  border-color: $--color-dark;
                  color: $--color-white;
                }
            }
        }
        &-2{
            &.el-button{
                &--primary {
                    background-color: #D1E5FE;
                    border-color: #D1E5FE;
                    color: $--color-primary;
                    &:hover{
                        background-color: $--color-primary;
                        border-color: $--color-primary;
                        color: $--color-white;
                    }
                }
            }
        }
    }
    &--icon.el-button{
        &--mini {
            padding: 7px;
            border-radius: 5px;
        }
        &--small{
            padding: 8px;
            font-size: 14px;
        }
    }
    &--text-light{
        color: $base-text;
    }
    &--info.is-plain{
        border-color: $--color-info-lighter;
    }
    &--dark{
        background-color: $--color-dark;
        color: $--color-white;
        border-color: $--color-dark;
        &:focus,
        &:hover{
            background-color: #3a3a40;
            border-color: #3a3a40;
            color: $--color-white;
        }
    }
}

.el-pager li{
    font-weight: 600;
}

.form-editor-elements {
    &:not(.el-form--label-left):not(.el-form--label-right) {
        .el-form-item__label {
            line-height: 1;
        }
    }
}

.folded {
    .el-dialog__wrapper {
        left: 36px;
    }
}

.el-dialog__wrapper {
    .data-lost-msg {
        margin-top: 10px;
    }
}
.ff-el-banner {
    &-group {
        overflow: hidden;
        .ff-el-banner {
            margin-right: 10px;
            margin-bottom: 30px;
        }
    }

    width: 200px;
    height: 250px;
    border: 1px solid lighten($greenishGray, 30%);
    float: left;
    display: inline-block;
    padding: 5px;
    transition: border 0.3s;
    overflow: hidden;

    + .ff-el-banner {
        margin-right: 10px;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    &-header {
        text-align: center;
        margin: 0px;
        background: #909399;
        padding: 3px 6px;
        font-size: 13px;
        color: #fff;
        font-weight: 400;
    }

    &-inner-item {
        position: relative;
        overflow: hidden;
        height: inherit;
    }

    &:hover {
        .ff-el-banner-text-inside {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }

    &-text-inside {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &-hoverable {
            position: absolute;
            transition: all 0.3s;
            color: #fff;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 10px;
            //background-color: rgba(0,0,0,0.6);
        }

        .form-title {
            color: #fff;
            margin: 0 0 10px;
        }
    }
}

.compact th>.cell,
.compact td>.cell {
    white-space: nowrap;
}

.el-tooltip {
    &__popper {
        p {
            margin-bottom: 0;
        }
    }
}

.el-dropdown-menu {
    left: unset;
    max-width: 270px;
}

.el-dropdown-link{
    cursor: pointer;
    &-lg{
        font-size: 24px;
        font-weight: 600;
        color: $base-color;
        .el-icon{
            font-size: 20px;
        }
    }
}

.el-switch{
    &--small{
        .el-switch__core{
            width: 28px !important;
            height: 16px;
            &::after{
                width: 12px;
                height: 12px;
            }
        }
        &.is-checked .el-switch__core::after {
            margin-left: -13px;
        }
        .el-switch__label *{
            font-size: 12px;
            font-weight: 400;
        }
    }
}

.el-message-box__title{
    font-weight: 500;
    color: $base-color;
}
// el input group
.el-input-group{
    &--append{
        position: relative;
        .el-input__inner {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
    &__append,
    &__prepend{
        text-align: center;
        background-color: #F2F2F2;
        padding: 0;
        width: 30px;
        position: absolute;
        top: 5px;
        height: 30px;
        display: grid;
        border: 0;
        border-radius: 5px !important;
        &:hover{
            background-color: #e0e0e0;
        }
        .el-icon-more {
            transform: rotate(90deg);
        }
        .el-button{
            padding: 0;
            margin: 0;
        }
    }
    &__append{
        right: 4px;
    }
    &__prepend{
        left: 4px;
    }
}

.el-table__fixed, 
.el-table__fixed-right{
    background-color: $white;
    &::before{
        display: none;
    }
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    box-shadow: none;
}
// dark radio
.el-radio-group-dark{
    .el-radio-button__orig-radio:checked + .el-radio-button__inner {
        background-color: $base-color;
        border-color: $base-color;

    }
}

.el-table{
    thead{
        .cell{
            color: $base-color;
            font-weight: 500;
        }
    }
    &--border{
        border-radius: 6px;
    }
}

// ff input
.ff-input-s1{
    .el-input {
        .el-select__caret{
            color: $base-color;
        }
        .el-icon-arrow-up{
            &::before{
                font-weight: 600;
            }
        }
    }
}

.el-radio-button--small{
    &:first-child .el-radio-button__inner {
        border-radius: 4px 0 0 4px;
    }
    &:last-child .el-radio-button__inner {
        border-radius: 0 4px 4px 0;
    }
}
.el-input--mini{
    .el-input__inner{
        border-radius: 4px;
    }
}

.el-input-number__increase, 
.el-input-number__decrease {
    background-color: #F2F2F2;
}
.el-input-number--mini{
    .el-input-number__decrease {
        left: 1px;
        border-radius: 4px 0 0 4px;
    }
    .el-input-number__increase {
        border-radius: 0 4px 4px 0;
    }
}

// el dialog header
.el-dialog__header{
    .title + .text{
        margin-top: 6px;
    }
    .text{
        margin-bottom: 0;
    }
    &_group{
        display: flex;
        align-items: center;
    }
}