
@import "./variables";
@import "./element_ui_var";
@import "./spacing";
@import "./list";
@import "./upload";

body{
  background-color: $body-bg;
  color: $--color-text-regular;
}
#wpcontent {
  padding-left: 0;
}
#wpbody-content * {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  color: $base-color;
}

ul,
ol{
  padding: 0;
  margin: 0;
  list-style: none;
}

h1{
  font-size: 24px;
}
h2{
  font-size: 23px;
}
h3{
  font-size: 22px;
  line-height: 1.4;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 18px;
}
h6{
  font-size: 16px;
}
p{
  font-size: 15px;
  margin-top: 0;
  &:last-child{
    margin: 0;
  }
}

hr{
  border-top: 0;
  border-bottom-color: $border-color;
}

dd,
li{
  margin-bottom: 0;
}

a{
  color: $--color-primary;
  text-decoration: none;
  font-weight: 400;
  &:focus{
    outline: none;
    box-shadow: none;
  }
  &:hover{
    color: $--color-primary;
  }
}

.notice,
div.error,
div.updated{
  margin: 8px 24px 2px;
}
.fluentform-admin-notice.notice-error {
  margin: 8px 24px;
  padding: 10px 20px;
    h3 {
      font-size: 18px;
      margin: 10px 0;
    }
}
.ff_form_wrap_area {
  .fluentform-admin-notice {
    margin: 8px 0;
  }
}
.ff_backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999;
}

.w-100{
  width: 100% !important;
}
.h-100{
  height: 100% !important;
}

// form wrap
.ff_form_wrap {
  padding: 24px;
}

.ff_global_setting_wrap,
.ff_tools_wrap,
.ff_screen_settings,
.ff_screen_entries,
.ff_screen_conversational_design,
.ff_screen_msformentries,
.ff_screen_inventory_list
{
  padding: 0;
}

input[type=text],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
input[type=password],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
textarea {
    -webkit-appearance: none;
    color: $base-text;
    background-color: $white;
    border-radius: $--border-radius-base;
    border-color: $--border-color-base;
    box-shadow: none;
    padding: 0 15px;
    &:hover,
    &:focus {
      border-color: $--color-primary !important;
    }
    &:focus {
      box-shadow: none;
    }
}
input[type=number] {
  padding-right: 0;
}
input[type=checkbox]:disabled {
  opacity: 0;
}
// select
.ff{
  &-select {
    -webkit-appearance: none !important;
    border-radius: $--input-border-radius !important;
    border: $--input-border !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    color: $--input-font-color !important;
    display: inline-block !important;
    height: 40px !important;
    line-height: 40px !important;
    outline: 0 !important;
    padding: 0 29px 0 20px !important;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1) !important;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1) !important;
    max-width: inherit !important;
    outline: none !important;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 14px top 55% !important;
    background-size: 16px 16px !important;
    background-blend-mode: hard-light;
    text-overflow: ellipsis;
    &:focus{
      box-shadow: none !important;
      outline: none !important;
    }
    &-block{
      display: block;
      width: 100%;
    }
    &-small{
      height: 32px !important;
      line-height: 32px !important;
      padding-right: 24px !important;
      padding-left: 10px !important;
      background-position-x: 38px !important;
      border-radius: 5px !important;
        &.condition-field, &.condition-operator, &.condition-value {
            background-position-x: 90% !important;
        }
    }
  }
  &_filter_selected {
    color: #1A7EFB;
    border-color: #bad8fe;
    background-color: #e8f2ff;
  }
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.icon {
  font: normal normal normal 14px/1 ultimateform;
  display: inline-block;
}
.el-input--prefix .el-input__inner {
  padding-left: 38px;
}
.el-input__prefix{
  left: 12px;
}

span + .ff-icon,
.ff-icon + span{
  margin-left: 6px;
}
.d-flex {
  display: flex;
}

.justify{
  &-end{
    justify-content: flex-end !important;
  }
  &-between{
    justify-content: space-between !important;
  }
}

// text color
.text{
  &-primary{
    color: $--color-primary !important;
  }
  &-secondary {
    color: $--color-text-regular !important;
  }
  &-danger{
    color: $--color-danger !important;
  }
  &-success{
    color: $--color-success !important;
  }
  &-warning{
    color: $--color-warning !important;
  }
  &-dark{
    color: $base-color !important;
  }
}
// flex
.flex-grow-1{
  flex: 1;
}
/* HELPER CLASSES */
.mr15 {
    margin-right: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.el-icon-clickable {
    cursor: pointer;
}

.help-text {
    margin: 0;
    font-style: italic;
    font-size: 0.9em;
}

.fs-17{
  font-size: 17px !important;
}
.fs-15{
  font-size: 15px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-13{
  font-size: 13px !important;
}

.text-note{
  font-size: 13px;
  color: $base-text;
  font-weight: 400;
}
.mx-auto{
  margin-right: auto;
  margin-left: auto;
}

.img-thumb{
  border-radius: $border-radius;
  border: 1px solid $border-color;
}

// lead
.lead {
  &-title{
    font-size: 15px;
    display: block;
    color: $base-color;
    transition: 0.2s;
    font-weight: 500;
  }
  &-text {
    font-size: 13px;
    color: $base-text;
  }
}
a.lead-text{
  color: $--color-primary;
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    &-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;

        &:hover {
            color: #fff;
            background-color: #286090;
            border-color: #204d74;
        }
    }

    &-block {
        width: 100%;
    }
}

/* CLEARFIX */
.clearfix,
.form-editor {
    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

.el-notification__content p {
    text-align: left;
}

.label-lh-1-5 {
    label {
        line-height: 1.5;
    }
}
// ff header
.ff_header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $border-color;
    background: $white;
    padding: $header-padding-y $header-padding-x;
    &_group{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .plugin-name {
      //margin-right: 32px;
      height: 30px;
      img {
        height: 100%;
      }
    }
}
// ff_row
.ff_row{
  display: flex;
  flex-wrap: wrap;
}

// dialog
.el-dialog {
  padding: 24px 30px;
  &__headerbtn {
    top: 18px;
    right: 22px;
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fafafa;
    transition: 0.2s;
    .el-dialog__close{
      color: $base-color;
    }
    &:hover{
      background-color: #ececec;
      .el-dialog__close{
          color: $base-color;
      }
    }
  }
  &__header {
    padding: 0 0 24px 0;
    border-bottom: 1px solid $border-color;
    h4{
      font-weight: 500;
    }
  }
  &__body {
    padding: 0;
  }
  &__footer{
    padding: 0;
    .has-separator{
      padding-top: 20px;
      border-top: 1px solid $border-color;
    }
  }
}

.el-popover,
.el-dialog {
  border-radius: $border-radius;
}

.form-editor {
    .disabled-info .el-dialog__wrapper {
        .el-dialog__header {
          padding: 0;
          border: 0;
        }
        .el-dialog__body {
            .el-row {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
            }
        }
        .el-dialog__headerbtn {
          z-index: 1;
        }
        h3 {
            font-size: 1.5em;
        }
        p {
            font-size: 16px;
        }
        img {
            width: 100%;
        }
    }
}

.ff_nav_top {
  overflow: hidden;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  .ff_nav_title {
    float: left;
    width: 50%;
    h3 {
      float: left;
      margin: 0;
      padding: 0;
      line-height: 28px;
    }
    .ff_nav_sub_actions {
      display: inline-block;
      margin-left: 20px;
    }
  }

  .ff_nav_action {
    float: left;
    width: 50%;
    text-align: right;
  }

  .ff_search_inline {
    width: 200px;
    text-align: right;
    display: inline-block;
  }

}
.ff_nav_top.ff_advanced_search {
  padding: 10px 20px;
  background: white;
  border-radius: 5px;
}

.ff_global_notices {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  box-sizing: border-box;
  .ff_global_notice {
    background: white;
    margin-right: 20px;
    display: block;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    &.ff_notice_error {
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba;
    }
    &.ff_notice_success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }
  }
}


.el-select-dropdown.el-popper {
  z-index: 99999999999 !important;
}

ul.ff_entry_list {
  list-style: disc;
  margin-left: 20px;
}
span.ff_new_badge {
  background: #ff4747;
  padding: 0 5px 3px;
  border-radius: 4px;
  font-size: 11px;
  vertical-align: super;
  color: white;
  line-height: 100%;
  margin-left: 5px;
}

label.el-radio, label.el-checkbox {
  display: inline-block;
}

.el-time-spinner__list {
  .el-time-spinner__item {
    margin-bottom: 0px !important;
  }
}

// ff card block
.ff_card_block {
  padding: 20px;
  background: #f2f2f2;
  border-radius: 8px;
  &_head{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
  }
  h3 {
    padding: 0;
    margin: 0px 0 15px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.ff-left-spaced {
  margin-left: 10px !important;
}

.doc_video_wrapper {
  text-align: center;
  background: white;
  padding: 20px 0 0 0;
  max-width: 800px;
  margin: 0 auto;
}

.el-big-items {
  .el-select-dropdown__wrap {
    max-height: 350px;
  }
}

.ff_email_resend_inline {
  display: inline-block;
}

// el radio
.el-radio-group-column{
  display: flex;
  flex-direction: column;
  .el-radio {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

// el checkbox
.el-checkbox-group-column{
  display: flex;
  flex-direction: column;
  .el-checkbox {
    margin-bottom: 14px;
    margin-right: 0;
  }
}

// advanced filter
.ff_advanced_filter_wrap {
  position: relative;
}
.ff_advanced_search {
  position: absolute;
  width: 350px;
  background: $white;
  right: 0;
  z-index: 1024;
  box-shadow: 0px 40px 64px -12px rgba(0, 0, 0, 0.08), 0px 0px 14px -4px rgba(0, 0, 0, 0.08), 0px 32px 48px -8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: $border-radius;
  top: 100%;
  margin-top: 10px;
  &_date_range {
    background-color: #ececec;
    padding: 14px;
    border-radius: $border-radius;
    p{
      font-size: 14px;
      font-weight: 400;
    }
    .el-date-editor--daterange.el-input__inner {
      width: 282px;
    }
  }
}

.el-switch__core{
  &::after{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #FFFFFF, inset 0px -1px 1px rgba(0, 0, 0, 0.1);
  }
}

// row actions
.row-actions{
  .row-actions-item{
    position: relative;
    padding-right: 10px;
    font-size: 13px;
    display: inline-block;
    line-height: 1;
    &::after{
      width: 1px;
      height: 10px;
      background-color: #ddd;
      position: absolute;
      content: "";
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
    }
    &.trash{
      &::after{
        display: none;
      }
    }
  }
  span.trash {
    a{
      color: $--color-danger;
    }
  }
}

// pagination
.ff_pagination {
  background: #fff;
  display: inline-flex;
  border-radius: $border-radius;
  padding: 12px 20px;
  box-shadow: 0px 1px 3px rgba(30, 31, 33, 0.08);
  font-weight: 500;
  .el-input__inner{
    background: #f2f2f2;
    border-color: #f2f2f2;
    border-radius: 4px !important;
    color: $--color-text-regular;
    &:focus,
    &:hover{
      border-color: #f2f2f2 !important;
    }
  }
  .el-select .el-input .el-select__caret{
    color: $--color-text-regular;
  }
}
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  background-color: transparent;
  border-radius: 4px;
}

.ff_shortcode{
  &_wrap{
    + .ff_shortcode_wrap{
      margin-top: 0.5rem;
    }
  }
  &_btn {
    padding: 4px 10px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    border-radius: 6px;
    margin: 0;
    background-color: $shortcode-bg;
    border: 0;
    color: $shortcode-color;
    span{
      overflow: hidden;
      white-space: nowrap;
      width: 200px;
      text-overflow: ellipsis;
    }
    .el-icon{
      margin-right: 1px;
    }
    &_thin{
      background-color: $shortcode-bg-thin;
    }
    &_md{
      padding: 10px 14px;
      font-size: 15px;
      line-height: 1.2;
    }
  }
}

.copy_btn {
  background-color: #E7E6E6;
  border-radius: 4px;
  padding: 1px 10px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    background-color: #d8d7d7;
  }
}
.ff_editor_html {
  ul {
    list-style-type: disc;
    padding-left: 3em;
  }
  ol {
    list-style-type: decimal;
    margin-left: 3em;
  }
}

// section block
.ff_section{
  &_block{
    margin-bottom: 64px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.ff_radio_list {
  display: flex;
  flex-direction: column;
  &_item {
    width: 100%;
    margin-bottom: 2px;
    .el-radio-button__inner {
      background-color: transparent;
      border: 0 !important;
      padding: 13px 16px;
      border-radius: 6px !important;
      color: $--color-text-regular;
      width: 100%;
      text-align: left;
      box-shadow: none !important;
      transition: 0.2s;
      &:hover{
        background-color: rgba($--color-text-regular, 0.1);
        color: $base-color;
      }
    }
    &.is-active .el-radio-button__inner {
      background-color: rgba($--color-text-regular, 0.1);
      color: $base-color;
    }
  }
}

.is-sticky {
  position: fixed;
  top: 40px;
  z-index: 1020;
}

.ff_section_desc {
  font-size: 16px;
}


.ff_section{
  &_head{
    margin-bottom: 40px;
    &_between{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &.sm{
      margin-bottom: 24px;
    }
    &_content_group{
      display: flex;
      align-items: center;
    }
    .text{
      font-size: 15px;
    }
  }
}
.el-row {
  display: flex;
  flex-wrap: wrap;
}

// align items
.items{
  &-start {
    align-items: flex-start !important;
  }
  &-center{
    align-items: center !important;
  }
  &_end{
    align-items: flex-end !important;
  }
}

.el-radio-button__inner{
  font-weight: 400;
}
.el-select-dropdown__item.selected{
  font-weight: 500;
}

//section layout
.ff_layout_section {
  display: flex;
  width: 100%;
  min-height: 550px;
  &_sidebar {
    flex-shrink: 0;
    background-color: $white;
    box-shadow: 0 1px 3px rgba(30, 31, 33, 0.05);
    width: $section-layout-sidebar-width-sm;
    padding: 16px;
    vertical-align: top;
  }
  &_container {
    flex: 1;
    padding: 16px;
    //height: 95vh;
    overflow-y: scroll;
  }
}
// global setting
.ff_global_settings_option{
  overflow-y: scroll;
  height: 110vh;
  &::-webkit-scrollbar {
      display: none;
  }
  .el-form-item,
  .el-form-item-wrap {
    margin-bottom: 24px;
    &:last-child{
        margin-bottom: 0;
    }
  }
  .ff_card:not(:last-child) {
    margin-bottom: 32px;
  }
}

.ff_input_width {
  width: 438px;
}
.ff_input_full_width {
  width: 100%;
}

.ff_tooltip_wrap {
  max-width: 320px;
  line-height: 1.6;
  font-size: 14px;
  h6{
    color: $white;
  }
}
.ff-icon-gray{
  color: #757D8A;
}

.el-form--label-top{
  .el-form-item__label{
    line-height: 1;
    padding-bottom: 16px;
  }
}

// ff-form-item
.ff-form-item{
  .el-form-item__label{
    font-size: 15px;
    color: $base-color;
    display: flex;
    align-items: center;
    font-weight: 500;
    .ff-icon{
      margin-left: 4px;
    }
  }
  .el-form-item__content{
    line-height: 1;
  }
  .ff-icon-info-filled,
  .el-icon-info {
    font-size: 13px;
  }
  .el-icon-info{
    transform: rotate(-14deg);
    color: $--color-primary;
  }
}

.el-select__tags input {
  background-color: transparent;
  border: none;
  padding: 0 8px;
  min-height: 30px;
  line-height: 2;
  margin-left: 0;
}

// alert
.ff_alert {
  border-left: 3px solid $--color-primary;
  border-radius: 4px;
  padding: 17px;
  background-color: $--color-primary-light-9;
  &_icon{
    font-size: 16px;
    display: inline-block;
    margin-top: 3px;
    + .ff_alert_content{
      padding-left: 10px;
    }
  }
  &_group{
    display: flex;
  }
  &_sm{
    padding: 10px;
  }
  &.success{
    background-color: $--color-success;
    border-left-color: $--color-success;
    color: $--color-white;
    &-soft{
      background-color: $--color-success-lighter;
      border-left-color: $--color-success;
    }
  }
  &.danger{
    background-color: $--color-danger;
    border-left-color: $--color-danger;
    color: $--color-white;
    &-soft{
      background-color: $--color-danger-lighter;
      border-left-color: $--color-danger;
    }
  }
  .text{
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 14px;
  }
  &_between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text{
      margin-bottom: 0;
    }
  }
  &_s2{
    text-align: center;
    border-left: 0;
    border-radius: 8px;
    padding: 40px;
  }
}

.ff-form-item-flex {
  display: flex;
  align-items: center;
  .el-form-item__label{
    padding-bottom: 0;
  }
  &.reverse{
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.el-switch{
  input{
    border: 0;
  }
  &-lg{
    .el-switch__core{
      width: 48px !important;
      height: 24px;
      border-radius: 30px;
      &::after{
        width: 20px;
        height: 20px;
      }
    }
    &.is-checked .el-switch__core::after {
      margin-left: -21px;
    }
  }
}

.ff_block_title{
  font-weight: 500;
}

.el-form-item__label h6{
  font-size: 15px;
  font-weight: 500;
}

.ff_checkbox_group_col_2 {
  display: flex;
  flex-wrap: wrap;
  .el-checkbox {
    margin-right: 0;
    margin-bottom: 0.75rem;
    width: 50%;
    line-height: 1;
  }
}
// wp vue editor
.wp_vue_editor_wrapper {
  border: 1px solid $--border-color-base;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  .wp-media-buttons{
    position: absolute;
    top: 10px;
    right: 160px;
    float: none;
    .insert-media{
      background-color: $--color-primary-light-9;
      color: $--color-primary;
      font-weight: 500;
      margin: 0;
      border-color: $--color-primary-light-9;
      border-radius: 6px;
      &:hover{
        background-color: $--color-primary;
        color: $--color-white;
        border-color: $--color-primary;
      }
    }
  }
  .popover-wrapper {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }
  .wp-editor-container{
    border: 0;
  }
  .wp-editor-tabs{
    float: none;
    padding: 8px;
  }
  .wp-switch-editor{
    height: auto;
    margin: 0 0 0 4px;
    background-color: transparent;
    padding: 7px 14px;
    font-size: 14px;
    border-radius: 5px;
    line-height: inherit;
    border-color: transparent;
    float: none;
    font-weight: 500;
  }
  .html-active .switch-html,
  .tmce-active .switch-tmce{
    background-color: $--color-info-lighter;
    border-color: $--border-color-base;
    color: $base-color;
  }
  .switch-html{
    margin-left: 0;
  }
  .mce-top-part::before{
    box-shadow: none;
  }
  div.mce-toolbar-grp,
  .quicktags-toolbar {
    border-bottom: 0;
    background: #F1F1F0;
  }
  .mce-toolbar .mce-btn-group .mce-btn.mce-listbox{
    border: 0;
    box-shadow: none;
    border-radius: 4px;
  }
  textarea{
    border: 0;
    padding-top: 15px;
  }
}
.wp-media-buttons .insert-media {
  padding-left: 8px;
  padding-right: 10px;
}
.mce-menu .mce-menu-item.mce-active.mce-menu-item-normal,
.mce-menu .mce-menu-item.mce-active.mce-menu-item-preview,
.mce-menu .mce-menu-item.mce-selected,
.mce-menu .mce-menu-item:focus,
.mce-menu .mce-menu-item:hover {
  background: $--color-primary;
}

.mce-panel.mce-menu{
  border-radius: $border-radius;
}

.mce-floatpanel.mce-popover.mce-bottom,
.mce-menu{
  margin-top: 10px !important;
}

.el-input-number__decrease {
  left: 2px;
}

.ff_state_box {
  border-radius: $border-radius;
  padding: 32px;
  text-align: center;
  display: block;
}

// icon btn
.ff_icon_btn {
  font-size: 28px;
  width: 58px;
  height: 58px;
  background-color: $--color-primary;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $--color-white;
  &:hover,
  &:focus{
    color: $--color-white;
  }
  img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 36px;
  }
  &.square {
    border-radius: 12px;
  }
  &.blue{
    background-color: $--color-blue;
    color: $white;
    &-soft{
      background-color: $--color-blue-lighter;
      color: $--color-blue;
    }
  }
  &.dark{
    background-color: $--color-dark;
    color: $white;
    &-soft{
      background-color: $icon-btn-dark-soft-bg;
      color: $icon-btn-dark-soft-color;
    }
  }
  &.primary{
    &-soft{
      background-color: $--color-primary-light-9;
      color: $--color-primary;
    }
  }
  &.danger{
    background-color: $--color-danger;
    color: $white;
    &-soft{
      background-color: $--color-danger-lighter;
      color: $--color-danger;
    }
  }
  &.success{
    background-color: $--color-success;
    color: $white;
    &-soft{
      background-color: $--color-success-lighter;
      color: $--color-success;
    }
  }
  &.warning{
    background-color: $--color-warning;
    color: $white;
    &-soft{
      background-color: $--color-warning-lighter;
      color: $--color-warning;
    }
  }
  &.info{
    background-color: $--color-info;
    color: $white;
    &-soft{
      background-color: $--color-info-lighter;
      color: $--color-info;
    }
  }
  &.cyan{
    background-color: $--color-cyan;
    color: $white;
    &-soft{
      background-color: $--color-cyan-lighter;
      color: $--color-cyan;
    }
  }
  &.mini {
    font-size: 12px;
    width: 18px;
    height: 18px;
  }
  &.small {
    font-size: 16px;
    width: 27px;
    height: 27px;
  }
  &.md {
    font-size: 26px;
    width: 48px;
    height: 48px;
    img {
      height: 28px;
      width: 28px;
      object-fit: cover;
      object-position: left;
    }
  }
  &.lg {
    font-size: 36px;
    width: 72px;
    height: 72px;
  }
}

// btn group
.ff_btn_group {
  display: inline-flex;
  align-items: center;
  margin: -6px;
  > * {
    padding: 6px;
    margin-bottom: 0;
  }
  &.sm{
    margin: -3px;
    >*{
      padding: 3px;
    }
  }
  &_half{
    display: flex;
    >*{
      flex: 1;
    }
    .el-button{
      width: 100%;
      justify-content: center;
    }
  }
}

// custom file input
.file-input {
  max-width: 100%;
  color: $--color-text-regular;
  padding: 5px !important;
  background: $white;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  &::file-selector-button {
    margin-right: 6px;
    border: none;
    background: #F2F2F2;
    padding: 6px 16px;
    border-radius: 6px;
    color: $base-color;
    cursor: pointer;
    transition: background .2s ease-in-out;
    &:hover {
      background: #CED0D4;
    }
  }
}

.el-tag--pill {
  border-radius: 50rem;
}

// radio group
.ff_radio_group {
  background-color: $radio-group-bg;
  border-radius: 8px;
  overflow: hidden;
  .el-radio-button__inner {
    border: 0 !important;
    background-color: transparent;
    border-radius: 0 !important;
    &:hover{
      color: $radio-group-button-hover-color;
    }
  }
  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: $radio-group-button-active-bg;
    color: $radio-group-button-active-color;
    box-shadow: none;
  }
  &_s2{
    display: inline-flex;
    background: $white;
    border-radius: $border-radius;
    overflow: hidden;
    border: 1px solid #EDEAE9;
    .el-radio-button{
      &:first-child{
        .el-radio-button__inner {
          border-left: 0;
        }
      }
      &:last-child{
        .el-radio-button__inner {
          border-right: 0;
        }
      }
      &__inner{
        border-right-color: #EDEAE9;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }
  }
}

// input gray
.el-input-gray {
  .el-input__inner {
    background-color: $input-gray-bg;
    border-color: $input-gray-border-color;
    &::placeholder {
      color: $base-text;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: $base-text;
    }
    &::-ms-input-placeholder {
      color: $base-text;
    }
  }
  .el-input__prefix{
    color: $base-text;
  }
  &-light{
    .el-input__inner{
      background-color: $input-gray-light-bg;
      border-color: $input-gray-light-border-color;
      &::placeholder {
        color: $base-text;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: $base-text;
      }
      &::-ms-input-placeholder {
        color: $base-text;
      }
    }
    .el-input__prefix{
      color: $base-text;
    }
  }
}

.el-radio.is-bordered {
  margin-right: 6px;
}

// media
.ff_media_group {
  display: flex;
  align-items: center;
}

.ff_media_head + .ff_media_body {
  margin-left: 16px;
}

// video
.ff_video{
  &_wrap{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $base-color;
      opacity: 0.3;
      border-radius: 8px;
    }
  }
  &_img{
    border-radius: 8px;
    width: 100%;
    display: block;
  }
  &_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.ff-input-wrap{
  position: relative;
  .el-icon{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 14px;
    z-index: 2;
    + input{
      padding-left: 32px;
    }
    + .el-input {
      .el-input__inner{
        padding-left: 32px;
      }
    }
  }
}

.el-dialog-no-header .el-dialog__header {
  display: none;
}

// radio button group
.el-radio-button-group{
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid $border-color;
  .el-radio-button{
      &__inner{
          background: transparent;
          border: 0;
      }
      &:first-child .el-radio-button__inner {
          border-left: 0;
          border-radius: 4px 0 0 4px;
      }
      &:last-child .el-radio-button__inner {
          border-radius: 0 4px 4px 0;
      }
  }
  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
      background-color: $--color-primary;
      box-shadow: none;
  }
}

.el-color-picker__color{
  border-radius: 3px;
  border-color: #d4edda;
}

// fcc social
.ff_socials {
  li {
      display: inline-block;
      margin-right: 2px;
      &:last-child{
        margin-right: 0;
      }
      a{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $--color-info-lighter;
        color: $--color-text-regular;
        display: grid;
        place-items: center;
        transition: 0.2s;
        span{
          font-size: 16px;
          width: auto;
          height: auto;
          transition: 0s;
        }
        &:hover{
          background-color: $--color-primary;
          color: $--color-white;
        }
      }
  }
}

// ff-dropdown-menu
.ff-dropdown-menu{
  .el-dropdown-menu__item{
    line-height: 1.5;
    padding: 6px 20px;
    &:hover{
      background-color: transparent;
    }
  }
}

// text truncate
.truncate {
  max-width: 188px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.line-clamp {
  white-space: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: inherit;
}

.hover-y{
  transition: 0.3s;
  &:hover{
    transform: translateY(-2px);
  }
}
.hover-zoom{
  transition: 0.3s;
  &:hover{
    transform: scale(1.03);
  }
}

// ff badge
.ff_badge {
  background-color: mix($--color-info, $--color-white, 10%);
  border: 1px solid mix($--color-info, $--color-white, 20%);
  border-radius: 30px;
  padding: 2px 7px;
  color: $--color-info;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
  &.small{
    font-size: 13px;
  }
  &_wrap{
    display: inline-flex;
    align-items: center;
  }
  img{
    height: 14px;
    flex-shrink: 0;
    margin-right: 4px;
  }
  &_active,
  &_primary {
    background-color: mix($--color-primary, $--color-white, 10%);
    border-color: mix($--color-primary, $--color-white, 20%);
    color: $--color-primary;
  }
  &_paid {
    background-color: mix($--color-success, $--color-white, 10%);
    border-color: mix($--color-success, $--color-white, 20%);
    color: $--color-success;
  }
  &_processing{
    background-color: mix($--color-cyan, $--color-white, 10%);
    border-color: mix($--color-cyan, $--color-white, 20%);
    color: $--color-cyan;
  }
  &_pending {
    background-color: mix($--color-warning, $--color-white, 10%);
    border-color: mix($--color-warning, $--color-white, 20%);
    color: $--color-warning;
  }
  &_failed {
    background-color: mix($--color-danger, $--color-white, 10%);
    border-color: mix($--color-danger, $--color-white, 20%);
    color: $--color-danger;
  }
  &_visa {
    background-color: mix(#192061, #ffffff, 10%);
    color: #192061;
    border-color: mix(#192061, #ffffff, 15%);
  }
  &_mastercard {
    background-color: mix(#FF5F00, #ffffff, 10%);
    color: #FF5F00;
    border-color: mix(#FF5F00, #ffffff, 15%);
  }
  &_amex {
    background-color: mix(#6CC4EE, #ffffff, 10%);
    color: #6CC4EE;
    border-color: mix(#6CC4EE, #ffffff, 15%);
  }
  &_paypal {
    background-color: mix(#019ddd, #ffffff, 10%);
    color: #019ddd;
    border-color: mix(#019ddd, #ffffff, 15%);
  }
  &_stripe {
    background-color: mix(#5469d4, #ffffff, 10%);
    color: #5469d4;
    border-color: mix(#5469d4, #ffffff, 15%);
  }
  &.is-solid{
    &.ff_badge{
      &_active{
        background-color: $--color-primary;
        border-color: $--color-primary;
        color: $--color-white;
      }
      &_processing{
        background-color: $--color-cyan;
        border-color: $--color-cyan;
        color: $--color-white;
      }
      &_paid {
        background-color: $--color-success;
        border-color: $--color-success;
        color: $--color-white;
      }
      &_pending {
        background-color: $--color-warning;
        border-color: $--color-warning;
        color: $--color-white;
      }
      &_failed,
      &_cancelled {
        background-color: $--color-danger;
        border-color: $--color-danger;
        color: $--color-white;
      }
    }
  }
}

.separator{
  height: 1px;
  background-color: rgba($--color-text-regular, 0.1);
}

// choose template modal
.ff_choose_template_wrap{
  .el-dialog{
    max-width: 1280px;
  }
}

// ff_settings_container
.ff_settings_container{
  .notice{
    margin: 0 0 20px 0;
  }
}

.scroll {
	position: relative;
	animation: down 2s ease-in-out infinite;
	-webkit-animation: down 2s ease-in-out infinite;
  margin: 0 auto;
  height: 26px;
  width: 60px;
  cursor: pointer;
	&::before {
		content: '';
		position: absolute;
    top: 24px;
    left: 18px;
    width: 16px;
    height: 16px;
    border-left: 2px solid #777;
    border-bottom: 2px solid #777;
		transform: rotate(-45deg);
	}
}

.ff_chained_ajax_field {
  display: flex;
  flex: auto;
  gap: 10px;
  .el-select {
    flex-basis: 100%;
  }
}

@keyframes down {
	0% {
    -webkit-transform: translate(0,-14px);
    opacity: 0
  }

  50% {
      opacity: 1
  }

  100% {
      -webkit-transform: translate(0,14px);
      opacity: 0
  }
}

@-webkit-keyframes down {
	0% {
    -webkit-transform: translate(0,-14);
    opacity: 0
}

50% {
    opacity: 1
}

100% {
    -webkit-transform: translate(0, 14px);
    opacity: 0
}
}
