// ff global search
.global-search-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  padding: 20px;

  .global-search-container {
    position: relative;
    background: #f6f6f7;
    width: 700px;
    border-radius: 5px;
    overflow: auto;

    input {
      width: 100%;
      padding: 3px 35px;
      font-size: 17px;
    }

    ul.search-result li {
      background: #ffffff;
      padding: 10px;
      margin-top: 7px;
      cursor: pointer;
      font-size: 15px;
      color: #606266;
      display: block;
      border-radius: 6px;
      transition: 0.2s;
      box-shadow: 0 1px 3px 0 #d4d9e1;

      &:focus {
        background-color: #197efb;
        color: #ffffff;
        outline: 0;
      }
    }

    span.global-search-not-match {
      display: inline-block;
      margin-top: 6px;
      font-size: 16px;
    }
  }

  .global-search-body {
    padding: 20px;
    max-height: 400px;
    min-height: 200px;
    overflow-y: auto;

  }

  .search-commands {
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    font-size: 14px;
    color: #606266;
    padding: 12px;
    box-shadow: 0 -1px 0 0 #efefef, 0 -2px 6px 0 rgba(70, 90, 150, .10);

    ul li {
      padding: 10px;
      margin-top: 7px;
      font-size: 12px;
    }
  }
}