$ff:              'ff_predefined';

.#{$ff}{
    &_options{
        display: flex;
    }
    &_sidebar{
        width: $predefined-form-sidebar-width;
        margin-right: 30px;
        flex-shrink: 0;
    }
    &_main{
        width: calc(100% - $predefined-form-sidebar-width);
        margin-left: auto;
        .form_item_group{
            display: flex;
        }
        .ff_form_group_title{
            border-bottom: 1px solid $border-color;
            padding-bottom: 14px;
            margin-bottom: 24px;
            text-transform: uppercase;
            font-size: 15px;
        }
        .ff_predefined_form_wrap{
            height: 500px;
            overflow-y: scroll;
        }
    }
}
.ff_predefined_form_wrap{
    position: relative;
}

//transition: slide
.slide-down-enter-active {
    transition: all .8s;
    max-height: 100vh;
}

.slide-down-leave-active {
    transition: all .3s;
    max-height: 100vh;

}

.slide-down-enter, .slide-down-leave-to {
    /*transform: translateY(-10px);*/
    max-height: 0;
}