$ff:              'ff_predefined';

.#{$ff}{
    &_options{
        display: flex;
    }
    &_sidebar{
        width: 240px;
        margin-right: 50px;
        margin-top: 18px;
        flex-shrink: 0;
        transition: 0.3s;
        border-radius: 8px;
        &.is-sticky{
            background-color: $white;
            box-shadow: 0px 2px 3px 0px rgba(129, 129, 129, 0.1);
            padding: 24px 16px 16px 16px;
            .ff_predefined_title{
                padding-left: 0.875rem;
            }
        }
    }
    &_main{
        width: calc(100% - 240px);
        margin-left: auto;
        margin-top: 18px;
        padding: 10px;
        .form_item_group{
            display: flex;
        }
        .ff_predefined_form_wrap{
            height: 500px;
            overflow-y: scroll;
        }
    }
}
.ff_predefined_form_wrap{
    position: relative;
}