$ff:              'ff_predefined';

.#{$ff}{
    &_options{
        display: flex;
    }
    &_sidebar{
        width: 240px;
        margin-right: 50px;
        margin-top: 18px;
        flex-shrink: 0;
        transition: 0.3s;
        border-radius: 8px;
        .ff_list_button{
            height: 500px;
            overflow-y: scroll;
        }
    }
    &_main{
        width: calc(100% - 240px);
        margin-left: auto;
        margin-top: 18px;
        padding: 10px;
        .form_item_group{
            display: flex;
        }
        .ff_predefined_form_wrap{
            height: 500px;
            overflow-y: scroll;
        }
    }
}
.ff_predefined_form_wrap{
    position: relative;
}

//transition: slide
.slide-down-enter-active {
    transition: all .8s;
    max-height: 100vh;
}

.slide-down-leave-active {
    transition: all .3s;
    max-height: 100vh;

}

.slide-down-enter, .slide-down-leave-to {
    /*transform: translateY(-10px);*/
    max-height: 0;
}