
$ff:              'ff_predefined';

.#{$ff}{
    &_options{
        display: flex;
    }
    &_sidebar{
        width: $predefined-form-sidebar-width;
        margin-right: 30px;
        flex-shrink: 0;
    }
    &_main{
        width: calc(100% - $predefined-form-sidebar-width);
        margin-left: auto;
        .form_item_group{
            display: flex;
        }
        .ff_form_group_title{
            border-bottom: 1px solid $border-color;
            padding-bottom: 14px;
            margin-bottom: 24px;
            text-transform: uppercase;
            font-size: 15px;
        }
        .ff_predefined_form_wrap{
            height: 500px;
            overflow-y: scroll;
            .ff_card_buttons{
                > button {
                    min-width: 100%;
                    margin: 0;
                    justify-content: center;
                    &:hover {
                        background: $--color-primary;
                        color: $--color-white;
                    }
                }
                .ff_preview_btn {
                    background: $--color-primary-light-9;
                    color: $--color-primary;
                    margin-bottom: 10px;

                }
            }
        }
    }
    &_form_wrap{
        position: relative;
    }
}

//transition: slide
.slide-down{
    &-enter-active {
        transition: all .8s;
        max-height: 100vh;
    }
    &-leave-active {
        transition: all .3s;
        max-height: 100vh;
    }
    &-enter,
    &-leave-to{
        max-height: 0;
    }
}
