.ff_list_button {
    &_item{
        &:not(:last-child){
            margin-bottom: 4px;
        }
        &.active{
            .ff_list_button_link{
                background-color: $list-button-link-active-bg;
                color: $list-button-link-active-color;
            }
        }
        &.has_sub_menu{
            .ff_list_button_link{
                position: relative;
                &::after{
                    position: absolute;
                    content: "\e6df";
                    font-family: "element-icons";
                    right: 15px;
                    transition: 0.3s;
                }
            }
            &.is-submenu{
                font-style: inherit;
                margin-left: 0;
                color: inherit;
                font-weight: inherit;
                .ff_list_button_link::after{
                    transform: rotate(-180deg);
                }
            }
        }
    }
    &_link{
        display: block;
        border-radius: 5px;
        background-color: transparent;
        padding: 12px 18px;
        font-size: 16px;
        color: $base-color;
        transition: 0.2s;
        &:hover{
            background-color: mix($base-color, $white, 6%);
            color: $base-color;
        }
    }
    &_small{
        .ff_list_button_link{
            padding: 6px 14px;
            font-size: 15px;
            border-radius: 6px;
        }
    }
    &_s1{
        .ff_list_button{
            &_item.active {
                .ff_list_button_link{
                    background-color: mix($base-color, $white, 6%);
                    color: $base-color;
                    font-weight: 600;
                }
            }
            &_link{
                font-size: 15px;
                color: $base-text;
            }
        }
    }
}

// ff list
.ff_list {
    li{
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        a {
            font-size: 15px;
            color: $base-color;
            transition: 0.2s;
            display: block;
            &:hover{
              color: $--color-primary;
            }
        }
    }
    &_submenu{
        background-color: #fff;
        margin-left: 20px;
        position: relative;
        margin-top: 10px;
        display: none;
        &::after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: #E4E2DF;
        }
        li {
            position: relative;
            &::after{
                position: absolute;
                content: "";
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 12px;
                height: 10px;
                background-image: url(../../../img/curve-line.svg);
                background-repeat: no-repeat;
            }
            &:last-child{
                &::before{
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 18px;
                    background-color: $white;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                }
            }
            a{
                font-size: 15px;
                color: $base-text;
                padding: 10px 10px;
                display: block;
                border-radius: 6px;
                transition: 0.2s;
                margin-left: 15px;
                &:hover{
                    background-color: $submenu-link-active-hover-bg;
                }
            }
            &.active{
                a{
                    background-color: $submenu-link-active-bg;
                    color: $submenu-link-active-color;
                }
            }
        }
    }
}

// list border bottom
.ff_list_border_bottom{
    > li{
        font-size: 15px;
        position: relative;
        &:not(:last-child) {
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid $border-color;
        }
        a {
            font-size: 15px;
            color: $base-color;
            transition: 0.2s;
            display: block;
            &.lead-text{
                color: $--color-primary;
            }
        }
    }
}

// ff_submission_info_list
.ff_submission_info_list{
    li{
        display: flex;
    }
    .lead-title{
        width: 120px;
        flex-shrink: 0;
    }
    .truncate{
        max-width: 228px;
    }
}

.ff_global_settings_option{
    overflow-y: scroll;
    height: 100vh;
    &::-webkit-scrollbar {
        display: none;
    }
}
