
@media (min-width: 1025px) {
  .all-forms-search{
    width: 270px;
  }
}
@media (min-width: 769px) {
  .ff_menu {
    display: flex;
  }
}

@media (max-width: 768px) {
  .form_internal_menu {
    width: 100%;
    left: 0 !important;
    top: 44px !important;
    .ff-navigation-right {
      display: none;
    }
    ul.ff_setting_menu {
      float: right;
      padding-right: 10px !important;
      li a {
        padding: 10px 3px !important;
      }
    }
    .ff_form_name {
      padding: 10px 5px !important;
      max-width: 120px !important;
    }
  }
  .ff_nav_action {
    float: right !important;
    text-align: left !important;
  }
  div#wpbody-content {
    padding-right: 10px !important;
  }

  input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
    min-height: 30px;
  }

  .ff_form_main_nav {
    .plugin-name {
      display: none;
    }
  }

  .row-actions {
    display: inline-block !important;
  }

  .el-form .el-form-item {
    .el-form-item__label {
      width: 100% !important;
    }
    .el-form-item__content {
      margin-left: 0 !important;
    }
  }

  .ff_settings_container {
    margin: 0 !important;
    padding: 0px 10px !important;
  }

  .ff_settings_wrapper .ff_settings_sidebar {
    width: 120px !important;
    ul.ff_settings_list li a {
      padding: 10px 5px 10px 5px;
      font-size: 10px;
    }
  }
  .settings_app {
    min-width: 500px;
  }
  .el-tabs__content {
    padding: 20px 10px !important;
  }
  .wpf_each_entry a {
    word-break: break-all;
  }
  div#js-form-editor--body {
    padding: 20px 0px;
    .form-editor__body-content {
      padding: 60px 0px !important;
    }
  }

  .wrap.ff_form_wrap.ff_screen_editor .form_internal_menu {
    top: 0 !important;
    .ff-navigation-right {
      display: block;
    }
  }
}

@media (max-width: 425px) {
  .wrap.ff_form_wrap.ff_screen_editor .form_internal_menu .ff-navigation-right {
    margin-right: 0;
    button, a, span {
      font-size: 10px;
      padding: 5px 4px !important;
      margin: 0 3px;
    }
  }
  #ff_form_entries_app {
    .ff_nav_top .ff_nav_title, .ff_nav_top .ff_nav_action {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .form_internal_menu {
    position: relative;
    display: block !important;
    background: white;
    overflow: hidden;
    top: 0 !important;
    margin: 0 -10px;
    width: auto;
    ul.ff_setting_menu {
      li a {
        font-size: 11px;
      }
    }
  }

  .ff_form_application_container {
    margin-top: 0 !important;
  }

  .ff_form_main_nav .ninja-tab {
    font-size: 12px;
    padding: 10px 5px;
    margin: 0;
  }

  ul.el-pager {
    display: none !important;
  }

  .ff_settings_wrapper {
    min-width: 600px;
  }
  .ff_form_wrap .ff_form_wrap_area {
    overflow: scroll;
  }
  button.el-button.pull-right {
    float: left !important;
  }
  .entry_header h3 {
    display: block;
    width: 100% !important;
    clear: both;
  }
  .v-row .v-col--33 {
    width: 100% !important;
    padding-right: 0;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .option-fields-section--content {
    padding: 15px 5px;
  }
}

.el-popover {
  text-align: left !important;
  word-break: inherit !important;
}
