// spacing
.mt-1{
    margin-top: 4px !important;
}
.mt-2{
    margin-top: 8px !important;
}
.mt-3{
    margin-top: 16px !important;
}
.mt-4{
    margin-top: 24px !important;
}
.mt-5{
    margin-top: 32px !important;
}
.mt-6{
    margin-top: 40px !important;
}

.mb-1{
    margin-bottom: 4px !important;
}
.mb-2{
    margin-bottom: 8px !important;
}
.mb-3{
    margin-bottom: 16px !important;
}
.mb-4{
    margin-bottom: 24px !important;
}
.mb-5{
    margin-bottom: 32px !important;
}
.mb-6{
    margin-bottom: 40px !important;
}


.mr-1{
    margin-right: 4px !important;
}
.mr-2{
    margin-right: 8px !important;
}
.mr-3{
    margin-right: 16px !important;
}
.mr-4{
    margin-right: 24px !important;
}
.mr-5{
    margin-right: 32px !important;
}
.mr-6{
    margin-right: 40px !important;
}

.ml-1{
    margin-left: 4px !important;
}
.ml-2{
    margin-left: 8px !important;
}
.ml-3{
    margin-left: 16px !important;
}
.ml-4{
    margin-left: 24px !important;
}
.ml-5{
    margin-left: 32px !important;
}
.ml-6{
    margin-left: 40px !important;
}


.mt-0{
    margin-top: 0 !important;
}
.mb-0{
    margin-bottom: 0 !important;
}
.mr-0{
    margin-right: 0 !important;
}
.ml-0{
    margin-left: 0 !important;
}

