.subscription-field-options {
    display: block;
    width: 100%;
    background-color: $white;
    border-radius: 6px;
    margin-bottom: 20px;
    .plan_header {
        padding: 10px 15px;
        border-bottom: 1px solid $border-color;
        font-weight: 600;
        display: block;
        overflow: hidden;
        color: $base-color;
        .plan_label {
            float: left;
        }

        .plan_actions {
            float: right;
        }
    }

    .plan_body {
        overflow: hidden;
        padding: 15px;
    }

    .plan_footer {
        border-top: 1px solid $border-color;
        padding: 10px 40px;
        text-align: center;
    }

    .plan_settings {
        width: 50%;
        display: block;
        float: left;
        padding-right: 50px;
    }
}

.el-input + .plan_msg{
    margin-top: 5px;
}
.plan_msg {
    margin-top: 5px;
}

.ff_payment_item_wrapper{
    margin-bottom: 24px;
}
