// ff_subscription_data
.ff_subscription_data{
    display: flex;
    justify-content: space-between;
    &_item{
      &_title{
        font-size: 16px;
        color: $base-color;
        font-weight: 500;
        margin-bottom: 6px;
      }
      &_name{
        font-size: 13px;
      }
      .ff_sub_id{
        font-size: 13px;
      }
      &_payment{
        font-size: 15px;
        margin-bottom: 20px;
      }
      &_total{
        font-weight: 500;
        color: $base-color;
        margin-bottom: 4px;
      }
    }
}
