
.el-button{
    &--upload{
        border-style: dashed;
        padding: 24px;
        width: 100%;
        justify-content: center;
        .el-icon{
            font-size: 22px;
        }
    }
}

.ff_file_upload{
    &_result{
        background-color: #fafafa;
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px;
        .el-button{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
        + .ff_file_upload_result{
            margin-top: 10px;
        }
    }
    &_preview{
        width: 44px;
        height: 44px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
        + .ff_file_upload_data{
            margin-left: 15px;
        }
    }
    &_description{
        font-size: 14px;
        color: $base-color;
    }
    &_size{
        margin-top: 4px;
        font-size: 12px;
    }
}