// colors
$white:       #ffffff;
$base-color: #1E1F21;
$base-text: #606266;

$primary: #1A7EFB;
$primary-soft: #E8F2FF;

$danger:    #FF6154;

$border-color: #ececec;

$body-bg:     #F2F2F2;

$bg-gray: #F2F2F2;

$border-radius: 8px;

$section-layout-sidebar-width: 280px;

// list button
$list-button-link-active-bg:            $base-color;
$list-button-link-active-color:         $white;

