
$info: #909399;
$gray: #f5f5f5;
$gray-border: #e2e4e7;;
$greenishGray: #8391a5;

$max-width: 980px;
$min-width: 730px;

$item-height: 78px;
$placeholder-bg: #f5f5f5;

$popup-search-element-bg: #33383F;
