$base-color: #42B983;
$primary-color: #20A0FF;
$red: red;
$success: #67C23A;
$danger: #F56C6C;
$warn: #E6A23C;
$info: #909399;
$gray: #f5f5f5;
$gray-border: #e2e4e7;;
$greenishGray: #8391a5;

$max-width: 980px;
$min-width: 730px;

$item-height: 70px;
$placeholder-bg: #f5f5f5;
