// colors
$white:       #ffffff;
$base-color: #1E1F21;
$base-text: #606266;

$primary: #1e90ff;
$primary-soft: #E8F2FF;

$danger:    #FF6154;

$border-color: #ececec;

$body-bg:     #F2F2F2;

$bg-gray: #F2F2F2;

$border-radius: 8px;

$section-layout-sidebar-width: 280px;

// list button
$list-button-link-active-bg:            #57606f;
$list-button-link-active-color:         $white;

// payment badge 
$payment-badge-border-color:             #b1b1b1;

// submenu link
$submenu-link-active-bg:                #efefef;
$submenu-link-color:                    $base-text;
$submenu-link-active-color:             $base-color;

$submenu-link-active-hover-bg:           #efefef;

