.select {
  min-width: 200px;
}

/* new-elements */
.new-elements .btn-element {
  padding: 12px 16px;
  background-color: $btn-element-bg;
  display: flex;
  align-items: center;
  color: $btn-element-color;
  cursor: move;
  font-size: 14px;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  text-align: center;
  border-radius: $border-radius;
  border: 1px solid $btn-element-border-color;
  span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  &:hover {
    background-color: $btn-element-hover-bg;
    color: $btn-element-hover-color;
  }

  &:active {
    &:not([draggable=false]) {
      box-shadow: inset 0 2px 7px -4px rgba(0, 0, 0, 0.5);
      transform: translateY(1px);
    }
  }

  i {
    display: block;
    margin-right: 10px;
    font-size: 16px;
    padding-top: 2px;
  }

  &[draggable=false] {
    opacity: .5;
    cursor: pointer;
  }
}

/* helper classes */
.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-right {
  text-align: right;
}

.container,
footer {
  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto;
}

.help-text {
  margin-bottom: 0;
}

.demo-content {
  width: 100%;
}

.vddl-list__handle {
  div.vddl-nodrag {
    display: flex;
    align-items: center;
    /* Disable text selection if item is not draggable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input[type="radio"] {
    margin-right: 0;
  }

  .nodrag div {
    margin-right: 6px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .handle {
    cursor: move;
    width: 25px;
    height: 16px;
    background: url("../assets/handle.png") center center no-repeat;
    background-size: 20px 20px;
  }
}

.vddl-draggable {
  .el-form-item {
    margin-bottom: 5px;
  }
}

.tooltip-icon {
  color: #757D8A;
  vertical-align: middle !important;
  margin-left: 3px;
  &.el-icon-info{
    transform: rotate(-14deg);
  }
}

.option-fields-section {
  background: $white;
  border-radius: $border-radius;
  margin-bottom: 12px;

  &--title {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding: 12px 20px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    &:after {
      content: "\e6df";
      position: absolute;
      right: 16px;
      font-family: "element-icons";
      vertical-align: middle;
      font-size: 16px;
      transition: 0.2s;
      font-weight: 600;
    }
    &.active {
      color: $--color-primary;
      border-bottom-color: $border-color;
      font-weight: 600;
      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  &--icon {
    float: right;
    vertical-align: middle;
    margin-top: 3px;
  }

  &--content {
    max-height: 1050vh;
    padding: 16px;
    .el-form-item{
      margin-bottom: 14px;
    }
  }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.slide-fade-enter,
.slide-fade-leave-to {
  max-height: 0 !important;
  opacity: 0.2;
  transform: translateY(-11px);
}
