.list-group {
  margin: 0;
  > li.title {
    background: #ddd;
    padding: 5px 10px;
  }

  li {
    line-height: 1.5;
    margin-bottom: 6px;

    > ul {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

//.ultimate-forms-wrapper {
//    background: #f1f1f1;
//    margin-top: 0;
//    margin-left: 0;
//    position: fixed;
//    top: 32px;
//    bottom: 35px;
//    overflow: hidden;
//}

/* CONTAINERS */
.flex-container {
  display: flex;
  align-items: center;

  .flex-col {
    flex: 1 100%;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.hidden-field-item {
  background-color: $placeholder-bg;
  margin-bottom: 10px;
}

// STEPS
.form-step {
  &__wrapper.form-step__wrapper {
    background: $gray;
    border: 1px solid darken($gray, 2%);
    padding: 10px;
  }

  &__start {
    border-radius: 3px 3px 0 0;
    margin-bottom: 10px;
  }

  &__start {
    border-radius: 0 0 3px 3px;
  }
}

.step-start {
  margin-left: -10px;
  margin-right: -10px;

  &__indicator {
    text-align: center;
    position: relative;
    padding: 5px 0;

    strong {
      font-size: 14px;
      font-weight: 600;
      color: #000;
      background: $gray;
      padding: 3px 10px;
      position: relative;
      z-index: 2;
    }

    hr {
      position: absolute;
      top: 7px;
      left: 10px;
      right: 10px;
      border: 0;
      z-index: 1;
      border-top: 1px solid darken($gray, 7%);
    }
  }
}

.vddl-list {
  padding-left: 0px;
  min-height: $item-height;
}

.vddl-placeholder {
  width: 100%;
  min-height: $item-height;
  border: 1px dashed darken($gray, 15%);
  background: $gray;
}

.empty-dropzone {
  height: $item-height;
  border: 1px dashed darken($gray, 15%);
  margin: 0 10px;

  &.vddl-dragover {
    border-color: transparent;
    height: auto;
  }
}

.popup-search-element {
  display: inline-block;
  cursor: pointer;
  font-style: normal;
  background: #009fff;
  color: #fff;
  width: 23px;
  height: 23px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

.empty-dropzone-placeholder {
  display: table-cell;
  text-align: center;
  width: 1000px;
  height: inherit;
  vertical-align: middle;

  .popup-search-element {
    background-color: #676767;
    position: relative;
    z-index: 2;
  }
}

.field-option-settings {
  .section-heading {
    font-size: 15px;
    margin-top: 0;
    border-bottom: 1px solid $gray;
    margin-bottom: 1rem;
    padding-bottom: 8px;
  }
}

/* ITEM ACTIONS */
.item-actions-wrapper {
  top: 0;
  opacity: 0;
  z-index: 3;
  position: absolute;
  transition: all 0.3s;
  visibility: hidden;
}

.item-actions {
  background-color: #000;
  .icon {
    color: #fff;
    cursor: pointer;
    padding: 7px 10px;
    &:hover {
      background-color: #409EFF;
    }
  }
}

.hover-action-top-right {
  top: -12px;
  right: 15px;
}

.hover-action-middle {
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #e3e5e8;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedede60;
}

/* CONTAINER DND ELEMENT */
.item-container {
  border: 1px dashed #ffb900;
  display: flex;

  .col {
    box-sizing: border-box;
    flex-grow: 1; /* default 0 */
    border-right: 1px dashed #ffb900;
    flex-basis: 0;
    background: rgba(255, 185, 0, 0.08);
    .panel__body {
      background: transparent;
    }

    &:last-of-type {
      border-right: 0;
    }
  }
}

.ff-el-form {
  &-left,
  &-right {
    .el-form-item__label {
      padding-right: 10px;
      float: left !important;
      width: 120px;
      line-height: 40px;
      padding-bottom: 0;
    }

    .el-form-item__content {
      margin-left: 120px;
    }
  }
  &-left {
    .el-form-item__label {
      text-align: left;
    }
  }
  &-right {
    .el-form-item__label {
      text-align: right;
    }
  }
  &-top {
    .el-form-item__label {
      text-align: left;
      padding-bottom: 10px;
      float: none;
      display: inline-block;
      line-height: 1;
    }

    .el-form-item__content {
      margin-left: auto !important;
    }
  }
}

.action-btn {
  .icon {
    cursor: pointer;
    vertical-align: middle;
  }
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/**
*   EDITOR INSERTER STYLE
*/
.editor-inserter {
  &__wrapper {
    height: auto;
    position: relative;

    &:before {
      border: 8px solid #e2e4e7;
    }

    &:after {
      border: 8px solid #fff;
    }

    &:before,
    &:after {
      content: " ";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-bottom-style: solid;
      border-left-color: transparent;
      border-right-color: transparent;
    }

    &.is-bottom {
      &:before,
      &:after {
        border-top: none;
      }

      &:before {
        top: -9px;
      }

      &:after {
        top: -7px;
      }
    }

    &.is-top {
      &:before,
      &:after {
        border-bottom: none;
      }

      &:before {
        bottom: -9px;
      }

      &:after {
        bottom: -7px;
      }
    }
  }

  &__contents {
    height: 235px;
    overflow: scroll;
  }

  &__content-items {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  &__content-item {
    width: calc(100% / 3);
    text-align: center;
    padding: 15px 5px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;

    &:hover {
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
      border-color: lighten($greenishGray, 20%);
    }

    .icon {
      &.dashicons {
        font-family: dashicons;
      }
      font-size: 18px;
    }

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__search {
    &.editor-inserter__search {
      width: 100%;
      border-radius: 0;
      height: 35px;
      padding: 6px 8px;
      border-color: #e2e4e7;
    }
  }

  &__tabs {
    li {
      width: 25%;
      a {
        padding: 10px 6px;
      }
    }
  }
}

.search-popup-wrapper {
  position: fixed;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(25, 30, 35, .1), 0 1px 3px rgba(25, 30, 35, .1);
  border: 1px solid #e2e4e7;
}

.userContent {
  max-height: 200px;
  border: 1px solid #ebedee;
  padding: 20px;
  overflow: scroll;
}

.address-field-option {
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  padding-left: 10px;
  width: 100%;

  > .el-icon-caret-bottom, .el-icon-caret-top {
    font-size: 18px;
  }
  .address-field-option__settings.is-open {
    padding: 10px 15px 0px;
    background: white;
  }
  &:hover {
    box-shadow: -5px 0px 0px 0px #409eff;
  }
}

.vddl-list__handle_scrollable {
  max-height: 190px;
  overflow: scroll;
  width: 100%;
  margin-bottom: 10px;
  background: white;
  padding: 5px 10px;
  margin-top: 5px;
}