.list-group {
  margin: 0;
  > li.title {
    background: #ddd;
    padding: 5px 10px;
  }

  li {
    line-height: 1.5;
    margin-bottom: 6px;

    > ul {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/* CONTAINERS */
.flex-container {
  display: flex;
  align-items: center;

  .flex-col {
    flex: 1 100%;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.hidden-field-item {
  background-color: $placeholder-bg;
  margin-bottom: 10px;
}

// STEPS
.form-step {
  &__wrapper.form-step__wrapper {
    background: $gray;
    border: 1px solid darken($gray, 2%);
    padding: 10px;
  }

  &__start {
    border-radius: 3px 3px 0 0;
    margin-bottom: 10px;
  }

  &__start {
    border-radius: 0 0 3px 3px;
  }
}

.step-start {
  margin-left: -10px;
  margin-right: -10px;

  &__indicator {
    text-align: center;
    position: relative;
    padding: 5px 0;

    strong {
      font-size: 14px;
      font-weight: 600;
      color: #000;
      background: $gray;
      padding: 3px 10px;
      position: relative;
      z-index: 2;
    }

    hr {
      position: absolute;
      top: 7px;
      left: 10px;
      right: 10px;
      border: 0;
      z-index: 1;
      border-top: 1px solid darken($gray, 7%);
    }
  }
}

.vddl-list {
  padding-left: 0px;
  min-height: $item-height;
}

.vddl-placeholder {
  width: 100%;
  min-height: $item-height;
  border: 1px dashed #CED0D4;
  background: $gray;
  border-radius: 6px;
}

.empty-dropzone {
  height: $item-height;
  border: 1px dashed #CED0D4;
  margin: 0 10px;
  border-radius: 6px;
  position: relative;
  z-index: 2;
  &.vddl-dragover {
    border-color: transparent;
    height: auto;
  }
  &-placeholder {
    display: table-cell;
    text-align: center;
    width: 1000px;
    height: inherit;
    vertical-align: middle;
    .popup-search-element {
      position: relative;
      z-index: 2;
    }
  }
}

.popup-search-element {
  display: inline-block;
  cursor: pointer;
  background: $editor-popup-icon-bg;
  color: $editor-popup-icon-color;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  &:hover{
    background: $--color-primary;
  }
}

.field-option-settings {
  .section-heading {
    font-size: 15px;
    margin-top: 0;
    border-bottom: 1px solid $gray;
    margin-bottom: 16px;
    padding-bottom: 8px;
  }
}

/* ITEM ACTIONS */
.item-actions-wrapper {
  top: 0;
  opacity: 0;
  z-index: 3;
  position: absolute;
  transition: all 0.3s;
  visibility: hidden;
}

.item-actions {
  background-color: $editor-item-action-bg;
  position: absolute;
  top: 8px;
  right: 14px;
  border-radius: 6px;
  overflow: hidden;
  .el-icon {
    color: $white;
    cursor: pointer;
    padding: 10px;
    &:hover {
      background-color: $--color-primary;
    }
  }
}

.hover-action-top-right {
  top: -10px;
  right: 10px;
  width: 25%;
  .item-actions{
    position: inherit;
    top: auto;
    right: auto;
  }
}

.hover-action-middle {
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#1e1f21, 0.05);
  border-radius: 4px;
}

/* CONTAINER DND ELEMENT */
.item-container {
  border: 1px dashed #CED0D4;
  display: flex;
  border-radius: 6px;
  padding: 5px 10px;
  .splitpanes {
    .splitpanes__pane {
      .ff_custom_button {
        margin-top: 23px;
      }
    }
  }

  .col {
    box-sizing: border-box;
    flex-grow: 1; /* default 0 */
    border-right: 1px dashed #CED0D4;
    flex-basis: 0;
    background: rgba(255, 185, 0, 0.08);
    .panel__body {
      background: transparent;
    }

    &:last-of-type {
      border-right: 0;
    }
  }
}

.ff-el-form {
  &-left,
  &-right {
    .el-form-item__label {
      padding-right: 10px;
      float: left !important;
      width: 120px;
      line-height: 40px;
      padding-bottom: 0;
    }

    .el-form-item__content {
      margin-left: 120px;
    }
  }
  &-left {
    .el-form-item__label {
      text-align: left;
    }
  }
  &-right {
    .el-form-item__label {
      text-align: right;
    }
  }
  &-top {
    .el-form-item__label {
      text-align: left;
      padding-bottom: 10px;
      float: none;
      display: inline-block;
      line-height: 1;
    }

    .el-form-item__content {
      margin-left: auto !important;
    }
  }
}

.action-btn {
  .icon {
    cursor: pointer;
    vertical-align: middle;
  }
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/**
*   EDITOR INSERTER STYLE
*/
.editor-inserter {
  &__wrapper {
    height: auto;
    position: relative;
    &:after {
      width: 14px;
      height: 14px;
      top: -7px;
      content: "";
      left: 50%;
      position: absolute;
      transform: translateX(-50%) rotate(45deg);
      box-shadow: -4px -4px 8px rgba(30, 31, 33, 0.05);
      background-color: #ffffff;
    }

    &.is-bottom {
      &:before,
      &:after {
        border-top: none;
      }

      &:before {
        top: -9px;
      }

      &:after {
        top: -7px;
      }
    }

    &.is-top {
      &:before,
      &:after {
        border-bottom: none;
      }

      &:before {
        bottom: -9px;
      }

      &:after {
        bottom: -7px;
      }
    }
  }

  &__contents {
    height: 243px;
    overflow: scroll;
  }

  &__content-items {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  &__content-item {
    width: calc(100% / 3);
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    background-color: $white;
    &:hover {
      background-color: $editor-inserter-content-item-hover-bg;
      color: $editor-inserter-content-item-hover-color;
    }

    .icon {
      &.dashicons {
        font-family: dashicons;
      }
      font-size: 18px;
      margin-bottom: 4px;
    }

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__search {
    &.editor-inserter__search {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &__tabs {
    padding-left: 20px;
    padding-right: 20px;
    li {
      &:not(:last-child){
        margin-right: 10px;
      }
      a {
        padding: 8px 6px;
        border-radius: 6px;
      }
    }
  }
}

.search-popup-wrapper {
  position: fixed;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0px 40px 64px -12px rgba(0, 0, 0, 0.08), 0px 0px 14px -4px rgba(0, 0, 0, 0.05), 0px 32px 48px -8px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
}

.userContent {
  max-height: 200px;
  border: 1px solid #ebedee;
  padding: 20px;
  overflow: scroll;
}

.address-field-option,
.dates-field-option{
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
  > .el-icon-caret-bottom, 
  .el-icon-caret-top {
    font-size: 18px;
    border-radius: 3px;
    padding: 2px 4px;
    transition: 0.2s;
    margin-top: -2px;
    &:hover{
      background-color: #f2f2f2;
    }
  }
  > .el-icon-caret-top{
    background-color: #f2f2f2;
  }
  &__settings{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      top: -5px;
      left: 20px;
      width: 10px;
      height: 10px;
      background-color: #f2f2f2;
      transform: rotate(134deg);
    }
    &.is-open {
      padding: 15px;
      background: #f2f2f2;
      border-radius: 6px;
    }
  }
}

.vddl-list__handle_scrollable {
  max-height: 190px;
  overflow: scroll;
  width: 100%;
  margin-bottom: 10px;
  background: white;
  padding: 5px 10px;
  margin-top: 5px;
}

.vddl-handle.handle + .address-field-option,
.vddl-handle.handle + .dates-field-option {
  margin-left: 10px;
}




