/* FORM EDITOR STYLE */

.form-editor {
  * {
    box-sizing: border-box;
  }

  .address-field-option label.el-checkbox {
    display: inline-block;
  }

  &--body,
  &--sidebar {
    float: left;
  }

  &--body {
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      display: none;
    }

    background-color: #fff;
    width: 60%;
    padding: 20px 20px 30px;
    height: calc(100vh - 51px);
    overflow-y: scroll;

    .ff-el-form-hide_label > label, .ff-el-form-hide_label .el-form-item__label {
      display: none;
    }

    .el-slider__button-wrapper {
      z-index: 0;
    }

  }

  .ff-el-form-bottom {
    &.el-form-item {
      display: flex;
      flex-direction: column-reverse;
    }

    .el-form-item {
      display: flex;
      flex-direction: column-reverse;
    }

    .el-form-item__label {
      padding: 10px 0 0 0;
    }
  }

  .ff-el-form-right {
    .el-form-item__label {
      text-align: right;
      padding-right: 5px;
    }
  }

  &--sidebar {
    width: 40%;
    background-color: #f3f3f4;
    &-content {
      height: 90vh;
      overflow-y: scroll;
      border-left: 1px solid #e2e4e7;
      padding-bottom: 50px;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        display: none;
      }

      .nav-tab-list {
        li {
          background-color: #f3f3f4;
          a {
            padding: 15px;
          }
          &.active {
            background-color: #f3f3f4;
            box-shadow: inset 0 -2px #409eff;
          }
          + li {
            border-left: 1px solid #e3e5e8;
          }
        }

      }
      .search-element {
        margin: 0;
        padding: 0 0;
        .el-input--small .el-input__inner {
          height: 40px;
        }
      }
      .search-element-result {
        padding: 16px 15px 15px;
        margin-top: 0 !important;
        border-top: 1px solid #e3e5e8;
      }
    }
    .nav-tab-items {
      background-color: transparent;
    }
    .ff_advnced_options_wrap {
      max-height: 300px;
      overflow-y: auto;
      margin-bottom: 10px;
    }
  }

  &__body {
    &-content {
      max-width: 100%;
      margin: 0 auto;

      .ff_check_photo_item {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        .ff_photo_holder {
          width: 120px;
          height: 120px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

div#js-form-editor--body {
  .form-editor__body-content {
    background-color: #fff;
    padding: 30px 20px 30px 0;
  }
}

#ff_form_editor_app {
  margin-right: -30px;
}

body.ff_full_screen {
  overflow-y: hidden;
  #ff_form_editor_app {
    margin-right: 0;
  }
  .form-editor--sidebar-content {
    height: calc(100vh - 56px);
  }
  .wrap.ff_form_wrap {
    background: #fff;
    color: #444;
    z-index: 100099 !important;
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0 !important;
    right: 0 !important;
    height: 100%;
    min-width: 0;
    cursor: default;
    margin: 0 !important;

    .form_internal_menu {
      position: absolute;
      top: 0px;
      left: 0;
      right: 0px;
      li {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  div#js-form-editor--body {
    .form-editor__body-content {
      padding: 30px 30px 30px 30px;
    }
  }
}
body {
  overflow-y: hidden;
}



.styler_row {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;

  .el-form-item {
    width: 50%;
    float: left;
  }

  &.styler_row_3 {
    .el-form-item {
      width: 32%;
      margin-right: 1%;
    }
  }
}

.el-notification,
.el-notification.right,
.el-dialog__wrapper,
.el-color-picker__panel,
.el-tooltip__popper,
.el-popper,
.el-message,
div.mce-inline-toolbar-grp.mce-arrow-up,
#wp-link-wrap {
  z-index: 9999999999 !important;
}

.ff_code_editor textarea {
  background: #353535 !important;
  color: white !important;
}

.el-popper.el-dropdown-list-wrapper {
  .el-dropdown-menu {
    width: 100%;
  }
}

.ff_editor_html {
  display: block;
  width: 100%;
  overflow: hidden;

  img.aligncenter {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

.address-field-option {
  .el-checkbox + .el-checkbox {
    margin-left: 0;
  }

  .required-checkbox {
    margin-right: 10px;
    display: none;

    &.is-open {
      display: block;
    }
  }

  &__settings {
    margin-top: 10px;
    display: none;

    &.is-open {
      display: block;
    }
  }

  .pad-b-20 {
    padding-bottom: 20px !important;
  }
}

.el-form-item {
  .ff_list_inline {
    > div {
      width: auto !important;
      float: none !important;
      margin: 0 15px 10px 0;
      display: -moz-inline-stack;
      display: inline-block;
    }
  }

  .ff_list_3col {
    width: 100%;

    > div {
      width: 33.3%;
      display: -moz-inline-stack;
      display: inline-block;
      margin: 0 0 2px;
      padding-right: 16px;
      min-height: 28px;
      vertical-align: top;
    }
  }

  .ff_list_2col {
    width: 100%;

    > div {
      width: 50%;
      display: -moz-inline-stack;
      display: inline-block;
      margin: 0;
      padding-right: 16px;
      min-height: 28px;
      vertical-align: top;
    }
  }

  .ff_list_4col {
    width: 100%;

    > div {
      width: 25%;
      display: -moz-inline-stack;
      display: inline-block;
      margin: 0;
      padding-right: 16px;
      min-height: 28px;
      vertical-align: top;
    }
  }

  .ff_list_5col {
    width: 100%;

    > div {
      width: 20%;
      display: -moz-inline-stack;
      display: inline-block;
      margin: 0;
      padding-right: 16px;
      min-height: 28px;
      vertical-align: top;
    }
  }

  .ff_list_buttons {
    > div:not(.ff_checkable_images) {
      width: auto !important;
      float: none !important;
      display: -moz-inline-stack;
      display: inline-block;
      position: relative;
      margin: 0 0 10px 0;

      input {
        opacity: 0;
        outline: none;
        position: absolute;
        margin: 0;
        z-index: -1;
      }

      line-height: 1;
      font-weight: 500;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background: #fff;
      border: 1px solid #dcdfe6;
      border-left: 0;
      color: #606266;
      -webkit-appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      padding: 6px 20px;
      border-radius: 0;

      &:first-child {
        border-left: 1px solid #dcdfe6;
        border-radius: 4px 0 0 4px;
        box-shadow: none !important;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

#wpwrap {
  background: white;
}

#switchScreen {
  color: gray;
  font-size: 25px;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}
.form-editor--sidebar .el-form--label-top .el-form-item__label {
  padding-bottom: 6px;
}
.ff_setting_menu {
  li {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &.active {
      opacity: 0.8;
    }
  }
}
.ff_form_name {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.ff-navigation-right {
  .btn.copy, >a {
    opacity: 0.5;
  }
  &:hover {
    .btn.copy, >a {
      opacity: 1;
    }
  }
}

.editor_play_video {
  position: absolute;
  top: 373px;
  right: 38%;
  background: #409eff;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 2px #dae9cc;
  font-size: 19px;
  cursor: pointer;
}