.entry_navs {
  a {
    text-decoration: none;
    padding: 2px 5px;
    &.active {
      background: #20a0ff;
      color: white;
    }
  }
}

.entry-multi-texts {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;
  .mult-text-each {
    padding-left: 7px;
    padding-right: 7px;
    width: 32%;
  }
}

.ff_entry_user_change {
  position: absolute;
  top: -5px;
  right: 0;
}

// address editor
.addresss_editor {
  background: #eaeaea;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  .each_address_field {
    width: 47%;
    padding-right: 7px;
    padding-left: 7px;
    line-height: 1;
    margin-bottom: 20px;
    label{
      color: $base-color;
      font-weight: 500;
      margin-bottom: 10px;
      display: block;
    }
  }
}

.repeat_field_items {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .field_item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-right: 20px;
    &.field_item_action {
      display: block !important;
      flex: 0.35;
      padding-right: 0;
    }
  }
}

table.editor_table, .ff_entry_table_field, .ff-table {
  display: table;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  white-space: normal;
  td {
    border: 1px solid #e4e4e4;
    padding: 7px;
    text-align: left;
  }
  th {
    border: 1px solid #e4e4e4;
    padding: 0px 7px;
    background: whitesmoke;
  }
}

.ff-payment-table {
  tbody {
    td {
      padding: 15px 10px
    }
  }
  thead {
    th {
      padding: 15px 10px;
      font-weight: 500;
      font-size: 120%;
    }
  }
  tfoot {
    th {
      padding: 10px;
    }
    .text-right {
      text-align: right;
    }
  }
}

.ff_list_items {
  li {
    display: flex;
    list-style: none;
    padding: 7px 0px;
    overflow: hidden;
    .dashicons, 
    .dashicons-before::before{
      line-height: inherit;
    }
    &:hover {
      background: #f7fafc;
    }
    .ff_list_header {
      width: 180px;
      font-weight: 600;
      color: $base-color;
    }
  }
}

.edit_entry_view {
  .el-select{
    width: 100%;
  }
  .el-form-item > label {
    font-weight: 500;
    color: $base-color;
  }
  .el-form-item {
    margin-bottom: 0px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .el-form-item:nth-child(even) {
    background: #f9f7f7;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@import "./var";

.fluentform-wrapper {
  .json_action {
    cursor: pointer;
    color: $base-text;
    width: 26px;
    height: 26px;
    background-color: mix($--color-white, $--color-info, 90%);
    border-radius: 5px;
    line-height: 26px;
    text-align: center;
    font-size: 16px;
    margin-right: 8px;
    &:hover{
      background-color: mix($--color-white, $--color-info, 80%);
    }
  }
  .show_code {
    width: 100%;
    min-height: 500px;
    background: #2e2a2a;
    color: white;
    padding: 20px;
    line-height: 24px;
    border: 0;
  }

  // entry
  .entry {
    &-details {
      background-color: #fff;
      .table {
        width: 100%;
        border-collapse: collapse;

        tr {
          &:nth-child(2n) {
            background-color: #fff;
          }
          &:nth-child(2n + 1) {
            background-color: lighten($gray, 6%);
          }

          td {
            padding: 8px 10px;
          }
        }
      }
    }
    &-title {
      margin: 0;
      font-size: 17px;
      margin-bottom: 0;
      border-bottom: 1px solid lighten($gray, 3%);
      padding: 15px;
    }
    &-field,
    &-value {
      padding: 6px 10px;
    }
    &-body {
      padding: 6px 10px;
    }
    &-footer {
      margin-top: 12px;
      padding-top: 20px;
      border-top: 1px solid $border-color;
    }
  }
}

.response_wrapper {
  .response_header {
    font-weight: 700;
    background-color: #EAF2FA;
    border-bottom: 1px solid #FFF;
    line-height: 1.5;
    padding: 7px 7px 7px 10px;
  }
  .response_body {
    border-bottom: 1px solid #DFDFDF;
    padding: 7px 7px 15px 40px;
    line-height: 1.8;
    overflow: hidden;

    * {
      box-sizing: border-box;
    }
  }
}

.ff-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  thead {
    > tr {
      > th {
        padding: 7px 10px;
        background: #f1f1f1;
        color: $base-color;
        font-weight: 500;
      }
    }
  }

  tbody {
    > tr {
      > td {
        padding: 7px 10px;
      }

      &:nth-child(2n) {
        > td {
          background: #f1f1f1;
        }
      }
      &:nth-child(2n - 1) {
        > td {
          background: #fff;
        }
      }
    }
  }
}

.input-image {
  height: auto;
  width: 150px;
  max-width: 100%;
  float: left;
  margin-right: 10px;

  img {
    width: 100%;
  }
}

.input_file {
  &_ext {
    width: 100%;
    display: block;
    background: #eee;
    font-size: 16px;
    text-align: center;
    color: #a7a3a3;
    padding: 15px 10px;

    i {
      font-size: 22px;
      display: block;
      color: #797878;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

// entry info box
.entry_info_box {
  margin-bottom: 24px;
  &_title {
    font-weight: 600;
    font-size: 17px;
    color: $base-color;
    display: inline-flex;
    align-items: center;
  }
}
.ff_entry_detail_wrap{
  .ff_card{
    margin-bottom: 24px;
  }
}

// wpf each entry
.wpf{
  &_each_entry {
    padding: 12px 0;
    border-bottom: 1px solid $border-color;
    &:first-child{
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  &_entry{
    &_label {
      font-weight: 500;
      color: $base-color;
      font-size: 14px;
      position: relative;
    }
    &_value {
      margin-top: 8px;
      white-space: pre-line;
    }
    &_remove{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.entry_info_body.narrow_items {
  padding: 15px;
  padding: 0px 15px 15px;
  .wpf_each_entry {
    * {
      word-break: break-all;
    }
    margin: 0 -15px;
    padding: 10px 15px;
    p {
      margin: 5px 0px;
    }
  }
}

.wpf_entry_value input[type="checkbox"]:disabled:checked {
  opacity: 1 !important;
  border: 1px solid #65afd2;
}

.wpf_entry_value input[type="checkbox"]:disabled {
  opacity: 1 !important;
  border: 1px solid #909399;
}

a.input-image {
  border: 1px solid #e3e8ee;
}

a.input-image:hover {
  border: 1px solid gray;
  img {
    opacity: 0.8;
  }
}

.show_on_hover {
  display: none;
}

.el-table__row:hover .show_on_hover {
  display: inline-block;
}

.show_on_hover {
  .icon{
    &-favorite{
      font-size: 18px;
      color: $--color-warning;
      &.el-icon-star-on{
        font-size: 20px;
      }
    }
    &-status{
      font-size: 16px;
      color: $--color-text-regular;
    }
  }
  [class*="el-icon-"],
  [class^="el-icon-"] {
    margin-left: 2px;
  }
}

.inline_actions {
  margin-left: 5px;
}

.inline_item.inline_actions {
  display: inline-block;
}

.action_button {
  cursor: pointer;
}

.current_form_name{
  button.el-button.el-button--default.el-button--mini {
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.ff_form_editor_entries_actions{
  .ff_section_head_content{
    margin-bottom: 10px;
  }
}
.ff_email_resend_inline + .compact_input{
  margin-left: 10px;
}
.compact_input {
  .el-checkbox__label {
    padding-left: 5px;
  }
}

.ff_report_body {
  width: 100%;
  min-height: 20px;
}

@media print {
  div#adminmenumain, .ff_nav_action {
    display: none;
  }

  div#wpadminbar {
    display: none;
  }

  .form_internal_menu {
    display: none;
  }

  .ff_print_hide, .ff_chart_switcher {
    display: none !important;
  }

  div#wpcontent {
    margin-left: 0;
    padding-left: 0;
  }

  html.wp-toolbar {
    padding: 0px;
  }
  .wrap.ff_form_wrap, div#wpcontent {
    background: white;
  }

  .ff_report_body {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
  }
  .ff_form_application_container {
    margin-top: 0px !important;
  }
  .all_report_items {
    width: 100% !important;
  }
  .ff-table {
    width: auto;
    border-collapse: collapse;
    text-align: left;
    float: right;
  }
}

// report
.all_report_items {
  .entriest_chart_wrapper{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }
  .ff_card{
    margin-bottom: 24px;
  }
}

.report{
  &_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .title{
      font-weight: 600;
      font-size: 16px;
      color: #1e1f21;
    }
    .ff_chart_switcher {
      span {
        cursor: pointer;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: mix($--color-white, $--color-info, 90%);
        border-radius: 6px;
        &.active_chart {
          background: $--color-primary;
          color: $--color-white;
        }
        &.ff_rotate_90 {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
    }
  }
  &_body {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .chart_data {
      width: 50%;
    }
    .ff_chart_view {
      width: 50%;
      max-width: 380px;
    }
  }
}

ul.entry_item_list {
  padding-left: 30px;
  list-style: disc;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: disc;
}

.star_big {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle !important;
}

.wpf_each_entry{
  ul {
    padding-left: 14px;
    list-style: disc;
    li{
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
  }
}

.el-table-column--selection .cell {
  text-overflow: clip !important;
}

.ff-error {
  background: #FF9800;
  color: white;
  padding: 10px;
}

.ff-success {
  padding: 10px;
  background: #4CAF50;
  color: white;
}

tr.el-table__row td {
  padding: 18px 0px;
}

.add_note_wrapper {
  padding: 20px;
}
.fluent_notes {
  .fluent_note_content {
    background: #eaf2fa;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 160%;
  }
  .fluent_note_meta {
    padding: 5px 15px;
    font-size: 11px;
  }
}
.wpf_add_note_box button {
  margin-top: 15px;
}

.wpf_add_note_box {
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 30px;
}
span.ff_tag {
  background: #626261;
  color: #fff;
  padding: 4px 6px;
  border-radius: 10px;
  font-size: 10px;
  text-transform: capitalize;
}

.el-table .cell.el-tooltip {
  max-height: 50px;
  overflow: hidden;
}

.form-editor--sidebar {
  position: relative;
}

.code {
  overflow-x: scroll;
}

.search-element {
  padding: 10px 20px;
}

.ff-user-guide {
  text-align: center;
  margin-top: -105px;
  position: relative;
  z-index: 1;
}

.post-form-settings {
  label.el-form-item__label {
    font-weight: 500;
    margin-top: 8px;
    color: #606266;
  }
}

// transaction
.transaction{
  &_item{
    &_small {
      background: #f7f7f7;
      margin-bottom: 16px;
    }
    &_heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #d2d2d2;
      padding: 14px 20px;
    }
    &_body{
      padding: 14px 20px;
    }
    &_line {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
  &_heading{
    &_title {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.ff_badge_status_ {
  &pending {
    background-color: $--color-warning;
  }
  &paid {
    background: $--color-success;
    color: white;
    border-color: $--color-success;
  }
}

.entry_submission_log {
  .wpf_entry_label {
    margin-bottom: 10px;
  }

  &_component {
    font-weight: bold;
    text-transform: capitalize;
  }

  .log_status_failed, .log_status_error {
    background: $--color-danger;
  }

  .log_status_success {
    background: $--color-success;
  }
}

.ff_report_card + .ff_print_hide {
  margin-top: 40px;
}
