.ultimate-nav-menu {
    background-color: #fff;
    border-radius: 4px;
    > ul {
        margin: 0;

        > li {
            display: inline-block;
            margin: 0;
            font-weight: 600;

            + li {
                margin-left: -4px;
            }

            a {
                padding: 10px;
                display: block;
                text-decoration: none;
                color: #23282d;

                &:hover {
                    background-color: $--color-primary;
                    color: #fff;
                }
            }

            &:first-of-type  a {
                border-radius: 4px 0 0 4px;
            }

            &.active a {
                background-color: $--color-primary;
                color: #fff;
            }
        }
    }
}

.nav-tab-list {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    z-index: 10;
    top: 0;
    li {
        margin-bottom: 0;
        flex: 1;
        &.active {
            a{
                background-color: $tab-link-active-bg;
                color: $tab-link-active-color;
            }
        }
        a {
            color: $tab-link-color;
            display: block;
            padding: 12px;
            font-weight: 500;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            background-color: $tab-link-bg;
            &:focus {
                box-shadow: none;
            }
        }
    }
}

.toggle-fields-options {
    overflow: hidden;
}

.nav-tab-items {
    background-color: #fff;
}