.fluentform{
    @media only screen and (min-width: 641px) {
        .ff-el-group {
          &.ff_list_3col {
            .ff-el-form-check {
              width: 33.3%;
              display: -moz-inline-stack;
              display: inline-block;
              margin: 0 0 2px;
              padding-right: 16px;
              min-height: 28px;
              vertical-align: top;
            }
          }
    
          &.ff_list_2col {
            .ff-el-form-check {
              width: 50%;
              display: -moz-inline-stack;
              display: inline-block;
              margin: 0;
              padding-right: 16px;
              min-height: 28px;
              vertical-align: top;
            }
          }
    
          &.ff_list_4col {
            .ff-el-form-check {
              width: 25%;
              display: -moz-inline-stack;
              display: inline-block;
              margin: 0;
              padding-right: 16px;
              min-height: 28px;
              vertical-align: top;
            }
          }
    
          &.ff_list_5col {
            .ff-el-form-check {
              width: 20%;
              display: -moz-inline-stack;
              display: inline-block;
              margin: 0;
              padding-right: 16px;
              min-height: 28px;
              vertical-align: top;
            }
          }
    
          &.ff_list_inline {
            .ff-el-form-check {
              width: auto !important;
              float: none !important;
              margin: 0 15px 10px 0;
              display: -moz-inline-stack;
              display: inline-block;
            }
          }
        }
    }
}

table.ff_flexible_table {
  @media (max-width: 767px) {
    border: 0;
    &.ff-checkable-grids {
      border: 0;
      tbody {
        tr {
          padding-top: 0 !important;
          td.ff_grid_header {
            text-align: center;
            background-color: #eeeeee !important;
            margin: 0;
          }
          td {
            text-align: left !important;
            &::before {
              content: none !important;
            }
            &::after {
              padding-left: 10px;
              content: attr(data-label);
              letter-spacing: .5pt;
              white-space: nowrap;
              display: inline-block;
            }
          }
        }
        tr:nth-child(2n) > td {
          background: transparent;
        }
      }
    }

    thead {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tbody {
      tr {
        display: block;
        background: #fff;
        position: relative;
        border: 1px solid #ced4da;
        border-top: 2px solid #ced4da;
        border-bottom: 4px solid #ced4da;
        margin: 16px 0 10px;
        padding-top: 12px !important;

        td {
          padding: 5px;
          display: block;
          margin-left: 8px;
          margin-right: 8px;

          &::before {
            content: attr(data-label);
            font-size: .875em;
            letter-spacing: .5pt;
            white-space: nowrap;
            display: block;
            clear: both;
          }

          &.repeat_btn {
            width: 100% !important;
            padding: 10px !important;
            background-color: #EEE;
            margin-left: 0px;

            .ff-el-repeat-buttons-list {
              width: 100%;
              float: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .lity-container {
    width: 96%;
  }
  .fluentform .ff-t-container .ff-name-title{
    width: 100%;
  }

}