@use "sass:math";

@mixin landing_form_wrapper($breakpoint) {
  padding: 0 40px;
  width: 50%;

  @media (max-width: $breakpoint) {
    padding: 0 0 40px 0;
    width: 90%;
    margin: 0px auto;
  }
}
.ff_landing_page_body {
  height: 100vh;
  @media (max-width: 1023px) {
    overflow: auto;
  }

  .ff_landing_wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;

    &.ff_landing_design_modern {
      .ff_landing_form {
        box-shadow: 0 30px 40px 0 rgb(0 0 0 / 25%), inset 0 4px 0 0 #a1c5e5;
        border-radius: 8.5px;
        background-color: white;
        color: #444;
      }
    }

    .ff_landing_form_wrapper {
      max-width: 740px;
      padding: 0 40px;
      margin: 0 auto;

      @media (max-width: 1023px) {
        padding: 0;
        width: 100%;
      }
    }

    .ff_landing_form {
      width: 100% !important;
      padding: 30px 40px 30px;
      box-sizing: border-box;

      .ff_landing_header {
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 24px;
        margin-bottom: 25px;

        .ff_landing-custom-logo {
          margin-top: 12px;
          margin-bottom: 29px;

          img {
            max-height: 225px;
            max-width: 100%;
            display: block;
            margin: 0 auto;
          }
        }

        h1 {
          margin: 0 0 9px 0;
          font-size: 30px;
          color: #444;
        }

        .ff_landing_desc {
          font-size: 16px;
          font-weight: 300;
          color: #444;
        }
      }
    }

    &.ff_landing_layout_default {
      .ff_landing_form_wrapper {
        padding: 0px;
        width: 100%;
      }
    }

  }

  .ff_landing_wrapper:not(.ff_landing_layout_default) {
    .ff_landing_form_wrapper {
      @include landing_form_wrapper(1023px);
    }
  }


  .ff_landing_media_holder {
    width: 50%;
    text-align: center;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

    .fc_image_holder {
      display: block;
      overflow: hidden;
      img {
        display: inline-block;
      }
    }

    @media (max-width: 1023px) {
      margin-bottom: 50px;
      width: 100%;
    }
  }

  // landing layout media
  .ff_landing_layout_media{
    &_left {
      flex-direction: row-reverse;
      .ff_landing_form_wrapper {
        margin-left: auto;
        margin-right: 0;
        @media (max-width: 1023px) {
          margin-left: 0;
          padding: 0;
        }
      }
      .ff_landing_media_holder {
        @media (max-width: 1023px) {
          margin-top: 50px;
        }
        img {
          width: auto;
          max-width: 720px;
          max-height: 75vh;
          @media (max-width: 1023px) {
            width: 100%;
            object-fit: cover;
          }
        }
      }
      &_full {
        flex-direction: row-reverse;
      }
    }
    &_right {
      .ff_landing_form_wrapper {
        margin: 0;
      }
      .ff_landing_media_holder {
        @media (max-width: 1023px) {
          margin-top: 50px;
        }
        img {
          width: auto;
          max-width: 720px;
          max-height: 75vh;
          @media (max-width: 1023px) {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    &_right_full,
    &_left_full {
      .ff_landing_media_holder {
        img {
          display: block;
          margin: 0 auto;
          width: 100%;
          height: 100vh;
          object-fit: cover;
          object-position: 50% 50%;
          max-height: 100vh;
        }
      }
    }
  }


  .ff_landing_layout_media_left_full,
  .ff_landing_layout_media_right,
  .ff_landing_layout_media_right_full {
    height: auto;

    .ff_landing_form {
      margin: unset;
      height: auto;
      max-height: calc(100vh - 100px);
      justify-content: center;
      overflow: auto;
      @media (max-width: 1023px) {
        height: auto;
      }
      @media (max-width: 600px) {
        max-height: inherit;
      }
    }

    .ff_landing_media_holder {
      @media (max-width: 1023px) {
        position: relative;
      }

      img {
        @media (max-width: 1023px) {
          height: 46vh;
        }
      }
    }

  }

  .ff_landing_layout_default {
    padding: 80px 20px 100px 20px;
    
    .ff_landing_form {
      width: 100%;
    }
  }

  .ff_landing_layout_double_optin_confirm{
    padding-top: 80px;
    padding-bottom: 100px;
    .ff_landing_form_wrapper{
      max-width: 740px;
      margin: 0 auto;
      box-sizing: border-box;
      box-shadow: 0 30px 40px 0 rgb(0 0 0 / 25%), inset 0 4px 0 0 #a1c5e5;
      border-radius: 8.5px;
      background-color: white;
      .ff_landing_body{
        padding: 30px 40px 30px;
      }
    }
  }

  .ff_landing_layout_media_left_full {
    .ff_landing_media_holder {
      left: 0;
    }
  }

  .ff_landing_layout_media_right_full {
    .ff_landing_media_holder {
      right: 0;
    }
  }

  .ff_landing_layout_media_right,
  .ff_landing_layout_media_left {
    height: 100%;

    .ff_landing_form {
      height: auto;
      max-height: calc(100vh - 100px);
      @media (max-width: 1023px) {
        max-height: inherit;
      }
    }

    @media (max-width: 1023px) {
      padding: 0;
      height: auto;
      align-items: flex-start;
      flex-direction: column-reverse;
    }

    .fc_image_holder {
      @media (max-width: 1023px) {
        text-align: center;
        padding: 0 40px;
        position: relative;
      }
    }
  }

  .ff_landing_layout_media_left_full,
  .ff_landing_layout_media_right_full {
    padding: 0;
    height: 100%;
    @media (max-width: 1023px) {
      height: auto;
      align-items: center;
      flex-direction: column-reverse;
    }

    .ff_landing_form_wrapper {
      margin: 0;
    }
  }
}


@mixin makeMediaCss($media, $screen) {
  @if $media == full {
    padding: 0;
    height: 100%;
    @if $screen == 1023 {
      .ff_landing_media_holder {
        margin-bottom: 0;
        img {
          width: 100%;
          height: 100vh;
          max-height: 100vh;
        }
      }
    } @else if($screen == 600) {
      height: auto;
      .ff_landing_media_holder {
        margin-bottom: 30px;
        img {
          width: 100%;
          height: 35vh;
          max-height: 35vh;
        }
      }
    }
  }
  @else if($media == notfull) {
    @if $screen == 1023 {
      .ff_landing_form {
        height: auto;
        max-height: calc(100vh - 100px);
      }
      .fc_image_holder {
          display: block;
          overflow: hidden;
          img {
            display: inline-block;
            height: auto;
            width: auto;
            max-width: 100%;
            max-height: 75vh;
          }
      }
      .ff_landing_media_holder {
        margin-bottom: 0;
      }
    } @else if($screen == 600) {
      .ff_landing_form {
          max-height: inherit;
      }
      .fc_image_holder {
          text-align: center;
          padding: 0 40px;
          position: relative;
          img {
            max-height: 35vh;
          }
      }
      .ff_landing_media_holder {
        margin-bottom: 30px;
      }
    }
  }
}

@mixin makeLayoutCss($direction, $media) {
  @media (max-width: 1023px) {
    align-items: center ;
    height: 100%;
    @if $direction == left {
      flex-direction: row-reverse;
    } @else if $direction == right {
      flex-direction: row;
    }
    @include makeMediaCss($media, 1023);
  }
  @media (max-width: 600px) {
    padding: 0;
    height: auto;
    align-items: center;
    flex-direction: column-reverse;
    @include makeMediaCss($media, 600);
  }
}

.landing-page-settings-iframe.ff_landing_page_body {
    overflow: auto ;
    .ff_landing_layout_media_left {
      @include makeLayoutCss(left, notfull);
    }
    .ff_landing_layout_media_right {
      @include makeLayoutCss(right, notfull);
    }
    .ff_landing_layout_media_right_full {
      @include makeLayoutCss(right, full);
    }
    .ff_landing_layout_media_left_full {
      @include makeLayoutCss(left, full);
    }
    .ff_landing_wrapper:not(.ff_landing_layout_default) {
      .ff_landing_form_wrapper {
        @include landing_form_wrapper(600px);
      }
    }
    .ff_landing_media_holder {
      width: 50%;
      @media (max-width: 600px) {
        margin-bottom: 30px;
        width: 100%;
      }
    }
  }
