@charset "UTF-8";
@font-face {
  font-family: "fluentformeditors";
  src: url("fonts/fluentformeditors.eot");
  src: url("fonts/fluentformeditors.eot?#iefix") format("embedded-opentype"),
  url("fonts/fluentformeditors.woff") format("woff"),
  url("fonts/fluentformeditors.ttf") format("truetype"),
  url("fonts/fluentformeditors.svg#fluentformeditors") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="ff-edit-"]:before,
[class*=" ff-edit-"]:before {
  font-family: "fluentformeditors" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ff-icon-lock:before {
  font-size: 30px;
}

.ff-edit-column-2:before {
  content: "\62";
}

.ff-edit-rating:before {
  content: "\63";
}

.ff-edit-checkable-grid:before {
  content: "\64";
}

.ff-edit-hidden-field:before {
  content: "\65";
}

.ff-edit-section-break:before {
  content: "\66";
}

.ff-edit-recaptha:before {
  content: "\67";
}

.ff-edit-html:before {
  content: "\68";
}

.ff-edit-shortcode:before {
  content: "\69";
}

.ff-edit-terms-condition:before {
  content: "\6a";
}

.ff-edit-action-hook:before {
  content: "\6b";
}

.ff-edit-step:before {
  content: "\6c";
}

.ff-edit-name:before {
  content: "\6d";
}

.ff-edit-email:before {
  content: "\6e";
}

.ff-edit-text:before {
  content: "\6f";
}

.ff-edit-mask:before {
  content: "\70";
}

.ff-edit-textarea:before {
  content: "\71";
}

.ff-edit-address:before {
  content: "\72";
}

.ff-edit-country:before {
  content: "\73";
}

.ff-edit-dropdown:before {
  content: "\75";
}

.ff-edit-radio:before {
  content: "\76";
}

.ff-edit-checkbox-1:before {
  content: "\77";
}

.ff-edit-multiple-choice:before {
  content: "\78";
}

.ff-edit-website-url:before {
  content: "\79";
}

.ff-edit-password:before {
  content: "\7a";
}

.ff-edit-date:before {
  content: "\41";
}

.ff-edit-files:before {
  content: "\42";
}

.ff-edit-images:before {
  content: "\43";
}

.ff-edit-gdpr:before {
  content: "\45";
}

.ff-edit-three-column:before {
  content: "\47";
}

.ff-edit-repeat:before {
  content: "\46";
}

.ff-edit-numeric:before {
  content: "\74";
}
.ff-edit-credit-card:before {
  content: "\61";
}
.ff-edit-keyboard-o:before {
  content: "\44";
}
.ff-edit-shopping-cart:before {
  content: "\48";
}
.ff-edit-link:before {
  content: "\49";
}
.ff-edit-ios-cart-outline:before {
  content: "\4a";
}
.ff-edit-tint:before {
  content: "\4b";
}
